unpackaged/main/default/flows/Account_Merge_Duplicate_Merge_Audit_Trail.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Check_Master_Account</name>
        <label>Check Master Account</label>
        <locationX>374</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>continue</defaultConnectorLabel>
        <rules>
            <name>Account_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getMasterAccount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Record_Type</targetReference>
            </connector>
            <label>Account Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Flow_Automations_Off</name>
        <label>Flow Automations Off</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>getMasterAccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_Has_Flows_Off_Permission_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Flow_Automations_Off</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>User Has Flows Off Permission Set</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DuplicateMergeNameFormula</name>
        <dataType>String</dataType>
        <expression>{!getMasterAccount.Name} &amp; &quot; - &quot; &amp; text({!$Flow.CurrentDate})</expression>
    </formulas>
    <interviewLabel>Account Merge (Duplicate Merge Audit Trail) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Merge (Duplicate Merge Audit Trail)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>New_Duplicate_Merge_Audit_Trail</name>
        <label>New Duplicate Merge Audit Trail</label>
        <locationX>242</locationX>
        <locationY>638</locationY>
        <inputAssignments>
            <field>Duplicate_Account_External_ID__c</field>
            <value>
                <elementReference>oldAccount.Account_Record_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duplicate_SF_ID__c</field>
            <value>
                <elementReference>oldAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Master_Account_External_ID__c</field>
            <value>
                <elementReference>getMasterAccount.Account_Record_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Master_Account__c</field>
            <value>
                <elementReference>getMasterAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Master_SF_ID__c</field>
            <value>
                <elementReference>getMasterAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>DuplicateMergeNameFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Duplicate_Merge_Audit_Trail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>242</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Duplicate_Merge_Audit_Trail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Duplicate_Merge_Audit_Trail__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account_Duplicate_Merge_Audit_Trail</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getMasterAccount</name>
        <label>getMasterAccount</label>
        <locationX>374</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Master_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MasterRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Flow_Automations_Off</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>MasterRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>oldAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
