unpackaged/main/default/flows/Account_After_Insert_Update_Handle_Ownership_Field_Changes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_to_Collection_Variable</name>
        <label>Add to Collection Variable</label>
        <locationX>259</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>varCollectionRMH</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_former_Portfolio_Managers</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_former_Portfolio_Managers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Previous_and_Current_PG_Portfolio_Manager_Variables</name>
        <label>Assign Previous and Current PG Portfolio Manager Variables</label>
        <locationX>182</locationX>
        <locationY>8855</locationY>
        <assignmentItems>
            <assignToReference>varCurrentPG_PM</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PG_Portfolio_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFormerPG_PM</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.PG_Portfolio_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PG Portfolio Manager</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Flow_Automations_Off_PG_PM_Node</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Previous_and_Current_Portfolio_Manager_Variables</name>
        <label>Assign Previous and Current Portfolio Manager Variables</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>varCurrentPM</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Portfolio_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFormerPM</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Portfolio_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Portfolio Manager</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Flow_Automations_Off</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Previous_and_Current_Relationship_Manager_1_Variables</name>
        <label>Assign Previous and Current Relationship Manager (1) Variables</label>
        <locationX>182</locationX>
        <locationY>2807</locationY>
        <assignmentItems>
            <assignToReference>varCurrentRM1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account_Primary_Handler__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFormerRM1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Account_Primary_Handler__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Relationship Manager</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Flow_Automations_Off</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Previous_and_Current_Relationship_Manager_2_Variables</name>
        <label>Assign Previous and Current Relationship Manager (2) Variables</label>
        <locationX>182</locationX>
        <locationY>4823</locationY>
        <assignmentItems>
            <assignToReference>varCurrentRM2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Additional_Handler_1__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFormerRM2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Additional_Handler_1__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Relationship Manager 2</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Flow_Automations_Off_RM2_Node</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Previous_and_Current_Relationship_Manager_3_Variables</name>
        <label>Assign Previous and Current Relationship Manager (3) Variables</label>
        <locationX>182</locationX>
        <locationY>6839</locationY>
        <assignmentItems>
            <assignToReference>varCurrentRM3</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Additional_Handler_2__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFormerRM3</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Additional_Handler_2__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Relationship Manager 3</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Flow_Automations_Off_RM3_Node</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PG_PM_Add_to_Collection_Variable</name>
        <label>PG PM - Add to Collection Variable</label>
        <locationX>259</locationX>
        <locationY>9695</locationY>
        <assignmentItems>
            <assignToReference>varCollectionRMH</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_former_PG_Portfolio_Managers</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_former_PG_Portfolio_Managers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PG_PM_Set_End_Date</name>
        <label>PG PM - Set End Date</label>
        <locationX>259</locationX>
        <locationY>9575</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_former_PG_Portfolio_Managers.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PG_PM_Add_to_Collection_Variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RM1_Add_to_Collection_Variable</name>
        <label>RM1 - Add to Collection Variable</label>
        <locationX>259</locationX>
        <locationY>3647</locationY>
        <assignmentItems>
            <assignToReference>varCollectionRMH</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_former_Relationship_Managers_1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_former_Relationship_Managers_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RM1_Set_End_Date</name>
        <label>RM1 - Set End Date</label>
        <locationX>259</locationX>
        <locationY>3527</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_former_Relationship_Managers_1.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RM1_Add_to_Collection_Variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RM2_Add_to_Collection_Variable</name>
        <label>RM2 -  Add to Collection Variable</label>
        <locationX>259</locationX>
        <locationY>5663</locationY>
        <assignmentItems>
            <assignToReference>varCollectionRMH</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_former_Relationship_Managers_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_former_Relationship_Managers_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RM2_Set_End_Date</name>
        <label>RM2 - Set End Date</label>
        <locationX>259</locationX>
        <locationY>5543</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_former_Relationship_Managers_2.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RM2_Add_to_Collection_Variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RM3_Add_to_Collection_Variable</name>
        <label>RM3 -  Add to Collection Variable</label>
        <locationX>259</locationX>
        <locationY>7679</locationY>
        <assignmentItems>
            <assignToReference>varCollectionRMH</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_former_Relationship_Managers_3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_former_Relationship_Managers_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RM3_Set_End_Date</name>
        <label>RM3 - Set End Date</label>
        <locationX>259</locationX>
        <locationY>7559</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_former_Relationship_Managers_3.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RM3_Add_to_Collection_Variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_End_Date</name>
        <label>Set End Date</label>
        <locationX>259</locationX>
        <locationY>1175</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_former_Portfolio_Managers.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection_Variable</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Copy_1_of_Flow_Automations_Off</name>
        <label>Copy 1 of Flow Automations Off</label>
        <locationX>182</locationX>
        <locationY>2927</locationY>
        <defaultConnector>
            <targetReference>Was_previous_Relationship_Manager_1_set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_User_Has_Flows_Off_Permission_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Flow_Automations_Off</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Relationship_Manager_2_Changed</targetReference>
            </connector>
            <label>Copy 1 of User Has Flows Off Permission Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>Flow_Automations_Off</name>
        <label>Flow Automations Off</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Was_previous_Portfolio_Manager_set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_Has_Flows_Off_Permission_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Flow_Automations_Off</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_Manager_Update_Opportunities</targetReference>
            </connector>
            <label>User Has Flows Off Permission Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>Flow_Automations_Off_PG_PM_Node</name>
        <label>Flow Automations Off (PG_PM Node)</label>
        <locationX>182</locationX>
        <locationY>8975</locationY>
        <defaultConnector>
            <targetReference>Was_previous_PG_Portfolio_Manager_set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_Has_Flows_Off_Permission_Set_PG_PM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Flow_Automations_Off</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_PG_PM_Manager_Update_Opportunities</targetReference>
            </connector>
            <label>User Has Flows Off Permission Set (PG_PM)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Flow_Automations_Off_RM2_Node</name>
        <label>Flow Automations Off - RM2 Node</label>
        <locationX>182</locationX>
        <locationY>4943</locationY>
        <defaultConnector>
            <targetReference>Was_previous_Relationship_Manager_2_set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_Has_Flows_Off_Permission_Set_RM2_Node</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Flow_Automations_Off</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Relationship_Manager_3_Changed</targetReference>
            </connector>
            <label>User Has Flows Off Permission Set - RM2 Node</label>
        </rules>
    </decisions>
    <decisions>
        <name>Flow_Automations_Off_RM3_Node</name>
        <label>Flow Automations Off - RM3 Node</label>
        <locationX>182</locationX>
        <locationY>6959</locationY>
        <defaultConnector>
            <targetReference>Was_previous_Relationship_Manager_3_set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_Has_Flows_Off_Permission_Set_RM3_Node</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Flow_Automations_Off</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PG_Portfolio_Manager_Changed</targetReference>
            </connector>
            <label>User Has Flows Off Permission Set - RM3 Node</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Manager_Update_Opportunities</name>
        <label>Has Manager --&gt; Update Opportunities?</label>
        <locationX>182</locationX>
        <locationY>2255</locationY>
        <defaultConnector>
            <targetReference>Relationship_Manager_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>continue</defaultConnectorLabel>
        <rules>
            <name>Call_Update_Opportunities</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Portfolio_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunities</targetReference>
            </connector>
            <label>Call Update Opportunities</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_PG_PM_Manager_Update_Opportunities</name>
        <label>Has PG PM Manager --&gt; Update Opportunities?</label>
        <locationX>182</locationX>
        <locationY>10655</locationY>
        <defaultConnectorLabel>continue</defaultConnectorLabel>
        <rules>
            <name>Call_Update_Opportunities_PG_PM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PG_Portfolio_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunities_PG_PM</targetReference>
            </connector>
            <label>Call Update Opportunities (PG PM)</label>
        </rules>
    </decisions>
    <decisions>
        <name>PG_Portfolio_Manager_Changed</name>
        <label>PG Portfolio Manager Changed</label>
        <locationX>484</locationX>
        <locationY>8735</locationY>
        <defaultConnectorLabel>continue</defaultConnectorLabel>
        <rules>
            <name>Change_PG_Portfolio_Manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.PG_Portfolio_Manager__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.PG_Portfolio_Manager__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Previous_and_Current_PG_Portfolio_Manager_Variables</targetReference>
            </connector>
            <label>Change PG Portfolio Manager</label>
        </rules>
    </decisions>
    <decisions>
        <name>Portfolio_Manager_Changed</name>
        <label>Portfolio Manager Changed</label>
        <locationX>484</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Relationship_Manager_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>continue</defaultConnectorLabel>
        <rules>
            <name>Change_Portfolio_Manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Portfolio_Manager__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Portfolio_Manager__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Previous_and_Current_Portfolio_Manager_Variables</targetReference>
            </connector>
            <label>Change Portfolio Manager</label>
        </rules>
    </decisions>
    <decisions>
        <name>Relationship_Manager_2_Changed</name>
        <label>Relationship Manager (2) Changed</label>
        <locationX>484</locationX>
        <locationY>4703</locationY>
        <defaultConnector>
            <targetReference>Relationship_Manager_3_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>continue</defaultConnectorLabel>
        <rules>
            <name>Change_Relationship_Manager_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Additional_Handler_1__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Additional_Handler_1__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Previous_and_Current_Relationship_Manager_2_Variables</targetReference>
            </connector>
            <label>Change Relationship Manager (2)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Relationship_Manager_3_Changed</name>
        <label>Relationship Manager (3) Changed</label>
        <locationX>484</locationX>
        <locationY>6719</locationY>
        <defaultConnector>
            <targetReference>PG_Portfolio_Manager_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>continue</defaultConnectorLabel>
        <rules>
            <name>Change_Relationship_Manager_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Additional_Handler_2__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Additional_Handler_2__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Previous_and_Current_Relationship_Manager_3_Variables</targetReference>
            </connector>
            <label>Change Relationship Manager (3)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Relationship_Manager_Changed</name>
        <label>Relationship Manager Changed</label>
        <locationX>484</locationX>
        <locationY>2687</locationY>
        <defaultConnector>
            <targetReference>Relationship_Manager_2_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>continue</defaultConnectorLabel>
        <rules>
            <name>Change_Relationship_Manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Account_Primary_Handler__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Account_Primary_Handler__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Previous_and_Current_Relationship_Manager_1_Variables</targetReference>
            </connector>
            <label>Change Relationship Manager</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_current_PG_Portfolio_Manager_set</name>
        <label>Was current PG Portfolio Manager set?</label>
        <locationX>457</locationX>
        <locationY>10223</locationY>
        <defaultConnector>
            <targetReference>Has_PG_PM_Manager_Update_Opportunities</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, PG PM Not Set - continue</defaultConnectorLabel>
        <rules>
            <name>Yes_Insert_Current_PG_Portfolio_Manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCurrentPG_PM</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCurrentPG_PM</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Insert_New_RMH_PG_PM_Record</targetReference>
            </connector>
            <label>Yes --&gt; Insert Current PG Portfolio Manager</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_current_Portfolio_Manager_set</name>
        <label>Was current Portfolio Manager set?</label>
        <locationX>457</locationX>
        <locationY>1823</locationY>
        <defaultConnector>
            <targetReference>Has_Manager_Update_Opportunities</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, PM Not Set - continue</defaultConnectorLabel>
        <rules>
            <name>Yes_Insert_Current_Portfolio_Manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCurrentPM</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCurrentPM</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Insert_New_RMH_Record</targetReference>
            </connector>
            <label>Yes --&gt; Insert Current Portfolio Manager</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_current_Relationship_Manager_1_set</name>
        <label>Was current Relationship Manager (1) set?</label>
        <locationX>457</locationX>
        <locationY>4175</locationY>
        <defaultConnector>
            <targetReference>Relationship_Manager_2_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, RM(1) Not Set - continue</defaultConnectorLabel>
        <rules>
            <name>Yes_Insert_Current_Relationship_Manager_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCurrentRM1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCurrentRM1</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Insert_New_RMH_RM1_Record</targetReference>
            </connector>
            <label>Yes --&gt; Insert Current Relationship Manager (1)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_current_Relationship_Manager_2_set</name>
        <label>Was current Relationship Manager (2) set?</label>
        <locationX>457</locationX>
        <locationY>6191</locationY>
        <defaultConnector>
            <targetReference>Relationship_Manager_3_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, RM(2) Not Set - continue</defaultConnectorLabel>
        <rules>
            <name>Yes_Insert_Current_Relationship_Manager_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCurrentRM2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCurrentRM2</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Insert_New_RMH_RM2_Record</targetReference>
            </connector>
            <label>Yes --&gt; Insert Current Relationship Manager (2)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_current_Relationship_Manager_3_set</name>
        <label>Was current Relationship Manager (3) set?</label>
        <locationX>457</locationX>
        <locationY>8207</locationY>
        <defaultConnector>
            <targetReference>PG_Portfolio_Manager_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, RM(3) Not Set - continue</defaultConnectorLabel>
        <rules>
            <name>Yes_Insert_Current_Relationship_Manager_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCurrentRM3</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCurrentRM3</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Insert_New_RMH_RM3_Record</targetReference>
            </connector>
            <label>Yes --&gt; Insert Current Relationship Manager (3)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_previous_PG_Portfolio_Manager_set</name>
        <label>Was previous PG Portfolio Manager set?</label>
        <locationX>457</locationX>
        <locationY>9095</locationY>
        <defaultConnector>
            <targetReference>Was_current_PG_Portfolio_Manager_set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Process_previous_PG_Portfolio_Manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varFormerPG_PM</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varFormerPG_PM</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Previous_PG_Portfolio_Manager</targetReference>
            </connector>
            <label>Process previous PG Portfolio Manager</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_previous_Portfolio_Manager_set</name>
        <label>Was previous Portfolio Manager set?</label>
        <locationX>457</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Was_current_Portfolio_Manager_set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Process_previous_Portfolio_Manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varFormerPM</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varFormerPM</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Previous_Portfolio_Manager</targetReference>
            </connector>
            <label>Process previous Portfolio Manager</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_previous_Relationship_Manager_1_set</name>
        <label>Was previous Relationship Manager (1) set?</label>
        <locationX>457</locationX>
        <locationY>3047</locationY>
        <defaultConnector>
            <targetReference>Was_current_Relationship_Manager_1_set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Process_previous_Relationship_Manager_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varFormerRM1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varFormerRM1</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Previous_Relationship_Manager_1</targetReference>
            </connector>
            <label>Process previous Relationship Manager (1)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_previous_Relationship_Manager_2_set</name>
        <label>Was previous Relationship Manager (2) set?</label>
        <locationX>457</locationX>
        <locationY>5063</locationY>
        <defaultConnector>
            <targetReference>Was_current_Relationship_Manager_2_set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Process_previous_Relationship_Manager_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varFormerRM2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varFormerRM2</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Previous_Relationship_Manager_2</targetReference>
            </connector>
            <label>Process previous Relationship Manager (2)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_previous_Relationship_Manager_3_set</name>
        <label>Was previous Relationship Manager (3) set?</label>
        <locationX>457</locationX>
        <locationY>7079</locationY>
        <defaultConnector>
            <targetReference>Was_current_Relationship_Manager_3_set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Process_previous_Relationship_Manager_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varFormerRM3</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varFormerRM3</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Previous_Relationship_Manager_3</targetReference>
            </connector>
            <label>Process previous Relationship Manager (3)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Were_former_PG_Portfolio_Managers_found</name>
        <label>Were former PG Portfolio Managers found?</label>
        <locationX>303</locationX>
        <locationY>9335</locationY>
        <defaultConnector>
            <targetReference>Was_current_PG_Portfolio_Manager_set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No former PG PM found - continue</defaultConnectorLabel>
        <rules>
            <name>Yes_Remove_PG_PM_Managers</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Previous_PG_Portfolio_Manager</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_former_PG_Portfolio_Managers</targetReference>
            </connector>
            <label>Yes --&gt; Remove PG PM Managers</label>
        </rules>
    </decisions>
    <decisions>
        <name>Were_former_Portfolio_Managers_found</name>
        <label>Were former Portfolio Managers found?</label>
        <locationX>303</locationX>
        <locationY>935</locationY>
        <defaultConnector>
            <targetReference>Was_current_Portfolio_Manager_set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No former PM found - continue</defaultConnectorLabel>
        <rules>
            <name>Yes_Remove_Managers</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Previous_Portfolio_Manager</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_former_Portfolio_Managers</targetReference>
            </connector>
            <label>Yes --&gt; Remove Managers</label>
        </rules>
    </decisions>
    <decisions>
        <name>Were_former_Relationship_Managers_1_found</name>
        <label>Were former Relationship Managers (1) found?</label>
        <locationX>303</locationX>
        <locationY>3287</locationY>
        <defaultConnector>
            <targetReference>Was_current_Relationship_Manager_1_set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No former RM(1) found - continue</defaultConnectorLabel>
        <rules>
            <name>Yes_Remove_Relationship_Managers_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Previous_Relationship_Manager_1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_former_Relationship_Managers_1</targetReference>
            </connector>
            <label>Yes --&gt; Remove Relationship Managers (1)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Were_former_Relationship_Managers_2_found</name>
        <label>Were former Relationship Managers (2) found?</label>
        <locationX>303</locationX>
        <locationY>5303</locationY>
        <defaultConnector>
            <targetReference>Was_current_Relationship_Manager_2_set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No former RM(2) found - continue</defaultConnectorLabel>
        <rules>
            <name>Yes_Remove_Relationship_Managers_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Previous_Relationship_Manager_2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_former_Relationship_Managers_2</targetReference>
            </connector>
            <label>Yes --&gt; Remove Relationship Managers (2)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Were_former_Relationship_Managers_3_found</name>
        <label>Were former Relationship Managers (3) found?</label>
        <locationX>303</locationX>
        <locationY>7319</locationY>
        <defaultConnector>
            <targetReference>Was_current_Relationship_Manager_3_set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No former RM(3) found - continue</defaultConnectorLabel>
        <rules>
            <name>Yes_Remove_Relationship_Managers_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Previous_Relationship_Manager_3</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_former_Relationship_Managers_3</targetReference>
            </connector>
            <label>Yes --&gt; Remove Relationship Managers (3)</label>
        </rules>
    </decisions>
    <description>04/03/2023: (M. Davis - Attain):
- Adjusted formula again and re-tested to include Account Record Type Name = &apos;Organization&apos; - tested to ensure this fires on &apos;Organization&apos; accounts only...and that Household accounts don&apos;t have duplicate records created.
03/28/2023 (M. Davis - Attain):
- Modified entry condition for Account Record Type = Organization....formula didn&apos;t work.</description>
    <environments>Default</environments>
    <interviewLabel>Account: (After Insert/Update --&gt; Handle Portfolio Manager Processes) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account: (After Insert/Update --&gt; Handle Ownership Field Changes)</label>
    <loops>
        <name>Loop_through_former_PG_Portfolio_Managers</name>
        <label>Loop through former PG Portfolio Managers</label>
        <locationX>171</locationX>
        <locationY>9455</locationY>
        <collectionReference>Get_Previous_PG_Portfolio_Manager</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>PG_PM_Set_End_Date</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_RMH_PG_PM_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_former_Portfolio_Managers</name>
        <label>Loop through former Portfolio Managers</label>
        <locationX>171</locationX>
        <locationY>1055</locationY>
        <collectionReference>Get_Previous_Portfolio_Manager</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_End_Date</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_RHM_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_former_Relationship_Managers_1</name>
        <label>Loop through former Relationship Managers (1)</label>
        <locationX>171</locationX>
        <locationY>3407</locationY>
        <collectionReference>Get_Previous_Relationship_Manager_1</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>RM1_Set_End_Date</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_RMH_RM1_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_former_Relationship_Managers_2</name>
        <label>Loop through former Relationship Managers (2)</label>
        <locationX>171</locationX>
        <locationY>5423</locationY>
        <collectionReference>Get_Previous_Relationship_Manager_2</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>RM2_Set_End_Date</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_RMH_RM2_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_former_Relationship_Managers_3</name>
        <label>Loop through former Relationship Managers (3)</label>
        <locationX>171</locationX>
        <locationY>7439</locationY>
        <collectionReference>Get_Previous_Relationship_Manager_3</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>RM3_Set_End_Date</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_RMH_RM3_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_New_RMH_PG_PM_Record</name>
        <label>Insert New RMH (PG PM) Record</label>
        <locationX>325</locationX>
        <locationY>10343</locationY>
        <connector>
            <targetReference>Has_PG_PM_Manager_Update_Opportunities</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Portfolio_Manager__c</field>
            <value>
                <elementReference>varCurrentPG_PM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>varType</elementReference>
            </value>
        </inputAssignments>
        <object>Relationship_Manager_History__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Insert_New_RMH_Record</name>
        <label>Insert New RMH Record</label>
        <locationX>325</locationX>
        <locationY>1943</locationY>
        <connector>
            <targetReference>Has_Manager_Update_Opportunities</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Portfolio_Manager__c</field>
            <value>
                <elementReference>varCurrentPM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>varType</elementReference>
            </value>
        </inputAssignments>
        <object>Relationship_Manager_History__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Insert_New_RMH_RM1_Record</name>
        <label>Insert New RMH (RM1) Record</label>
        <locationX>325</locationX>
        <locationY>4295</locationY>
        <connector>
            <targetReference>Relationship_Manager_2_Changed</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Portfolio_Manager__c</field>
            <value>
                <elementReference>varCurrentRM1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>varType</elementReference>
            </value>
        </inputAssignments>
        <object>Relationship_Manager_History__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Insert_New_RMH_RM2_Record</name>
        <label>Insert New RMH (RM2) Record</label>
        <locationX>325</locationX>
        <locationY>6311</locationY>
        <connector>
            <targetReference>Relationship_Manager_3_Changed</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Portfolio_Manager__c</field>
            <value>
                <elementReference>varCurrentRM2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>varType</elementReference>
            </value>
        </inputAssignments>
        <object>Relationship_Manager_History__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Insert_New_RMH_RM3_Record</name>
        <label>Insert New RMH (RM3) Record</label>
        <locationX>325</locationX>
        <locationY>8327</locationY>
        <connector>
            <targetReference>PG_Portfolio_Manager_Changed</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Portfolio_Manager__c</field>
            <value>
                <elementReference>varCurrentRM3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>varType</elementReference>
            </value>
        </inputAssignments>
        <object>Relationship_Manager_History__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Previous_PG_Portfolio_Manager</name>
        <label>Get Previous PG Portfolio Manager</label>
        <locationX>303</locationX>
        <locationY>9215</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Were_former_PG_Portfolio_Managers_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Portfolio_Manager__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varFormerPG_PM</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varType</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Relationship_Manager_History__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Previous_Portfolio_Manager</name>
        <label>Get Previous Portfolio Manager</label>
        <locationX>303</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Were_former_Portfolio_Managers_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Portfolio_Manager__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varFormerPM</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varType</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Relationship_Manager_History__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Previous_Relationship_Manager_1</name>
        <label>Get Previous Relationship Manager (1)</label>
        <locationX>303</locationX>
        <locationY>3167</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Were_former_Relationship_Managers_1_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Portfolio_Manager__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varFormerRM1</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varType</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Relationship_Manager_History__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Previous_Relationship_Manager_2</name>
        <label>Get Previous Relationship Manager (2)</label>
        <locationX>303</locationX>
        <locationY>5183</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Were_former_Relationship_Managers_2_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Portfolio_Manager__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varFormerRM2</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varType</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Relationship_Manager_History__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Previous_Relationship_Manager_3</name>
        <label>Get Previous Relationship Manager (3)</label>
        <locationX>303</locationX>
        <locationY>7199</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Were_former_Relationship_Managers_3_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Portfolio_Manager__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varFormerRM3</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varType</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Relationship_Manager_History__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunities</name>
        <label>Update Opportunities</label>
        <locationX>50</locationX>
        <locationY>2375</locationY>
        <connector>
            <targetReference>Relationship_Manager_Changed</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Portfolio_Manager__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Portfolio_Manager__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>PG_Portfolio_Manager__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.PG_Portfolio_Manager__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PG_Portfolio_Manager__c</field>
            <value>
                <elementReference>$Record.PG_Portfolio_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Portfolio_Manager__c</field>
            <value>
                <elementReference>$Record.Portfolio_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunities_PG_PM</name>
        <label>Update Opportunities (PG PM)</label>
        <locationX>50</locationX>
        <locationY>10775</locationY>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Portfolio_Manager__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Portfolio_Manager__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>PG_Portfolio_Manager__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.PG_Portfolio_Manager__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PG_Portfolio_Manager__c</field>
            <value>
                <elementReference>$Record.PG_Portfolio_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Portfolio_Manager__c</field>
            <value>
                <elementReference>$Record.Portfolio_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_RHM_Records</name>
        <label>Update RHM Records</label>
        <locationX>171</locationX>
        <locationY>1511</locationY>
        <connector>
            <targetReference>Was_current_Portfolio_Manager_set</targetReference>
        </connector>
        <inputReference>varCollectionRMH</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_RMH_PG_PM_Records</name>
        <label>Update RMH (PG PM) Records</label>
        <locationX>171</locationX>
        <locationY>9911</locationY>
        <connector>
            <targetReference>Was_current_PG_Portfolio_Manager_set</targetReference>
        </connector>
        <inputReference>varCollectionRMH</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_RMH_RM1_Records</name>
        <label>Update RMH (RM1) Records</label>
        <locationX>171</locationX>
        <locationY>3863</locationY>
        <connector>
            <targetReference>Was_current_Relationship_Manager_1_set</targetReference>
        </connector>
        <inputReference>varCollectionRMH</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_RMH_RM2_Records</name>
        <label>Update RMH (RM2) Records</label>
        <locationX>171</locationX>
        <locationY>5879</locationY>
        <connector>
            <targetReference>Was_current_Relationship_Manager_2_set</targetReference>
        </connector>
        <inputReference>varCollectionRMH</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_RMH_RM3_Records</name>
        <label>Update RMH (RM3) Records</label>
        <locationX>171</locationX>
        <locationY>7895</locationY>
        <connector>
            <targetReference>Was_current_Relationship_Manager_3_set</targetReference>
        </connector>
        <inputReference>varCollectionRMH</inputReference>
    </recordUpdates>
    <start>
        <locationX>358</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Portfolio_Manager_Changed</targetReference>
        </connector>
        <filterFormula>{!$Permission.Flow_Automations_Off} &lt;&gt; TRUE &amp;&amp; {!$Record.RecordType.Name} = &apos;Organization&apos;</filterFormula>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>6</triggerOrder>
    <variables>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varCollectionRMH</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Relationship_Manager_History__c</objectType>
    </variables>
    <variables>
        <name>varCurrentPG_PM</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCurrentPM</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCurrentRM1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCurrentRM2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCurrentRM3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFormerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFormerPG_PM</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFormerPM</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFormerRM1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFormerRM2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFormerRM3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
