unpackaged/main/default/flows/Affiliation_Scheduled_End_Date_Passed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>264</locationX>
        <locationY>636</locationY>
        <assignmentItems>
            <assignToReference>varCollectionRecord</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSingleRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Affiliations_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Single_Record</name>
        <label>Assign Single Record</label>
        <locationX>264</locationX>
        <locationY>516</locationY>
        <assignmentItems>
            <assignToReference>varSingleRecord.npe5__Primary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleRecord.npe5__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Former</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Affiliations_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Affiliation - Scheduled - End Date Passed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Affiliation - Scheduled - End Date Passed</label>
    <loops>
        <name>Affiliations_Loop</name>
        <label>Affiliations Loop</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <collectionReference>Get_Affiliation</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Single_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Affiliation</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Affiliation</name>
        <label>Get Affiliation</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Affiliations_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npe5__EndDate__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>npe5__Affiliation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Affiliation</name>
        <label>Update Affiliation</label>
        <locationX>176</locationX>
        <locationY>852</locationY>
        <inputReference>varCollectionRecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Affiliation</targetReference>
        </connector>
        <object>npe5__Affiliation__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-01-01</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varCollectionRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>npe5__Affiliation__c</objectType>
    </variables>
    <variables>
        <name>varSingleRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>npe5__Affiliation__c</objectType>
    </variables>
</Flow>
