unpackaged/main/default/flows/Application_Deadline_Reminder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Placeholder</name>
        <label>Placeholder</label>
        <locationX>50</locationX>
        <locationY>1560</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Applicant_Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>edfclimatecorps.apply@edf.org</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Climate Corps Fellow Application Reminder</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailBody</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Copy_2_of_Copy_1_of_Copy_1_of_Wave2US_Assignment</name>
        <label>Wave2 China Assignment</label>
        <locationX>2261</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>varWave2China</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Waves.Deadline__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Waves</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Wave1_India_Assignment</name>
        <label>Wave1 India Assignment</label>
        <locationX>1469</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>varWave1India</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Waves.Deadline__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Waves</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Wave1China_Assignment</name>
        <label>Wave1China Assignment</label>
        <locationX>1997</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>varWave1China</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Waves.Deadline__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Waves</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Wave1US_Assignment</name>
        <label>Wave1US Assignment</label>
        <locationX>941</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>varWave1US</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Waves.Deadline__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Waves</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Wave2India_Assignment</name>
        <label>Wave2India Assignment</label>
        <locationX>1733</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>varWave2India</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Waves.Deadline__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Waves</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Wave2US_Assignment</name>
        <label>Wave2US Assignment</label>
        <locationX>1205</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>varWave2US</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Waves.Deadline__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Waves</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Copy_1_of_Fellowship_Program</name>
        <label>Copy 1 of Fellowship Program</label>
        <locationX>853</locationX>
        <locationY>852</locationY>
        <defaultConnector>
            <targetReference>Wave</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_India</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Fellowship_Applying_for__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>India Fellowship</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Waves</targetReference>
            </connector>
            <label>Copy 1 of India</label>
        </rules>
        <rules>
            <name>Copy_1_of_China</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Fellowship_Applying_for__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>China Fellowship</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Wave</targetReference>
            </connector>
            <label>Copy 1 of China</label>
        </rules>
        <rules>
            <name>Copy_1_of_U_S</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Fellowship_Applying_for__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>U.S. Fellowship</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Wave</targetReference>
            </connector>
            <label>Copy 1 of U.S.</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fellowship_Program</name>
        <label>Fellowship Program</label>
        <locationX>512</locationX>
        <locationY>1344</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>India</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Fellowship_Applying_for__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>India Fellowship</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pause_Until_1_Week_Before_Deadline</targetReference>
            </connector>
            <label>India</label>
        </rules>
        <rules>
            <name>China</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Fellowship_Applying_for__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>China Fellowship</stringValue>
                </rightValue>
            </conditions>
            <label>China</label>
        </rules>
        <rules>
            <name>U_S</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Fellowship_Applying_for__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>U.S. Fellowship</stringValue>
                </rightValue>
            </conditions>
            <label>U.S.</label>
        </rules>
    </decisions>
    <decisions>
        <name>Wave</name>
        <label>Wave</label>
        <locationX>853</locationX>
        <locationY>1236</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Wave_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Wave__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wave 1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fellowship_Program</targetReference>
            </connector>
            <label>Wave 1</label>
        </rules>
        <rules>
            <name>Wave_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Wave__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wave 2</stringValue>
                </rightValue>
            </conditions>
            <label>Wave 2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Wave_Assignment_By_Program</name>
        <label>Wave Assignment By Program</label>
        <locationX>1733</locationX>
        <locationY>468</locationY>
        <defaultConnector>
            <targetReference>Loop_Waves</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>W1US</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Waves.Wave__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wave 1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Waves.Program__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>U.S. Fellowship</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Wave1US_Assignment</targetReference>
            </connector>
            <label>W1US</label>
        </rules>
        <rules>
            <name>W2US</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Waves.Wave__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wave 2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Waves.Program__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>U.S. Fellowship</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Wave2US_Assignment</targetReference>
            </connector>
            <label>W2US</label>
        </rules>
        <rules>
            <name>W1INDIA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Waves.Wave__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wave 1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Waves.Program__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>India Fellowship</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Wave1_India_Assignment</targetReference>
            </connector>
            <label>W1INDIA</label>
        </rules>
        <rules>
            <name>W2INDIA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Waves.Wave__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wave 1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Waves.Program__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>India Fellowship</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Wave2India_Assignment</targetReference>
            </connector>
            <label>W2INDIA</label>
        </rules>
        <rules>
            <name>W1CHINA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Waves.Wave__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wave 1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Waves.Program__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>China Fellowship</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Wave1China_Assignment</targetReference>
            </connector>
            <label>W1CHINA</label>
        </rules>
        <rules>
            <name>W2CHINA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Waves.Wave__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wave 2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Waves.Program__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>China Fellowship</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Copy_1_of_Copy_1_of_Wave2US_Assignment</targetReference>
            </connector>
            <label>W2CHINA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Waves</name>
        <label>Waves</label>
        <locationX>501</locationX>
        <locationY>960</locationY>
        <defaultConnector>
            <targetReference>Wave</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>W1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IndiaW1Formula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Wave</targetReference>
            </connector>
            <label>W1</label>
        </rules>
        <rules>
            <name>W2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IndiaW1Formula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Wave</targetReference>
            </connector>
            <label>W2</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CurrentTime</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <description>India - Today &lt; Wave 1</description>
        <name>IndiaW1Formula</name>
        <dataType>Boolean</dataType>
        <expression>TODAY()&lt;{!varWave1India}</expression>
    </formulas>
    <interviewLabel>Application Deadline Reminder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Application Deadline Reminder</label>
    <loops>
        <name>Loop_Waves</name>
        <label>Loop Waves</label>
        <locationX>853</locationX>
        <locationY>360</locationY>
        <collectionReference>Get_Deadlines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Wave_Assignment_By_Program</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_Fellowship_Program</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Deadlines</name>
        <label>Get Deadlines</label>
        <locationX>853</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Waves</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Fellow_App_Wave__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>727</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Deadlines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Prospective Applicant</stringValue>
            </value>
        </filters>
        <filters>
            <field>CC_Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>2024</stringValue>
            </value>
        </filters>
        <object>Fellow_Application__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-07-29</startDate>
            <startTime>00:15:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>emailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Dear {!$Record.Applicant_First_Name__c},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Are you ready to be a part of Climate Action by becoming a Climate Corps fellow?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;The deadline for Round 1 of the Climate Corps Fellowship application is August 20th at 11:59 pm IST.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;We understand that you might be busy fine-tuning your application, and we&apos;re here to lend a helping hand with some valuable tips:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;•	Showcase Relevant Experience: Don&apos;t forget to highlight any professional work experience, internships, academic coursework, or volunteer engagements that align with the job description of the fellow.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;•	Highlight Relevant Courses: Let us know about any relevant courses you&apos;ve taken or plan to take in the upcoming months.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;•	Personalize Your Cover Letter: Explain how Climate Corps perfectly aligns with your career interests and reference specific experiences, whether professional or academic, that have prepared you for this fellowship.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Want to learn more about our projects to better determine how your skillset aligns with our work? Visit our Climate Corps &lt;/span&gt;&lt;a href=&quot;https://nam11.safelinks.protection.outlook.com/?url=http%3A%2F%2Fedfclimatecorps.org%2Fprojects%2Fresults&amp;amp;data=05%7C01%7Cargupta%40edf.org%7C63d16f5cca5c45bf940008db8c120941%7Cfe4574edbcfd4bf0bde843713c3f434f%7C0%7C0%7C638257781337428825%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&amp;amp;sdata=dLsjaGsBCSLEZGLnPMXD2PhO%2Bt7fLcdanmgjj4sYv1g%3D&amp;amp;reserved=0&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: sans-serif;&quot;&gt;Project Database&lt;/a&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;. You can explore the types of projects our fellows have tackled and see which ones align with your skills.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Still have questions? Email us at edfclimatecorps.apply@edf.org or argupta@edf.org&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>varWave1China</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varWave1India</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varWave1US</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varWave2China</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varWave2India</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varWave2US</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Wave1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Fellow_App_Wave__mdt</objectType>
    </variables>
    <waits>
        <name>Pause_Until_1_Week_Before_Deadline</name>
        <label>Pause Until 1 Week Before Deadline</label>
        <locationX>182</locationX>
        <locationY>1452</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Pause</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Placeholder</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>Wave1.Deadline__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>-7.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
            </inputParameters>
            <label>Pause</label>
        </waitEvents>
    </waits>
</Flow>
