unpackaged/main/default/flows/Campaigns_Update_iContact_Campaign_Members.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Common_Campaign_Members</name>
        <label>Get Common Campaign Members</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <actionName>FindCommonAndUniqueRecords</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Collection_for_Campaign_Member_Updates</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__sourceRecordCollection</typeName>
            <typeValue>CampaignMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__targetRecordCollection</typeName>
            <typeValue>iCLightning__iContact_Message_Statistic__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__sourceCommonRecordCollection</typeName>
            <typeValue>CampaignMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__sourceUniqueRecordCollection</typeName>
            <typeValue>CampaignMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__targetCommonRecordCollection</typeName>
            <typeValue>iCLightning__iContact_Message_Statistic__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__targetUniqueRecordCollection</typeName>
            <typeValue>iCLightning__iContact_Message_Statistic__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sourceRecordCollection</name>
            <value>
                <elementReference>Get_Campaign_Members</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceUniqueID</name>
            <value>
                <stringValue>ContactId</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetRecordCollection</name>
            <value>
                <elementReference>GetMessageStatistics</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetUniqueID</name>
            <value>
                <stringValue>iCLightning__Contact__c</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Set_Status_Field</name>
        <label>Set Status Field</label>
        <locationX>264</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Create_Collection_for_Campaign_Member_Updates.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CMStatusUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Create_Collection_for_Campaign_Member_Updates</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Collection_for_Campaign_Member_Updates</targetReference>
        </connector>
    </assignments>
    <description>FB-3110 Update Campaign Members to Sent when an Email message is set to Released.</description>
    <environments>Default</environments>
    <interviewLabel>Campaigns-&gt;Update iContact Campaign Members {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Campaigns-&gt;Update iContact Campaign Members</label>
    <loops>
        <name>Create_Collection_for_Campaign_Member_Updates</name>
        <label>Create Collection for Campaign Member Updates</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_Common_Campaign_Members.sourceCommonRecordCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Status_Field</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Campaign_Members</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Fetch the campaign members to compare to the sent list</description>
        <name>Get_Campaign_Members</name>
        <label>Get Campaign Members</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Common_Campaign_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.iCLightning__Campaign__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the Message Statistics for the Email Message record</description>
        <name>GetMessageStatistics</name>
        <label>GetMessageStatistics</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Campaign_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>iCLightning__iContact_Sent_Message__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>iCLightning__iContact_Message_Statistic__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Campaign_Members</name>
        <label>Update Campaign Members</label>
        <locationX>176</locationX>
        <locationY>947</locationY>
        <inputReference>CMStatusUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetMessageStatistics</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterFormula>{!$Permission.Flow_Automations_Off} &lt;&gt; TRUE
&amp;&amp;
ISPICKVAL({!$Record.iCLightning__Status__c}, &quot;Released&quot;)</filterFormula>
        <object>iCLightning__iContact_Sent_Message__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>CMStatusUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
</Flow>
