unpackaged/main/default/flows/Case_After_Save_Trigger_Auto_notification_for_Fund_Requests.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Send Fund Request Email to Case Owner</description>
        <name>Send_Fund_Request_Email_Case_Owner</name>
        <label>Send Fund Request Email to Case Owner</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Send_Fund_Request_Email_to_ERPSupport</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>sysAdminEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubjectFundRequest</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBodyFundRequest</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Send Fund Request Email to ERPSupport</description>
        <name>Send_Fund_Request_Email_to_ERPSupport</name>
        <label>Send Fund Request Email to ERPSupport</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>erpsupport@edf.org</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>sysAdminEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubjectFundRequest</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBodyFundRequest</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <description>Updating the API value of the Closed Status in the Entry Criteria. Was not updated to match API value. Updating Email back to ERPsupport post testing

v8 Updated to include Sender Type and add record id to add activity to case
v9 updated back to actual email addresses</description>
    <environments>Default</environments>
    <interviewLabel>Case After Save ---&gt; Trigger Auto-notification for Fund Requests {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case After Save ---&gt; Trigger Auto-notification for Fund Requests</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Send_Fund_Request_Email_Case_Owner</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Reason</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fund Request</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed - Approved/Resolved</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <description>Email body for Fund Request email.</description>
        <name>EmailBodyFundRequest</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello,&lt;/p&gt;&lt;p&gt;I’d like to request the following new Fund.&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!$Record.New_Fund_Name__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.Fund_Administrator__r.FirstName} {!$Record.Fund_Administrator__r.LastName}&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; should be assigned as Fund Administrator.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;New Fund Request Link: &lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;https://environmentaldefensefund--shareddev.sandbox.lightning.force.com/lightning/r/Case/{!$Record.Id}/view&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Thank you!&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Email Subject for Fund Request approval.</description>
        <name>EmailSubjectFundRequest</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>New Fund Request:  {!$Record.New_Fund_Name__c}</text>
    </textTemplates>
    <triggerOrder>1</triggerOrder>
    <variables>
        <name>sysAdminEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>salesforcesysadmin@edf.org</stringValue>
        </value>
    </variables>
</Flow>
