unpackaged/main/default/flows/Case_On_Update_Run_Assignment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Run_Assignment_Rules_on_Update</name>
        <label>Run Assignment Rules on Update</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>Run_Assignment__Invocable_StandardAssignmentV2</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>triggerAutoResponseEmail</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>triggerOtherEmail</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>triggerUserEMail</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Run_Assignment__Invocable_StandardAssignmentV2</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <description>Check if desired change occurred to update the record ownership.</description>
        <name>Update_Reason</name>
        <label>Update Reason</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Topic_Update_Finance</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case_Topic__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Financial Report</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case_Topic__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Update/Modify Financial Report</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_Assignment_Rules_on_Update</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Topic Update - Finance</label>
        </rules>
    </decisions>
    <description>FB3216: Run Case Assignment Rules on particular Case updates.</description>
    <environments>Default</environments>
    <interviewLabel>Case -&gt; On Update -&gt; Run Assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case -&gt; On Update -&gt; Run Assignment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Reason</targetReference>
        </connector>
        <filterFormula>{!$Permission.Flow_Automations_Off} &lt;&gt; TRUE</filterFormula>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
