unpackaged/main/default/flows/Climate_Corps_Engagement_US_Host_App_Received.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Dedupe_Direct_Supervisor_and_High_Level_Sponsor</name>
        <label>Dedupe Direct Supervisor and High Level Sponsor</label>
        <locationX>558</locationX>
        <locationY>927</locationY>
        <actionName>DedupeRecordCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_dedupe</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputRecordCollection</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__outputRecordCollection</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldToDedupeOn</name>
            <value>
                <stringValue>Id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputRecordCollection</name>
            <value>
                <elementReference>Vcoll_DirectSup_HighlvlSp</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>424</locationX>
        <locationY>1331</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>dedupeemailnew</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>Get_Direct_Supervisor.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>emailid</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Collection_of_Direct_Supervisor_and_High_Level_Donor</name>
        <label>Collection of Direct Supervisor and High Level Donor</label>
        <locationX>409</locationX>
        <locationY>814</locationY>
        <assignmentItems>
            <assignToReference>Vcoll_DirectSup_HighlvlSp</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Direct_Supervisor</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Vcoll_DirectSup_HighlvlSp</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_High_Level_Sponsor</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Vcoll_DirectSup_HighlvlSp</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_HR_contact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Dedupe_Direct_Supervisor_and_High_Level_Sponsor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Dedupe_email_collection</name>
        <label>Dedupe email collection</label>
        <locationX>843</locationX>
        <locationY>1075</locationY>
        <assignmentItems>
            <assignToReference>dedupeemailnew</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_dedupe.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dedupeemailnew</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>; </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_dedupe</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Climate Corps Engagement - US Host App Received {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Climate Corps Engagement - US Host App Received</label>
    <loops>
        <name>Loop_dedupe</name>
        <label>Loop dedupe</label>
        <locationX>398</locationX>
        <locationY>1075</locationY>
        <collectionReference>Dedupe_Direct_Supervisor_and_High_Level_Sponsor.outputRecordCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Dedupe_email_collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Send_Email</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Direct_Supervisor</name>
        <label>Get Direct Supervisor</label>
        <locationX>539</locationX>
        <locationY>383</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_High_Level_Sponsor</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Supervisor__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_High_Level_Sponsor</name>
        <label>Get High Level Sponsor</label>
        <locationX>538</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_HR_contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.High_Level_Sponsor__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_HR_contact</name>
        <label>Get HR contact</label>
        <locationX>538</locationX>
        <locationY>637</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Collection_of_Direct_Supervisor_and_High_Level_Donor</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.HR_Contact__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>414</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Direct_Supervisor</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterFormula>{!$Permission.Flow_Automations_Off} &lt;&gt; True
&amp;&amp;
Ispickval({!$Record.Fellowship_Program__c},&quot;U.S. Fellowship&quot;)
&amp;&amp;
Ispickval({!$Record.Stage__c}, &quot;Application Submitted&quot;)</filterFormula>
        <object>Climate_Corps_Engagement__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>dedupeemailnew</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>emailid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>00X7d000001e8DtEAI</stringValue>
        </value>
    </variables>
    <variables>
        <name>RMemail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.EDF_Project_Manager__r.Email</elementReference>
        </value>
    </variables>
    <variables>
        <name>Vcoll_Accepted_RecipentEmailAddresses</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Vcoll_CCE_Rec</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Climate_Corps_Engagement__c</objectType>
    </variables>
    <variables>
        <name>Vcoll_DedupeEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Vcoll_DirectSup_HighlvlSp</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Vcoll_Rejected_RecipientsEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
