unpackaged/main/default/flows/Climate_Core_Engagement_Host_Accept_Reject_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Dedupe_Direct_Supervisor_and_High_Level_Sponsor</name>
        <label>Dedupe Direct Supervisor and High Level Sponsor</label>
        <locationX>544</locationX>
        <locationY>902</locationY>
        <actionName>DedupeRecordCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_dedupe</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputRecordCollection</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__outputRecordCollection</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldToDedupeOn</name>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputRecordCollection</name>
            <value>
                <elementReference>Vcoll_DirectSup_HighlvlSp</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Accepted</name>
        <label>Send Accepted</label>
        <locationX>346</locationX>
        <locationY>1679</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>Vcoll_Accepted_RecipentEmailAddresses</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Supervisor__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Get_Email_Template_ID.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Rejected_EDF_Funded_Email</name>
        <label>Send Rejected EDF Funded Email</label>
        <locationX>966</locationX>
        <locationY>1802</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>Vcoll_Rejected_RecipientsEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Supervisor__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Get_Rejected_EDF_Funded_Email_Template_ID.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Rejected_Host_Funded</name>
        <label>Send Rejected Host Funded</label>
        <locationX>714</locationX>
        <locationY>1804</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>Vcoll_Rejected_RecipientsEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Supervisor__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Get_Rejected_Host_Funded_Email_Template_ID.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Collection_of_Direct_Supervisor_and_High_Level_Donor</name>
        <label>Collection of Direct Supervisor and High Level Donor</label>
        <locationX>542</locationX>
        <locationY>759</locationY>
        <assignmentItems>
            <assignToReference>Vcoll_DirectSup_HighlvlSp</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Direct_Supervisor</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Vcoll_DirectSup_HighlvlSp</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_High_Level_Sponsor</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Vcoll_DirectSup_HighlvlSp</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_HR_contact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Dedupe_Direct_Supervisor_and_High_Level_Sponsor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Dedupe_email_collection</name>
        <label>Dedupe email collection</label>
        <locationX>765</locationX>
        <locationY>1046</locationY>
        <assignmentItems>
            <assignToReference>Vcoll_DedupeEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_dedupe.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_dedupe</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Recipients_Emails</name>
        <label>Accepted Recipients Emails</label>
        <locationX>346</locationX>
        <locationY>1317</locationY>
        <assignmentItems>
            <assignToReference>Vcoll_Accepted_RecipentEmailAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Vcoll_DedupeEmails</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Vcoll_Accepted_RecipentEmailAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.HR_Contact__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Email_Template_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rejected_Recipients_Emails</name>
        <label>Rejected Recipients Emails</label>
        <locationX>823</locationX>
        <locationY>1317</locationY>
        <assignmentItems>
            <assignToReference>Vcoll_Rejected_RecipientsEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Vcoll_DedupeEmails</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Vcoll_Rejected_RecipientsEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.HR_Contact__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Vcoll_Rejected_RecipientsEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Respondent_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Vcoll_Rejected_RecipientsEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>mkodis-npsp@edf.org.npsp.attaindev</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Host_or_EDF_Funded</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Accepted_or_Rejected</name>
        <label>Accepted or Rejected</label>
        <locationX>539</locationX>
        <locationY>1277</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Accepted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Host Application Accepted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recipients_Emails</targetReference>
            </connector>
            <label>Accepted?</label>
        </rules>
        <rules>
            <name>Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Host Application Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rejected_Recipients_Emails</targetReference>
            </connector>
            <label>Rejected?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Host_or_EDF_Funded</name>
        <label>Host or EDF Funded</label>
        <locationX>816</locationX>
        <locationY>1467</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Host_Funded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Rejection_Email_Template__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected Host Funded Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Rejected_Host_Funded_Email_Template_ID</targetReference>
            </connector>
            <label>Host Funded?</label>
        </rules>
        <rules>
            <name>EDF_Funded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Rejection_Email_Template__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected EDF Funded Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Rejected_EDF_Funded_Email_Template_ID</targetReference>
            </connector>
            <label>EDF Funded</label>
        </rules>
    </decisions>
    <description>9/22/23- Brett - added HR contact to Dedupe.</description>
    <environments>Default</environments>
    <interviewLabel>Climate Core Engagement Host Accept/Reject Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Climate Core Engagement -- Host Accept/Reject Email</label>
    <loops>
        <name>Loop_dedupe</name>
        <label>Loop dedupe</label>
        <locationX>551</locationX>
        <locationY>1046</locationY>
        <collectionReference>Dedupe_Direct_Supervisor_and_High_Level_Sponsor.outputRecordCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Dedupe_email_collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Accepted_or_Rejected</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Direct_Supervisor</name>
        <label>Get Direct Supervisor</label>
        <locationX>539</locationX>
        <locationY>383</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_High_Level_Sponsor</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Supervisor__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Template_ID</name>
        <label>Get Email Template ID</label>
        <locationX>346</locationX>
        <locationY>1507</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Accepted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Host Acceptance Email</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_High_Level_Sponsor</name>
        <label>Get High Level Sponsor</label>
        <locationX>538</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_HR_contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.High_Level_Sponsor__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_HR_contact</name>
        <label>Get HR contact</label>
        <locationX>538</locationX>
        <locationY>637</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Collection_of_Direct_Supervisor_and_High_Level_Donor</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.HR_Contact__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Rejected_EDF_Funded_Email_Template_ID</name>
        <label>Get Rejected EDF Funded Email Template ID</label>
        <locationX>966</locationX>
        <locationY>1624</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Rejected_EDF_Funded_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rejected EDF Funded Email</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Rejected_Host_Funded_Email_Template_ID</name>
        <label>Get Rejected Host Funded Email Template ID</label>
        <locationX>713</locationX>
        <locationY>1613</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Rejected_Host_Funded</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rejected Host Funded Email</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>414</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Direct_Supervisor</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterFormula>{!$Permission.Flow_Automations_Off} &lt;&gt; True
&amp;&amp;
Ispickval({!$Record.Fellowship_Program__c},&quot;U.S. Fellowship&quot;)
&amp;&amp;
Ispickval({!$Record.Stage__c}, &quot;Host Application Accepted&quot;) || Ispickval({!$Record.Stage__c},&quot;Host Application Rejected&quot;)</filterFormula>
        <object>Climate_Corps_Engagement__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Vcoll_Accepted_RecipentEmailAddresses</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Vcoll_CCE_Rec</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Climate_Corps_Engagement__c</objectType>
    </variables>
    <variables>
        <name>Vcoll_DedupeEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Vcoll_DirectSup_HighlvlSp</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Vcoll_Rejected_RecipientsEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
