unpackaged/main/default/flows/Climate_Corps_Engagement_Update_Fields_from_Fellow_App.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <description>Updates fields on Engagement with data from Fellow Application</description>
    <environments>Default</environments>
    <interviewLabel>Climate Corps Engagement - Update Fields from Fellow App {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Climate Corps Engagement - Update Fields from Fellow App</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Gets data from fellow application based on App added to Fellow Application field on Engagement</description>
        <name>GetFellowAppData</name>
        <label>GetFellowAppData</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateEngagement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Fellow_Application__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Fellow_Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Updates engagement with data from get records</description>
        <name>UpdateEngagement</name>
        <label>UpdateEngagement</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Fellow_Email_from_app__c</field>
            <value>
                <elementReference>GetFellowAppData.Applicant_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fellow_Name__c</field>
            <value>
                <elementReference>GetFellowAppData.Applicant__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fellow_School__c</field>
            <value>
                <elementReference>GetFellowAppData.University_School_1__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Summer_Email__c</field>
            <value>
                <elementReference>GetFellowAppData.Fellow_Applicant_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Summer_Phone__c</field>
            <value>
                <elementReference>GetFellowAppData.Applicant__r.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetFellowAppData</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Fellow_Application__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Climate_Corps_Engagement__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
