unpackaged/main/default/flows/Climate_Core_Engagement_Host_Accept_Reject_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Accepted</name>
        <label>Send Accepted</label>
        <locationX>344</locationX>
        <locationY>839</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>Vcoll_Accepted_RecipentEmailAddresses</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Supervisor__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Get_Email_Template_ID.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Rejected_EDF_Funded_Email</name>
        <label>Send Rejected EDF Funded Email</label>
        <locationX>965</locationX>
        <locationY>962</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>Vcoll_Rejected_RecipientsEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Supervisor__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Get_Rejected_EDF_Funded_Email_Template_ID.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Rejected_Host_Funded</name>
        <label>Send Rejected Host Funded</label>
        <locationX>713</locationX>
        <locationY>964</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>Vcoll_Rejected_RecipientsEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Supervisor__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Get_Rejected_Host_Funded_Email_Template_ID.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Recipients_Emails</name>
        <label>Accepted Recipients Emails</label>
        <locationX>344</locationX>
        <locationY>470</locationY>
        <assignmentItems>
            <assignToReference>Vcoll_Accepted_RecipentEmailAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Supervisor__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Vcoll_Accepted_RecipentEmailAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.High_Level_Sponsor__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Vcoll_Accepted_RecipentEmailAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.HR_Contact__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Email_Template_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rejected_Recipients_Emails</name>
        <label>Rejected Recipients Emails</label>
        <locationX>821</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>Vcoll_Rejected_RecipientsEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Supervisor__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Vcoll_Rejected_RecipientsEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.High_Level_Sponsor__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Vcoll_Rejected_RecipientsEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.HR_Contact__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Vcoll_Rejected_RecipientsEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Respondent_Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Host_or_EDF_Funded</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Accepted_or_Rejected</name>
        <label>Accepted or Rejected</label>
        <locationX>535</locationX>
        <locationY>409</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Accepted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Host Application Accepted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recipients_Emails</targetReference>
            </connector>
            <label>Accepted?</label>
        </rules>
        <rules>
            <name>Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Host Application Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rejected_Recipients_Emails</targetReference>
            </connector>
            <label>Rejected?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Host_or_EDF_Funded</name>
        <label>Host or EDF Funded</label>
        <locationX>814</locationX>
        <locationY>622</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Host_Funded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.rejection_email_template__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected Host Funded Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Rejected_Host_Funded_Email_Template_ID</targetReference>
            </connector>
            <label>Host Funded?</label>
        </rules>
        <rules>
            <name>EDF_Funded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.rejection_email_template__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected EDF Funded Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Rejected_EDF_Funded_Email_Template_ID</targetReference>
            </connector>
            <label>EDF Funded</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Climate Core Engagement Host Accept/Reject Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Climate Core Engagement -- Host Accept/Reject Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Email_Template_ID</name>
        <label>Get Email Template ID</label>
        <locationX>344</locationX>
        <locationY>665</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Accepted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Host Acceptance Email</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Rejected_EDF_Funded_Email_Template_ID</name>
        <label>Get Rejected EDF Funded Email Template ID</label>
        <locationX>965</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Rejected_EDF_Funded_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rejected EDF Funded Email</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Rejected_Host_Funded_Email_Template_ID</name>
        <label>Get Rejected Host Funded Email Template ID</label>
        <locationX>711</locationX>
        <locationY>773</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Rejected_Host_Funded</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rejected Host Funded Email</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>414</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Accepted_or_Rejected</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterFormula>{!$Permission.Flow_Automations_Off} &lt;&gt; True
&amp;&amp;
Ispickval({!$Record.Fellowship_Program__c},&quot;U.S. Fellowship&quot;)
&amp;&amp;
Ispickval({!$Record.Stage__c}, &quot;Host Application Accepted&quot;) || Ispickval({!$Record.Stage__c},&quot;Host Application Rejected&quot;)</filterFormula>
        <object>Climate_Corps_Engagement__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Vcoll_Accepted_RecipentEmailAddresses</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Vcoll_Rejected_RecipientsEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
