unpackaged/main/default/flows/Climate_Core_Engagement_Host_Accept_Reject_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Accepted</name>
        <label>Send Accepted</label>
        <locationX>344</locationX>
        <locationY>839</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>Vcoll_Accepted_RecipentEmailAddresses</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Supervisor__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Get_Email_Template_ID.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Rejected_EDF_Funded_Email</name>
        <label>Send Rejected EDF Funded Email</label>
        <locationX>965</locationX>
        <locationY>962</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>Vcoll_Rejected_RecipientsEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Supervisor__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Get_Rejected_EDF_Funded_Email_Template_ID.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Rejected_Host_Funded</name>
        <label>Send Rejected Host Funded</label>
        <locationX>713</locationX>
        <locationY>964</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>Vcoll_Rejected_RecipientsEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Supervisor__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Get_Rejected_Host_Funded_Email_Template_ID.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Recipients_Emails</name>
        <label>Accepted Recipients Emails</label>
        <locationX>344</locationX>
        <locationY>470</locationY>
        <assignmentItems>
            <assignToReference>Vcoll_Accepted_RecipentEmailAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Supervisor__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Vcoll_Accepted_RecipentEmailAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Host_Application__r.High_Level_Sponsor__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Vcoll_Accepted_RecipentEmailAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Host_Application__r.HR_Contact__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Email_Template_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rejected_Recipients_Emails</name>
        <label>Rejected Recipients Emails</label>
        <locationX>821</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>Vcoll_Rejected_RecipientsEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Host_Application__r.Supervisor__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Vcoll_Rejected_RecipientsEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Host_Application__r.High_Level_Sponsor__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Vcoll_Rejected_RecipientsEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Host_Application__r.HR_Contact__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Vcoll_Rejected_RecipientsEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Host_Application__r.Respondent_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Vcoll_Rejected_RecipientsEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>mkodis-npsp@edf.org.npsp.attaindev</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Host_or_EDF_Funded</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Accepted_or_Rejected</name>
        <label>Accepted or Rejected</label>
        <locationX>535</locationX>
        <locationY>408</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Accepted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Accepted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recipients_Emails</targetReference>
            </connector>
            <label>Accepted?</label>
        </rules>
        <rules>
            <name>Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Rejected__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rejected_Recipients_Emails</targetReference>
            </connector>
            <label>Rejected?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Host_or_EDF_Funded</name>
        <label>Host or EDF Funded</label>
        <locationX>814</locationX>
        <locationY>621</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Host_Funded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Host_Application__r.Application_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Host-Funded</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Rejected_Host_Funded_Email_Template_ID</targetReference>
            </connector>
            <label>Host Funded?</label>
        </rules>
        <rules>
            <name>EDF_Funded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Host_Application__r.Application_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EDF-Funded (Full or Partial)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Rejected_EDF_Funded_Email_Template_ID</targetReference>
            </connector>
            <label>EDF Funded</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Climate Core Engagement Host Accept/Reject Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Climate Core Engagement -- Host Accept/Reject Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Email_Template_ID</name>
        <label>Get Email Template ID</label>
        <locationX>344</locationX>
        <locationY>665</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Accepted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Host_Acceptance_Email</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Rejected_EDF_Funded_Email_Template_ID</name>
        <label>Get Rejected EDF Funded Email Template ID</label>
        <locationX>965</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Rejected_EDF_Funded_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rejected_EDF_Funded_Email</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Rejected_Host_Funded_Email_Template_ID</name>
        <label>Get Rejected Host Funded Email Template ID</label>
        <locationX>711</locationX>
        <locationY>773</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Rejected_Host_Funded</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rejected_Host_Funded_Email</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>414</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Accepted_or_Rejected</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>3 AND (1 OR 2)</filterLogic>
        <filters>
            <field>Accepted__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Rejected__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Fellowship_Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>U.S. Fellowship</stringValue>
            </value>
        </filters>
        <object>Climate_Corps_Engagement__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>AcceptedEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi {!$Record.Supervisor__c}, {!$Record.High_Level_Sponsor_Title__c}, and &amp;lt;&amp;lt;HR Contact&amp;gt;&amp;gt;,&amp;nbsp;&amp;nbsp;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&lt;/p&gt;&lt;p&gt;Congratulations and welcome to Climate Corps! Together with the whole Climate Corps team, I&apos;m thrilled to share that we are confirming&amp;nbsp;{!$Record.Account__r.Name}&amp;nbsp;participation. We received a record number of host applications and we will be working diligently to ensure that this year is our best year yet. We so appreciate your support in making that happen! I&apos;m happy to have you on board and look forward to an exciting and productive summer.&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&lt;/p&gt;&lt;p&gt;The attached two page document contains helpful information and a comprehensive timeline to keep handy as we make preparations for the upcoming summer. In particular, please review the first section of the timeline on &quot;Matching.”&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;Before we are able to move forward in matching your team with a fellow, we require that &amp;lt;&amp;lt;HR Contact&amp;gt;&amp;gt; fill out a short additional form (HYPERLINK &quot;short additional form&quot;) outlining some company-specific onboarding practices. Please complete this form no later than February 8th. Failure to complete this form will result in a delayed match.&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&lt;/p&gt;&lt;p&gt;As a next step, I would like to introduce you to my colleague &amp;lt;{!$Record.EDF_Engagement_Manager__r.Name}. {!$Record.EDF_Engagement_Manager__r.FirstName} works closely with me and will be the Engagement Manager for your project this summer, including managing the fellow matching process. &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Record.EDF_Engagement_Manager__r.FirstName}&lt;/span&gt; will be your point of contact if you have any questions or would like to connect to discuss any aspects of the program process further.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/p&gt;&lt;p&gt;Thank you and welcome!&amp;nbsp;&amp;nbsp;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&lt;/p&gt;&lt;p&gt;All my best,&amp;nbsp;&amp;nbsp;&lt;/p&gt;&lt;p&gt;Mali’o&amp;nbsp;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Vcoll_Accepted_RecipentEmailAddresses</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Vcoll_Rejected_RecipientsEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
