unpackaged/main/default/flows/Consider_Me_Count_on_Engagement_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>AddOne</name>
        <label>AddOne</label>
        <locationX>1112</locationX>
        <locationY>743</locationY>
        <assignmentItems>
            <assignToReference>RecordCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Consider_Me</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Checkifduplicate</name>
        <label>Checkifduplicate</label>
        <locationX>1171</locationX>
        <locationY>445</locationY>
        <defaultConnector>
            <targetReference>AddOne</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Unique</defaultConnectorLabel>
        <rules>
            <name>Is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>allconsidermes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddOne</targetReference>
            </connector>
            <label>Is Null</label>
        </rules>
        <rules>
            <name>Contains_Value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>allconsidermes</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>For_Each_Consider_Me.Engagement__r.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>For_Each_Consider_Me</targetReference>
            </connector>
            <label>Contains Value</label>
        </rules>
    </decisions>
    <description>Counts number of submitted consider mes on an engagement record</description>
    <environments>Default</environments>
    <interviewLabel>Consider Me - Count on Engagement Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Consider Me - Count on Engagement Record</label>
    <loops>
        <name>For_Each_Consider_Me</name>
        <label>For Each Consider Me</label>
        <locationX>584</locationX>
        <locationY>503</locationY>
        <collectionReference>FindConsiderMes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Checkifduplicate</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Count</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>FindConsiderMes</name>
        <label>FindConsiderMes</label>
        <locationX>584</locationX>
        <locationY>383</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_Each_Consider_Me</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Engagement__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Engagement__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Potential_Matching_From_Screener__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Count</name>
        <label>Update Count</label>
        <locationX>584</locationX>
        <locationY>1055</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Engagement__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Number_Of_Consider_Me__c</field>
            <value>
                <elementReference>RecordCount</elementReference>
            </value>
        </inputAssignments>
        <object>Climate_Corps_Engagement__c</object>
    </recordUpdates>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>FindConsiderMes</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterFormula>{!$Permission.Flow_Automations_Off} &lt;&gt; TRUE
&amp;&amp;
ISPICKVAL({!$Record.Status__c}, &quot;Submitted&quot;)</filterFormula>
        <object>Potential_Matching_From_Screener__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>allconsidermes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
