unpackaged/main/default/flows/Contact_Merge_Duplicate_Merge_Audit_Trail.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Check_Master_Contact</name>
        <label>Check Master Contact</label>
        <locationX>374</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>continue</defaultConnectorLabel>
        <rules>
            <name>Contact_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getMasterContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Duplicate_Merge_Audit_Trail</targetReference>
            </connector>
            <label>Contact Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Flow_Automations_Off</name>
        <label>Flow Automations Off</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>getMasterContact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_Has_Flows_Off_Permission_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Flow_Automations_Off</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>User Has Flows Off Permission Set</label>
        </rules>
    </decisions>
    <description>Called From Apex Trigger TDTM. Creates Duplicate Merge Audit Trail records.</description>
    <environments>Default</environments>
    <formulas>
        <name>DuplicateMergeNameFormula</name>
        <dataType>String</dataType>
        <expression>{!getMasterContact.FirstName} &amp; &quot; &quot; &amp; {!getMasterContact.LastName} &amp; &quot; - &quot; &amp; text({!$Flow.CurrentDate})</expression>
    </formulas>
    <interviewLabel>Contact Merge (Duplicate Merge Audit Trail) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact Merge (Duplicate Merge Audit Trail)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>New_Duplicate_Merge_Audit_Trail</name>
        <label>New Duplicate Merge Audit Trail</label>
        <locationX>242</locationX>
        <locationY>518</locationY>
        <inputAssignments>
            <field>Duplicate_Contact_External_ID__c</field>
            <value>
                <elementReference>oldContact.Contact_Record_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duplicate_Lead_Finder_File_ID__c</field>
            <value>
                <elementReference>oldContact.Lead_Finder_File_ID_edf__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duplicate_SF_ID__c</field>
            <value>
                <elementReference>oldContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Master_Account__c</field>
            <value>
                <elementReference>getMasterContact.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Master_Contact_External_ID__c</field>
            <value>
                <elementReference>getMasterContact.Contact_Record_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Master_Contact_Name__c</field>
            <value>
                <elementReference>getMasterContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Master_SF_ID__c</field>
            <value>
                <elementReference>getMasterContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>DuplicateMergeNameFormula</elementReference>
            </value>
        </inputAssignments>
        <object>Duplicate_Merge_Audit_Trail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getMasterContact</name>
        <label>getMasterContact</label>
        <locationX>374</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Master_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MasterRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Flow_Automations_Off</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>MasterRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>oldContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
