unpackaged/main/default/flows/Email_Record_Triggered_Updates_R3.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Another_D_of_Prior_Type_Exists_NBTC</name>
        <label>Another D of Prior Type Exists?</label>
        <locationX>1898</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Email_Type_NBTC3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_exists_NBTC2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>D_of_Same_Type.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Type_NBTC2</targetReference>
            </connector>
            <label>Yes, exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Another_D_of_Same_Type_Exists</name>
        <label>Another D of Same Type Exists?</label>
        <locationX>5594</locationX>
        <locationY>3767</locationY>
        <defaultConnector>
            <targetReference>Email_Type_NotCP2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_exists_D</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>D_of_Same_Type.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Type_DExists</targetReference>
            </connector>
            <label>Yes, exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Another_OP_Exists</name>
        <label>Another OP Exists?</label>
        <locationX>5385</locationX>
        <locationY>2519</locationY>
        <defaultConnector>
            <targetReference>Get_Most_Rec_existing_P</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_exists2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Look_for_other_OP.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_OP_NewOP</targetReference>
            </connector>
            <label>Yes, exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Another_P_Exists</name>
        <label>Another P Exists?</label>
        <locationX>5803</locationX>
        <locationY>2759</locationY>
        <defaultConnector>
            <targetReference>Clear_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_P_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Most_Rec_existing_P.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Most_Rec_P_to_OP</targetReference>
            </connector>
            <label>Yes, P Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Another_P_of_Same_Type_Exists</name>
        <label>Another P of Same Type Exists?</label>
        <locationX>4670</locationX>
        <locationY>3527</locationY>
        <defaultConnector>
            <targetReference>Look_for_other_D_of_Same_Type2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>P_of_Same_Type.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Type_NotCP</targetReference>
            </connector>
            <label>Yes, exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>CE_was_Preferred</name>
        <label>CE was Preferred?</label>
        <locationX>1238</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>Look_for_other_D_of_Prior_Type_NBCT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes, was Pref</defaultConnectorLabel>
        <rules>
            <name>No_not_Pref</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Preferred</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Overall_Pref_Pref</targetReference>
            </connector>
            <label>No, not Pref</label>
        </rules>
    </decisions>
    <decisions>
        <name>Changed_from_Undeliverable</name>
        <label>Changed from Undeliverable</label>
        <locationX>5792</locationX>
        <locationY>5423</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Undeliverable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Undeliverable</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_End_Date</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Changed_P_to_Not_P</name>
        <label>Changed P to Not-P?</label>
        <locationX>5792</locationX>
        <locationY>3287</locationY>
        <defaultConnector>
            <targetReference>Changed_to_P</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_CP_Not</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Preferred</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Preferred</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Look_for_other_P_of_Same_Type</targetReference>
            </connector>
            <label>Yes, CP&gt;Not</label>
        </rules>
    </decisions>
    <decisions>
        <name>Changed_to_P</name>
        <label>Changed to P?</label>
        <locationX>5792</locationX>
        <locationY>4631</locationY>
        <defaultConnector>
            <targetReference>Changed_to_Undeliverable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_now_P</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Preferred</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Preferred</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_Now_P</targetReference>
            </connector>
            <label>Yes, now P</label>
        </rules>
    </decisions>
    <decisions>
        <name>Changed_to_Undeliverable</name>
        <label>Changed to Undeliverable</label>
        <locationX>5792</locationX>
        <locationY>5087</locationY>
        <defaultConnector>
            <targetReference>Changed_from_Undeliverable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Undeliverable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Undeliverable</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_End_Date</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Clear_P</name>
        <label>Clear P?</label>
        <locationX>1898</locationX>
        <locationY>1847</locationY>
        <defaultConnector>
            <targetReference>Is_Overall_Pref_Pref</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CE_is_just_P</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Primary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Preferred</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>P_of_Same_Type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_P</targetReference>
            </connector>
            <label>CE is just P</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Changed</name>
        <label>Email Changed?</label>
        <locationX>5792</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>Overall_Pref_Changed_to_TRUE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Email_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_is_OP_P</targetReference>
            </connector>
            <label>Yes, Email Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_is_OP_P</name>
        <label>Email is OP/P</label>
        <locationX>5572</locationX>
        <locationY>935</locationY>
        <defaultConnector>
            <targetReference>Overall_Pref_Changed_to_TRUE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>OP_P</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Primary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Preferred</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_Email_Chg_OP_P</targetReference>
            </connector>
            <label>OP/P</label>
        </rules>
        <rules>
            <name>Just_P</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Preferred</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Primary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_Email_Chg_P</targetReference>
            </connector>
            <label>Just P</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Type_DExists</name>
        <label>Email Type?</label>
        <locationX>4978</locationX>
        <locationY>3887</locationY>
        <defaultConnector>
            <targetReference>Update_Existing_D_to_P</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Personal_DExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Personal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_DExistsP</targetReference>
            </connector>
            <label>Personal_DExists</label>
        </rules>
        <rules>
            <name>Work_DExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Work</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_DExistsW</targetReference>
            </connector>
            <label>Work_DExists</label>
        </rules>
        <rules>
            <name>Assistant_DExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assistant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_DExistsAst</targetReference>
            </connector>
            <label>Assistant_DExists</label>
        </rules>
        <rules>
            <name>Alt_DExists</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spouse</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Alternate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_DExistsA</targetReference>
            </connector>
            <label>Alt_DExists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Type_NBTC2</name>
        <label>Email Type?</label>
        <locationX>1282</locationX>
        <locationY>1175</locationY>
        <defaultConnector>
            <targetReference>Update_Existing_D_to_P_NBCT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Personal_NBTC2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Personal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_NBCTP2</targetReference>
            </connector>
            <label>Personal</label>
        </rules>
        <rules>
            <name>Work_NBTC2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Work</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_NBCTW2</targetReference>
            </connector>
            <label>Work</label>
        </rules>
        <rules>
            <name>Assistant_NBTC2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assistant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_NBTCAs2</targetReference>
            </connector>
            <label>Assistant</label>
        </rules>
        <rules>
            <name>Alt_NBTC2</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assistant</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spouse</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Alternate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_NBCTA2</targetReference>
            </connector>
            <label>Alt</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Type_NBTC3</name>
        <label>Email Type?</label>
        <locationX>2514</locationX>
        <locationY>1175</locationY>
        <defaultConnector>
            <targetReference>Look_for_other_P_of_New_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Personal_NBTC3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Personal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Personal_Email_NBCTP</targetReference>
            </connector>
            <label>Personal</label>
        </rules>
        <rules>
            <name>Work_NBTC3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Work</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Work_Email_NBCTW</targetReference>
            </connector>
            <label>Work</label>
        </rules>
        <rules>
            <name>Assistant_NBTC3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assistant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Assistant_Email_NBCTW</targetReference>
            </connector>
            <label>Assistant</label>
        </rules>
        <rules>
            <name>Alt_NBTC3</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assistant</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spouse</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Alternate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Alt_Email_NBCTA</targetReference>
            </connector>
            <label>Alt</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Type_NotCP</name>
        <label>Email Type?</label>
        <locationX>3746</locationX>
        <locationY>3647</locationY>
        <defaultConnector>
            <targetReference>Changed_to_P</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Personal_NotCP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Personal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_PNotCP</targetReference>
            </connector>
            <label>Personal</label>
        </rules>
        <rules>
            <name>Work_NotCP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Work</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_WNotCP</targetReference>
            </connector>
            <label>Work</label>
        </rules>
        <rules>
            <name>Assistant_NotCP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assistant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_AstNotCP</targetReference>
            </connector>
            <label>Assistant</label>
        </rules>
        <rules>
            <name>Alt_NotCP</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spouse</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Alternate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_ANotCP</targetReference>
            </connector>
            <label>Alt</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Type_NotCP2</name>
        <label>Email Type?</label>
        <locationX>6210</locationX>
        <locationY>3887</locationY>
        <defaultConnector>
            <targetReference>Changed_to_P</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Personal_NotCP2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Personal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Personal_Email_1</targetReference>
            </connector>
            <label>Personal</label>
        </rules>
        <rules>
            <name>Work_NotCP2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Work</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Work_Email_1</targetReference>
            </connector>
            <label>Work</label>
        </rules>
        <rules>
            <name>Assistant_NotCP2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assistant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Assistant_Email_1</targetReference>
            </connector>
            <label>Assistant</label>
        </rules>
        <rules>
            <name>Alt_NotCP2</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spouse</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Alternate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Alt_Email_1</targetReference>
            </connector>
            <label>Alt</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Type_OP_to_False</name>
        <label>Email Type?</label>
        <locationX>4967</locationX>
        <locationY>2759</locationY>
        <defaultConnector>
            <targetReference>Changed_P_to_Not_P</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Personal_OP_to_False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Personal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_PNewOP</targetReference>
            </connector>
            <label>Personal</label>
        </rules>
        <rules>
            <name>Work_OP_to_False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Work</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_WNewOP</targetReference>
            </connector>
            <label>Work</label>
        </rules>
        <rules>
            <name>Assistant_OP_to_False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assistant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_AstNewOP</targetReference>
            </connector>
            <label>Assistant</label>
        </rules>
        <rules>
            <name>Alt_OP_to_False</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spouse</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Alternate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_ANewOP</targetReference>
            </connector>
            <label>Alt</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_New</name>
        <label>Is New?</label>
        <locationX>3053</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Email_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Start_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No_But_Type_Changed</name>
            <conditionLogic>1 AND ((2 AND 3) OR (4 AND 5) OR (6 AND 7) OR (8 AND 9) OR (10 AND 11) OR (12 AND 13))</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Personal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Personal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Work</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Work</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Personal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Personal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Work</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Work</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assistant</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Assistant</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Assistant</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assistant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CE_was_Preferred</targetReference>
            </connector>
            <label>No But Type Changed</label>
        </rules>
    </decisions>
    <decisions>
        <description>Evaluates Overall Pref and Status fields.</description>
        <name>Is_Overall_Pref_Pref</name>
        <label>Is Overall Pref/Pref?</label>
        <locationX>3053</locationX>
        <locationY>5975</locationY>
        <defaultConnector>
            <targetReference>Other_Changes_Made</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No OP/P</defaultConnectorLabel>
        <rules>
            <name>Yes_OP_P</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Primary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Preferred</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_OP</targetReference>
            </connector>
            <label>Yes OP/P</label>
        </rules>
        <rules>
            <name>No_OP_Yes_P</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Primary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Preferred</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_New_P</targetReference>
            </connector>
            <label>No OP/Yes P</label>
        </rules>
    </decisions>
    <decisions>
        <name>Other_Changes_Made</name>
        <label>Other Changes Made?</label>
        <locationX>3053</locationX>
        <locationY>6551</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Other</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Primary__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Email_Changed</targetReference>
            </connector>
            <label>Yes, Other</label>
        </rules>
    </decisions>
    <decisions>
        <name>Overall_Pref_Changed_to_FALSE</name>
        <label>Overall Pref Changed to FALSE?</label>
        <locationX>5792</locationX>
        <locationY>2279</locationY>
        <defaultConnector>
            <targetReference>Changed_P_to_Not_P</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Changed</defaultConnectorLabel>
        <rules>
            <name>Yes_Changed_to_False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Primary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Primary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Look_for_other_OP</targetReference>
            </connector>
            <label>Yes, Changed to False</label>
        </rules>
    </decisions>
    <decisions>
        <name>Overall_Pref_Changed_to_TRUE</name>
        <label>Overall Pref Changed to TRUE?</label>
        <locationX>5792</locationX>
        <locationY>1367</locationY>
        <defaultConnector>
            <targetReference>Overall_Pref_Changed_to_FALSE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Changed</defaultConnectorLabel>
        <rules>
            <name>Yes_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Primary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Primary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Previous_OP</targetReference>
            </connector>
            <label>Yes, Changed</label>
        </rules>
    </decisions>
    <decisions>
        <description>Skips flow</description>
        <name>Skip_Flow</name>
        <label>Skip Flow</label>
        <locationX>1551</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Get_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Don&apos;t Skip</defaultConnectorLabel>
        <rules>
            <name>Skip</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Flow_Automations_Off</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sys_Mod__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Sys_Mod</targetReference>
            </connector>
            <label>Skip</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_Match</name>
        <label>Type Match?</label>
        <locationX>5594</locationX>
        <locationY>1607</locationY>
        <defaultConnector>
            <targetReference>Remove_OP2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Previous_OP.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CurrentActualTypeValue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_OP_P</targetReference>
            </connector>
            <label>Yes, match</label>
        </rules>
    </decisions>
    <description>Added Assistant support.</description>
    <environments>Default</environments>
    <formulas>
        <name>AlternateEmail</name>
        <dataType>String</dataType>
        <expression>IF (OR(TEXT({!$Record.Type__c})=&apos;Alternate&apos;, TEXT({!$Record.Type__c})=&apos;Spouse&apos;), {!$Record.Email__c}, {!$Record.Donor__r.npe01__AlternateEmail__c})</expression>
    </formulas>
    <formulas>
        <name>AssistantEmail</name>
        <dataType>String</dataType>
        <expression>IF (TEXT({!$Record.Type__c})=&apos;Assistant&apos;, {!$Record.Email__c}, {!$Record.Donor__r.Assistant_Email__c})</expression>
    </formulas>
    <formulas>
        <name>CurrentActualTypeValue</name>
        <dataType>String</dataType>
        <expression>IF (ISPICKVAL({!$Record.Type__c}, &apos;Spouse&apos;), &apos;Alternate&apos;, TEXT ({!$Record.Type__c}))</expression>
    </formulas>
    <formulas>
        <name>NowFormula</name>
        <dataType>DateTime</dataType>
        <expression>Now()</expression>
    </formulas>
    <formulas>
        <name>PersonalEmail</name>
        <dataType>String</dataType>
        <expression>IF (TEXT({!$Record.Type__c})=&apos;Personal&apos;, {!$Record.Email__c}, {!$Record.Donor__r.npe01__HomeEmail__c})</expression>
    </formulas>
    <formulas>
        <description>Returns &apos;Alternate&apos; for any records with Type=Spouse</description>
        <name>PriorActualTypeValue</name>
        <dataType>String</dataType>
        <expression>IF (ISPICKVAL({!$Record__Prior.Type__c}, &apos;Spouse&apos;), &apos;Alternate&apos;, TEXT ({!$Record__Prior.Type__c}))</expression>
    </formulas>
    <formulas>
        <description>Accounts for multiple types being treated as Alternate.</description>
        <name>TypeFromSubtypePrior</name>
        <dataType>String</dataType>
        <expression>IF ((ISPICKVAL({!$Record__Prior.Type__c}, &apos;Spouse&apos;) || ISPICKVAL({!$Record__Prior.Type__c}, &apos;Alternate&apos;)), &apos;Alternate&apos;, TEXT ({!$Record__Prior.Type__c}))</expression>
    </formulas>
    <formulas>
        <name>WorkEmail</name>
        <dataType>String</dataType>
        <expression>IF (TEXT({!$Record.Type__c})=&apos;Work&apos;, {!$Record.Email__c}, {!$Record.Donor__r.npe01__WorkEmail__c})</expression>
    </formulas>
    <interviewLabel>Email Record Triggered Updates (R3) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Email Record Triggered Updates (R3)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>3053</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Bypass_Date_Time_Contact_NBCT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Donor__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Most_Rec_existing_P</name>
        <label>Get Most Rec existing P</label>
        <locationX>5803</locationX>
        <locationY>2639</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Another_P_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Donor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Donor__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Preferred</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact_Email__c</object>
        <queriedFields>Id</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Previous_OP</name>
        <label>Get Previous OP</label>
        <locationX>5594</locationX>
        <locationY>1487</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Type_Match</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Donor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Donor__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Primary__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact_Email__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Look_for_other_D_of_Prior_Type_NBCT</name>
        <label>Look for other D of Prior Type</label>
        <locationX>1898</locationX>
        <locationY>935</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Another_D_of_Prior_Type_Exists_NBTC</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND 4</filterLogic>
        <filters>
            <field>Donor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Donor__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Deliverable</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PriorActualTypeValue</elementReference>
            </value>
        </filters>
        <object>Contact_Email__c</object>
        <outputReference>D_of_Same_Type</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Look_for_other_D_of_Same_Type2</name>
        <label>Look for other D of Same Type</label>
        <locationX>5594</locationX>
        <locationY>3647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Another_D_of_Same_Type_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Donor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Donor__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentActualTypeValue</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Deliverable</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Contact_Email__c</object>
        <outputReference>D_of_Same_Type</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Look_for_other_OP</name>
        <label>Look for other OP</label>
        <locationX>5385</locationX>
        <locationY>2399</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Another_OP_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Donor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Donor__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Primary__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact_Email__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Look_for_other_P_of_New_Type</name>
        <label>Look for other P of New Type</label>
        <locationX>1898</locationX>
        <locationY>1727</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Clear_P</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND 4</filterLogic>
        <filters>
            <field>Donor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Donor__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Preferred</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentActualTypeValue</elementReference>
            </value>
        </filters>
        <object>Contact_Email__c</object>
        <outputReference>P_of_Same_Type</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Look_for_other_P_of_Same_Type</name>
        <label>Look for other P of Same Type</label>
        <locationX>4670</locationX>
        <locationY>3407</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Another_P_of_Same_Type_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Donor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Donor__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentActualTypeValue</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Preferred</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Contact_Email__c</object>
        <outputReference>P_of_Same_Type</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <description>This should re-trigger this flow for the selected record and that is when the new Email will be passed to Contact but need to test.</description>
        <name>Change_Most_Rec_P_to_OP</name>
        <label>Change Most Rec P to OP</label>
        <locationX>5671</locationX>
        <locationY>2879</locationY>
        <connector>
            <targetReference>Changed_P_to_Not_P</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Most_Rec_existing_P.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Primary__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Preferred</stringValue>
            </value>
        </inputAssignments>
        <object>Contact_Email__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates email fields on Contact Record</description>
        <name>Clear_Alt_Email_1</name>
        <label>Clear Alt Email</label>
        <locationX>6474</locationX>
        <locationY>4007</locationY>
        <connector>
            <targetReference>Changed_to_P</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>npe01__AlternateEmail__c</field>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates email fields on Contact Record</description>
        <name>Clear_Alt_Email_NBCTA</name>
        <label>Clear Alt Email</label>
        <locationX>2778</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>Look_for_other_P_of_New_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>npe01__AlternateEmail__c</field>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates email fields on Contact Record</description>
        <name>Clear_Assistant_Email_1</name>
        <label>Clear Assistant Email</label>
        <locationX>6210</locationX>
        <locationY>4007</locationY>
        <connector>
            <targetReference>Changed_to_P</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Assistant_Email__c</field>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates email fields on Contact Record</description>
        <name>Clear_Assistant_Email_NBCTW</name>
        <label>Clear Assistant Email</label>
        <locationX>2514</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>Look_for_other_P_of_New_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Assistant_Email__c</field>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates email fields on Contact Record</description>
        <name>Clear_Email</name>
        <label>Clear Email</label>
        <locationX>5935</locationX>
        <locationY>2879</locationY>
        <connector>
            <targetReference>Changed_P_to_Not_P</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Donor__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email</field>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Clear_End_Date</name>
        <label>Clear End Date</label>
        <locationX>5660</locationX>
        <locationY>5543</locationY>
        <inputAssignments>
            <field>End_Date__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Updates email fields on Contact Record</description>
        <name>Clear_Personal_Email_1</name>
        <label>Clear Personal Email</label>
        <locationX>5682</locationX>
        <locationY>4007</locationY>
        <connector>
            <targetReference>Changed_to_P</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>npe01__HomeEmail__c</field>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates email fields on Contact Record</description>
        <name>Clear_Personal_Email_NBCTP</name>
        <label>Clear Personal Email</label>
        <locationX>1986</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>Look_for_other_P_of_New_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>npe01__HomeEmail__c</field>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Clear_Sys_Mod</name>
        <label>Clear Sys-Mod</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sys_Mod__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Sys_Mod__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Updates email fields on Contact Record</description>
        <name>Clear_Work_Email_1</name>
        <label>Clear Work Email</label>
        <locationX>5946</locationX>
        <locationY>4007</locationY>
        <connector>
            <targetReference>Changed_to_P</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>npe01__WorkEmail__c</field>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates email fields on Contact Record</description>
        <name>Clear_Work_Email_NBCTW</name>
        <label>Clear Work Email</label>
        <locationX>2250</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>Look_for_other_P_of_New_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>npe01__WorkEmail__c</field>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_OP</name>
        <label>Remove OP</label>
        <locationX>2789</locationX>
        <locationY>6095</locationY>
        <connector>
            <targetReference>Update_Contact_New_OP_P</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Primary__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Donor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Donor__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Automation_Bypass_Date_Time__c</field>
            <value>
                <elementReference>NowFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sys_Mod__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact_Email__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_OP2</name>
        <label>Remove OP</label>
        <locationX>5726</locationX>
        <locationY>1727</locationY>
        <connector>
            <targetReference>Remove_P_from_Type_Matched_Emails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Previous_OP.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Automation_Bypass_Date_Time__c</field>
            <value>
                <elementReference>NowFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sys_Mod__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact_Email__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_OP_NewOP</name>
        <label>Remove OP</label>
        <locationX>4967</locationX>
        <locationY>2639</locationY>
        <connector>
            <targetReference>Email_Type_OP_to_False</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Primary__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Donor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Donor__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Look_for_other_OP.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Automation_Bypass_Date_Time__c</field>
            <value>
                <elementReference>NowFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sys_Mod__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact_Email__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_OP_P</name>
        <label>Remove OP/P</label>
        <locationX>5462</locationX>
        <locationY>1727</locationY>
        <connector>
            <targetReference>Update_Contact_OP_Chg</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Previous_OP.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Primary__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Deliverable</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sys_Mod__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact_Email__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_P</name>
        <label>Remove P</label>
        <locationX>1766</locationX>
        <locationY>1967</locationY>
        <connector>
            <targetReference>Is_Overall_Pref_Pref</targetReference>
        </connector>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Deliverable</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_P_from_Previous_New_OP_P</name>
        <label>Remove P from Previous: New, OP/P</label>
        <locationX>2789</locationX>
        <locationY>6335</locationY>
        <connector>
            <targetReference>Other_Changes_Made</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Donor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Donor__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentActualTypeValue</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Preferred</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Deliverable</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sys_Mod__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact_Email__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_P_from_Previous_New_P</name>
        <label>Remove P from Previous: New, P</label>
        <locationX>3053</locationX>
        <locationY>6215</locationY>
        <connector>
            <targetReference>Other_Changes_Made</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Donor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Donor__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentActualTypeValue</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Preferred</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Primary__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Deliverable</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sys_Mod__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact_Email__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_P_from_Previous_Now_P</name>
        <label>Remove P from Previous: Now P</label>
        <locationX>5660</locationX>
        <locationY>4871</locationY>
        <connector>
            <targetReference>Changed_to_Undeliverable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Donor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Donor__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentActualTypeValue</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Preferred</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Primary__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Deliverable</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sys_Mod__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact_Email__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_P_from_Type_Matched_Emails</name>
        <label>Remove P from Type-Matched Emails</label>
        <locationX>5726</locationX>
        <locationY>1847</locationY>
        <connector>
            <targetReference>Update_Contact_OP_Chg</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Donor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Donor__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentActualTypeValue</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Preferred</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Deliverable</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sys_Mod__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact_Email__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Bypass_Date_Time_Contact_NBCT</name>
        <label>Set Bypass Date/Time-Contact</label>
        <locationX>3053</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Is_New</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Automation_Bypass_DateTime__c</field>
            <value>
                <elementReference>NowFormula</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_End_Date</name>
        <label>Set End Date</label>
        <locationX>5660</locationX>
        <locationY>5207</locationY>
        <connector>
            <targetReference>Changed_from_Undeliverable</targetReference>
        </connector>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Start_0</name>
        <label>Set Start</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Is_Overall_Pref_Pref</targetReference>
        </connector>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Updates email fields on Contact Record</description>
        <name>Update_Contact_ANewOP</name>
        <label>Update Contact</label>
        <locationX>5231</locationX>
        <locationY>2879</locationY>
        <connector>
            <targetReference>Changed_P_to_Not_P</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Look_for_other_OP.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__AlternateEmail__c</field>
            <value>
                <elementReference>Look_for_other_OP.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__Preferred_Email__c</field>
            <value>
                <stringValue>Alternate</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates email fields on Contact Record</description>
        <name>Update_Contact_ANotCP</name>
        <label>Update Contact</label>
        <locationX>4010</locationX>
        <locationY>3767</locationY>
        <connector>
            <targetReference>Changed_to_P</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>npe01__AlternateEmail__c</field>
            <value>
                <elementReference>P_of_Same_Type.Email__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates email fields on Contact Record</description>
        <name>Update_Contact_AstNewOP</name>
        <label>Update Contact</label>
        <locationX>4967</locationX>
        <locationY>2879</locationY>
        <connector>
            <targetReference>Changed_P_to_Not_P</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Assistant_Email__c</field>
            <value>
                <elementReference>Look_for_other_OP.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Look_for_other_OP.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__Preferred_Email__c</field>
            <value>
                <stringValue>Assistant</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates email fields on Contact Record</description>
        <name>Update_Contact_AstNotCP</name>
        <label>Update Contact</label>
        <locationX>3746</locationX>
        <locationY>3767</locationY>
        <connector>
            <targetReference>Changed_to_P</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Assistant_Email__c</field>
            <value>
                <elementReference>P_of_Same_Type.Email__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates email fields on Contact Record</description>
        <name>Update_Contact_DExistsA</name>
        <label>Update Contact</label>
        <locationX>5242</locationX>
        <locationY>4007</locationY>
        <connector>
            <targetReference>Update_Existing_D_to_P</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>npe01__AlternateEmail__c</field>
            <value>
                <elementReference>D_of_Same_Type.Email__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates email fields on Contact Record</description>
        <name>Update_Contact_DExistsAst</name>
        <label>Update Contact</label>
        <locationX>4978</locationX>
        <locationY>4007</locationY>
        <connector>
            <targetReference>Update_Existing_D_to_P</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Assistant_Email__c</field>
            <value>
                <elementReference>D_of_Same_Type.Email__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates email fields on Contact Record</description>
        <name>Update_Contact_DExistsP</name>
        <label>Update Contact</label>
        <locationX>4450</locationX>
        <locationY>4007</locationY>
        <connector>
            <targetReference>Update_Existing_D_to_P</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>npe01__HomeEmail__c</field>
            <value>
                <elementReference>D_of_Same_Type.Email__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates email fields on Contact Record</description>
        <name>Update_Contact_DExistsW</name>
        <label>Update Contact</label>
        <locationX>4714</locationX>
        <locationY>4007</locationY>
        <connector>
            <targetReference>Update_Existing_D_to_P</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>npe01__WorkEmail__c</field>
            <value>
                <elementReference>D_of_Same_Type.Email__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates email fields on Contact Record</description>
        <name>Update_Contact_Email_Chg_OP_P</name>
        <label>Update Contact: Email Chg, OP/P</label>
        <locationX>5308</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Overall_Pref_Changed_to_TRUE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Assistant_Email__c</field>
            <value>
                <elementReference>AssistantEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__AlternateEmail__c</field>
            <value>
                <elementReference>AlternateEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__HomeEmail__c</field>
            <value>
                <elementReference>PersonalEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__WorkEmail__c</field>
            <value>
                <elementReference>WorkEmail</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates email fields on Contact Record</description>
        <name>Update_Contact_Email_Chg_P</name>
        <label>Update Contact: Email Chg, P</label>
        <locationX>5572</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Overall_Pref_Changed_to_TRUE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Assistant_Email__c</field>
            <value>
                <elementReference>AssistantEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__AlternateEmail__c</field>
            <value>
                <elementReference>AlternateEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__HomeEmail__c</field>
            <value>
                <elementReference>PersonalEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__WorkEmail__c</field>
            <value>
                <elementReference>WorkEmail</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates email fields on Contact Record</description>
        <name>Update_Contact_NBCTA2</name>
        <label>Update Contact</label>
        <locationX>1546</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>Update_Existing_D_to_P_NBCT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>npe01__AlternateEmail__c</field>
            <value>
                <elementReference>D_of_Same_Type.Email__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates email fields on Contact Record</description>
        <name>Update_Contact_NBCTP2</name>
        <label>Update Contact</label>
        <locationX>754</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>Update_Existing_D_to_P_NBCT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>npe01__HomeEmail__c</field>
            <value>
                <elementReference>D_of_Same_Type.Email__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates email fields on Contact Record</description>
        <name>Update_Contact_NBCTW2</name>
        <label>Update Contact</label>
        <locationX>1018</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>Update_Existing_D_to_P_NBCT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>npe01__WorkEmail__c</field>
            <value>
                <elementReference>D_of_Same_Type.Email__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates email fields on Contact Record</description>
        <name>Update_Contact_NBTCAs2</name>
        <label>Update Contact</label>
        <locationX>1282</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>Update_Existing_D_to_P_NBCT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Assistant_Email__c</field>
            <value>
                <elementReference>D_of_Same_Type.Email__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates email fields on Contact Record</description>
        <name>Update_Contact_New_OP_P</name>
        <label>Update Contact: New, OP/P</label>
        <locationX>2789</locationX>
        <locationY>6215</locationY>
        <connector>
            <targetReference>Remove_P_from_Previous_New_OP_P</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Assistant_Email__c</field>
            <value>
                <elementReference>AssistantEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__AlternateEmail__c</field>
            <value>
                <elementReference>AlternateEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__HomeEmail__c</field>
            <value>
                <elementReference>PersonalEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__Preferred_Email__c</field>
            <value>
                <elementReference>CurrentActualTypeValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__WorkEmail__c</field>
            <value>
                <elementReference>WorkEmail</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates email fields on Contact Record</description>
        <name>Update_Contact_New_P</name>
        <label>Update Contact: New, P</label>
        <locationX>3053</locationX>
        <locationY>6095</locationY>
        <connector>
            <targetReference>Remove_P_from_Previous_New_P</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Assistant_Email__c</field>
            <value>
                <elementReference>AssistantEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__AlternateEmail__c</field>
            <value>
                <elementReference>AlternateEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__HomeEmail__c</field>
            <value>
                <elementReference>PersonalEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__WorkEmail__c</field>
            <value>
                <elementReference>WorkEmail</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates email fields on Contact Record</description>
        <name>Update_Contact_Now_P</name>
        <label>Update Contact: Now P</label>
        <locationX>5660</locationX>
        <locationY>4751</locationY>
        <connector>
            <targetReference>Remove_P_from_Previous_Now_P</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Assistant_Email__c</field>
            <value>
                <elementReference>AssistantEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__AlternateEmail__c</field>
            <value>
                <elementReference>AlternateEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__HomeEmail__c</field>
            <value>
                <elementReference>PersonalEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__WorkEmail__c</field>
            <value>
                <elementReference>WorkEmail</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates email fields on Contact Record</description>
        <name>Update_Contact_OP_Chg</name>
        <label>Update Contact: OP Chg</label>
        <locationX>5594</locationX>
        <locationY>2063</locationY>
        <connector>
            <targetReference>Overall_Pref_Changed_to_FALSE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Assistant_Email__c</field>
            <value>
                <elementReference>AssistantEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__AlternateEmail__c</field>
            <value>
                <elementReference>AlternateEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__HomeEmail__c</field>
            <value>
                <elementReference>PersonalEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__Preferred_Email__c</field>
            <value>
                <elementReference>CurrentActualTypeValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__WorkEmail__c</field>
            <value>
                <elementReference>WorkEmail</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates email fields on Contact Record</description>
        <name>Update_Contact_PNewOP</name>
        <label>Update Contact</label>
        <locationX>4439</locationX>
        <locationY>2879</locationY>
        <connector>
            <targetReference>Changed_P_to_Not_P</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Look_for_other_OP.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__HomeEmail__c</field>
            <value>
                <elementReference>Look_for_other_OP.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__Preferred_Email__c</field>
            <value>
                <stringValue>Personal</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates email fields on Contact Record</description>
        <name>Update_Contact_PNotCP</name>
        <label>Update Contact</label>
        <locationX>3218</locationX>
        <locationY>3767</locationY>
        <connector>
            <targetReference>Changed_to_P</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>npe01__HomeEmail__c</field>
            <value>
                <elementReference>P_of_Same_Type.Email__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates email fields on Contact Record</description>
        <name>Update_Contact_WNewOP</name>
        <label>Update Contact</label>
        <locationX>4703</locationX>
        <locationY>2879</locationY>
        <connector>
            <targetReference>Changed_P_to_Not_P</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Look_for_other_OP.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__Preferred_Email__c</field>
            <value>
                <stringValue>Work</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__WorkEmail__c</field>
            <value>
                <elementReference>Look_for_other_OP.Email__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates email fields on Contact Record</description>
        <name>Update_Contact_WNotCP</name>
        <label>Update Contact</label>
        <locationX>3482</locationX>
        <locationY>3767</locationY>
        <connector>
            <targetReference>Changed_to_P</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>npe01__WorkEmail__c</field>
            <value>
                <elementReference>P_of_Same_Type.Email__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Existing_D_to_P</name>
        <label>Update Existing D to P</label>
        <locationX>4978</locationX>
        <locationY>4223</locationY>
        <connector>
            <targetReference>Changed_to_P</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>D_of_Same_Type.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Preferred</stringValue>
            </value>
        </inputAssignments>
        <object>Contact_Email__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Existing_D_to_P_NBCT</name>
        <label>Update Existing D to P</label>
        <locationX>1282</locationX>
        <locationY>1511</locationY>
        <connector>
            <targetReference>Look_for_other_P_of_New_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>D_of_Same_Type.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Preferred</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sys_Mod__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact_Email__c</object>
    </recordUpdates>
    <start>
        <locationX>1425</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Skip_Flow</targetReference>
        </connector>
        <filterFormula>(ISNEW()) ||
ISCHANGED({!$Record.Status__c}) ||
ISCHANGED({!$Record.Primary__c}) || 
ISCHANGED({!$Record.Email__c}) ||
ISCHANGED({!$Record.Type__c})</filterFormula>
        <object>Contact_Email__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>COLContactEmails</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact_Email__c</objectType>
    </variables>
    <variables>
        <name>D_of_Same_Type</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact_Email__c</objectType>
    </variables>
    <variables>
        <name>Get_Previous_OP_2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact_Email__c</objectType>
    </variables>
    <variables>
        <name>P_of_Same_Type</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact_Email__c</objectType>
    </variables>
    <variables>
        <name>UpdatedCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact_Email__c</objectType>
    </variables>
</Flow>
