unpackaged/main/default/flows/Event_Populate_Staff_Ids_with_field_from_Ids_in_Name_Field.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_Assigned_To</name>
        <label>Add Assigned To</label>
        <locationX>264</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>varStaffNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Contacts.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varStaffNames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>; </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varStaffIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Contacts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varStaffIds</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>; </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_AssignedTo_and_Vol_to_collection</name>
        <label>Add AssignedTo and Vol to collection</label>
        <locationX>176</locationX>
        <locationY>731</locationY>
        <assignmentItems>
            <assignToReference>vColl_WhoId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner:User.User_Contact_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vColl_WhoId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Volunteer__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Collection</name>
        <label>Assign to Collection</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>vColl_WhoId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Event_Relations.RelationId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Event_Relations</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Constituency</name>
        <label>Constituency</label>
        <locationX>396</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Loop_Contacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EDF_Staff_or_Alum</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Contacts.Constituency__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>EDF Staff</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Contacts.Constituency__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>EDF Alumni</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Assigned_To</targetReference>
            </connector>
            <label>EDF Staff or Alum</label>
        </rules>
    </decisions>
    <description>If staff is in Name field, pulls Ids into Staff Id field and adds name to EDF Participant field</description>
    <environments>Default</environments>
    <formulas>
        <name>StaffNamesFinal</name>
        <dataType>String</dataType>
        <expression>LEFT({!varStaffNames}, LEN({!varStaffNames}) - 2)</expression>
    </formulas>
    <interviewLabel>Event - Populate Staff Ids with field from Ids in Name Field {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Event - Populate Staff Ids with field from Ids in Name Field</label>
    <loops>
        <name>Loop_Contacts</name>
        <label>Loop Contacts</label>
        <locationX>176</locationX>
        <locationY>947</locationY>
        <collectionReference>Get_Contact</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Constituency</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Event</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Event_Relations</name>
        <label>Loop Through Event Relations</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Event_Relations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_AssignedTo_and_Vol_to_collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>176</locationX>
        <locationY>839</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>vColl_WhoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Event_Relations</name>
        <label>Get Event Relations</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Event_Relations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EventId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>EventRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Event</name>
        <label>Update Event</label>
        <locationX>176</locationX>
        <locationY>1439</locationY>
        <inputAssignments>
            <field>EDF_Participants__c</field>
            <value>
                <elementReference>StaffNamesFinal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Staff_Ids__c</field>
            <value>
                <elementReference>varStaffIds</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Event_Relations</targetReference>
        </connector>
        <filterFormula>{!$Permission.Flow_Automations_Off} &lt;&gt; True</filterFormula>
        <object>Event</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varStaffIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varStaffNames</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vColl_WhoId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
