unpackaged/main/default/flows/Fellow_Application_Immediate_Email_Alerts_US_China.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Hold_on_Interview_2_ChinaEmail</name>
        <label>Hold on Interview 2 China</label>
        <locationX>842</locationX>
        <locationY>455</locationY>
        <actionName>Fellow_Application__c.Hold_on_Interview_2_China</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Fellow_Application__c.Hold_on_Interview_2_China</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Not_Qual_US</name>
        <label>Not Qual US</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <actionName>Fellow_Application__c.Not_Qualified_and_Notified</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Fellow_Application__c.Not_Qualified_and_Notified</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Not_Qualified_and_Notified_China</name>
        <label>Not Qualified and Notified China</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>Fellow_Application__c.Not_Qualified_and_Notified_China</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Fellow_Application__c.Not_Qualified_and_Notified_China</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Waitlist_Interview_1_China</name>
        <label>Waitlist Interview 1 China</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <actionName>Fellow_Application__c.Waitlist_Interview_1_China</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Fellow_Application__c.Waitlist_Interview_1_China</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Waitlist_Interview_1_US_Email</name>
        <label>Waitlist Interview 1 US Email</label>
        <locationX>1106</locationX>
        <locationY>455</locationY>
        <actionName>Fellow_Application__c.Waitlist_Interview_1</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Fellow_Application__c.Waitlist_Interview_1</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Fellow_Applicant_Status_Immediate_Send</name>
        <label>Fellow Applicant Status - Immediate Send</label>
        <locationX>710</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Qualified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Qualified and Notified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Fellowship_Applying_for__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>China Fellowship</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Not_Qualified_and_Notified_China</targetReference>
            </connector>
            <label>Not Qualified China</label>
        </rules>
        <rules>
            <name>Not_Qualified_US</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Qualified and Notified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Fellowship_Applying_for__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>U.S. Fellowship</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Not_Qual_US</targetReference>
            </connector>
            <label>Not Qualified US</label>
        </rules>
        <rules>
            <name>Waitlist_Interview_1_new</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waitlist- Interview 1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Fellowship_Applying_for__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>China Fellowship</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Waitlist_Interview_1_China</targetReference>
            </connector>
            <label>Waitlist Interview 1 new China</label>
        </rules>
        <rules>
            <name>Hold_on_Interview_2_China</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hold on Interview 2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Fellowship_Applying_for__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>China Fellowship</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Hold_on_Interview_2_ChinaEmail</targetReference>
            </connector>
            <label>Hold on Interview 2 China</label>
        </rules>
        <rules>
            <name>Waitlist_Interview_1_US</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waitlist- Interview 1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Fellowship_Applying_for__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>U.S. Fellowship</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Waitlist_Interview_1_US_Email</targetReference>
            </connector>
            <label>Waitlist Interview 1 US</label>
        </rules>
    </decisions>
    <description>Email alerts that send immediately, US and China</description>
    <environments>Default</environments>
    <interviewLabel>Fellow Application - Immediate Email Alerts (US + China) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Fellow Application - Immediate Email Alerts (US + China)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Fellow_Applicant_Status_Immediate_Send</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterFormula>{!$Permission.Flow_Automations_Off} &lt;&gt; TRUE
&amp;&amp;
OR(
 ispickval({!$Record.Status__c}, &quot;Not Qualified and Notified&quot;),
 ispickval({!$Record.Status__c}, &quot;Waitlist- Interview 1&quot;), 
ispickval({!$Record.Status__c}, &quot;Hold on Interview 2&quot;)
)</filterFormula>
        <object>Fellow_Application__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
