unpackaged/main/default/flows/Fellow_Confirmed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Fellow_Confirmed</name>
        <label>Fellow Confirmed</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <actionName>Climate_Corps_Engagement__c.Fellow_Confirmation_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Engagement_Confirmed_Date</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <description>v2 Optimize flow per FB-1490
v3 Correct flow and set run order
v4 Added update to &apos;Fellow Application&apos; status to &apos;Engagement Confirmed&apos; (03.03.2023)
v5 Added fellowship program = U.S. Fellowship to start conditions</description>
    <environments>Default</environments>
    <interviewLabel>Fellow Confirmed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Fellow Confirmed</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Engagement_Confirmed_Date</name>
        <label>Update Engagement Confirmed Date</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Date_Engagement_Confirmed__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Fellow_Application_Status</name>
        <label>Update Fellow Application Status</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>Fellow_Confirmed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Fellow_Application__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Engagement Confirmed</stringValue>
            </value>
        </inputAssignments>
        <object>Fellow_Application__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Fellow_Application_Status</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterFormula>{!$Permission.Flow_Automations_Off} &lt;&gt; TRUE
&amp;&amp;
ispickval({!$Record.Stage__c}, &quot;Engagement Confirmed&quot;)
&amp;&amp;
ispickval({!$Record.Fellowship_Program__c}, &quot;U.S. Fellowship&quot;)</filterFormula>
        <object>Climate_Corps_Engagement__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>1</triggerOrder>
</Flow>
