unpackaged/main/default/flows/Fellow_Application_Application_Submitted_Email_Alert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Send application received email to India applicants</description>
        <name>Application_Received_India</name>
        <label>Application Received - India</label>
        <locationX>886</locationX>
        <locationY>1031</locationY>
        <actionName>Fellow_Application__c.Fellow_Application_Received_India</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>WaveIndia</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Sends an email to US fellows that their application has been received.</description>
        <name>Application_Recieved_USandChina</name>
        <label>Application Received-US</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <actionName>Fellow_Application__c.Fellow_Application_Received_US_and_China</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>WaveUS</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Sends email to China applicants</description>
        <name>ChinaApp</name>
        <label>ChinaApp</label>
        <locationX>1722</locationX>
        <locationY>1031</locationY>
        <actionName>Fellow_Application__c.Application_Received_China</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_WaveUS</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>AssignNull</name>
        <label>AssignNull</label>
        <locationX>490</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>varWave</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Application_Submitted_Time</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignWave</name>
        <label>AssignWave</label>
        <locationX>754</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>varWave</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Wave 1</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Application_Submitted_Time</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_1_of_Wave1US</name>
        <label>Wave1India</label>
        <locationX>1722</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varWave1_India</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Waves.Deadline__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Waves</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Wave1India</name>
        <label>Wave2India</label>
        <locationX>1986</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varWave2_India</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Waves.Deadline__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Waves</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Wave2India</name>
        <label>Wave1China</label>
        <locationX>2250</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varWave1_China</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Waves.Deadline__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Waves</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>India_Close_End_Date</name>
        <label>India Close End Date</label>
        <locationX>3042</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varIndiaCloseLastDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Waves.Deadline__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Waves</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>India_Close_Start_Date</name>
        <label>India Close Start Date</label>
        <locationX>2778</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varIndiaCloseStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Waves.Deadline__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Waves</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Wave1US</name>
        <label>Wave1US</label>
        <locationX>1194</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varWave1_US</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Waves.Deadline__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Waves</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Wave2ChinaAssignment</name>
        <label>Wave2China</label>
        <locationX>2514</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varWave2_China</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Waves.Deadline__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Waves</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Wave2India</name>
        <label>Wave2</label>
        <locationX>1018</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>varWave</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Wave 2</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Application_Submitted_Time</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Wave2US</name>
        <label>Wave2US</label>
        <locationX>1458</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varWave2_US</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Waves.Deadline__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Waves</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Copy_1_of_Copy_1_of_WaveUS</name>
        <label>China Waves</label>
        <locationX>1722</locationX>
        <locationY>1139</locationY>
        <defaultConnector>
            <targetReference>Update_Application_Submitted_Time</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>China_w1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>now</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>varWave1_China</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>AssignWave</targetReference>
            </connector>
            <label>China w1</label>
        </rules>
        <rules>
            <name>China_w2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>now</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>varWave1_China</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Wave2India</targetReference>
            </connector>
            <label>China w2</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decide which email to send based on the which fellowship the candidate is applying for</description>
        <name>Fellowship_Applying_For</name>
        <label>Fellowship Applying For</label>
        <locationX>1106</locationX>
        <locationY>923</locationY>
        <defaultConnector>
            <targetReference>Update_Application_Submitted_Time</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>US_or_China_Applicant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Fellowship_Applying_for__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>U.S. Fellowship</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Application_Recieved_USandChina</targetReference>
            </connector>
            <label>US Applicant</label>
        </rules>
        <rules>
            <name>IndiaApplicant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Fellowship_Applying_for__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>India Fellowship</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Application_Received_India</targetReference>
            </connector>
            <label>India Applicant</label>
        </rules>
        <rules>
            <name>China_Applicant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Fellowship_Applying_for__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>China Fellowship</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ChinaApp</targetReference>
            </connector>
            <label>China Applicant</label>
        </rules>
    </decisions>
    <decisions>
        <name>Wave_Assignment_By_Program</name>
        <label>Wave Assignment By Program</label>
        <locationX>2250</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Loop_Waves</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>W1US</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Waves.Wave__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wave 1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Waves.Program__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>U.S. Fellowship</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Wave1US</targetReference>
            </connector>
            <label>W1US</label>
        </rules>
        <rules>
            <name>W2US</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Waves.Wave__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Waves.Program__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Wave2US</targetReference>
            </connector>
            <label>W2US</label>
        </rules>
        <rules>
            <name>W1India</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Waves.Wave__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wave 1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Waves.Program__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>India Fellowship</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Wave1US</targetReference>
            </connector>
            <label>W1India</label>
        </rules>
        <rules>
            <name>W2India</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Waves.Wave__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wave 2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Waves.Program__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>India Fellowship</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Wave1India</targetReference>
            </connector>
            <label>W2India</label>
        </rules>
        <rules>
            <name>W1China</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Waves.Wave__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wave 1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Waves.Program__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>China Fellowship</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Wave2India</targetReference>
            </connector>
            <label>W1China</label>
        </rules>
        <rules>
            <name>Wave2China</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Waves.Wave__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wave 2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Waves.Program__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>China Fellowship</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Wave2ChinaAssignment</targetReference>
            </connector>
            <label>Wave2China</label>
        </rules>
        <rules>
            <name>Close_Start_India</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Waves.Wave__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Waves.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>India_Close_Start</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>India_Close_Start_Date</targetReference>
            </connector>
            <label>Close Start India</label>
        </rules>
        <rules>
            <name>Close_End_Date_India</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Waves.Wave__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Waves.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>India_Close_End</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>India_Close_End_Date</targetReference>
            </connector>
            <label>Close End Date India</label>
        </rules>
    </decisions>
    <decisions>
        <name>WaveIndia</name>
        <label>WaveIndia</label>
        <locationX>886</locationX>
        <locationY>1139</locationY>
        <defaultConnector>
            <targetReference>Update_Application_Submitted_Time</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Invalid_Application</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InvalidApp</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignNull</targetReference>
            </connector>
            <label>Invalid Application</label>
        </rules>
        <rules>
            <name>Copy_1_of_Wave1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>now</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>varWave1_India</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignWave</targetReference>
            </connector>
            <label>India w1</label>
        </rules>
        <rules>
            <name>Copy_1_of_Wave2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>now</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>varWave1_India</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Wave2India</targetReference>
            </connector>
            <label>India w2</label>
        </rules>
    </decisions>
    <decisions>
        <name>WaveUS</name>
        <label>WaveUS</label>
        <locationX>50</locationX>
        <locationY>1139</locationY>
        <defaultConnector>
            <targetReference>Update_Application_Submitted_Time</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Wave1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>now</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>varWave1_US</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>AssignWave</targetReference>
            </connector>
            <label>Wave1</label>
        </rules>
        <rules>
            <name>Wave2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>now</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>varWave1_US</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Wave2India</targetReference>
            </connector>
            <label>Wave2</label>
        </rules>
    </decisions>
    <description>v4 Optimize flow per FB-1490 + updated template for China
v5 Updated to include field update for application submitted time
v6 Updated to assign wave based on program and submitted date/time</description>
    <environments>Default</environments>
    <formulas>
        <description>For India applicants that submitted during the close period</description>
        <name>InvalidApp</name>
        <dataType>Boolean</dataType>
        <expression>IF(AND(TODAY() &gt;= ({!varIndiaCloseStartDate}), TODAY() &lt;= ({!varIndiaCloseLastDate})), TRUE, FALSE)</expression>
    </formulas>
    <formulas>
        <name>InvalidAppTest</name>
        <dataType>Boolean</dataType>
        <expression>TRUE</expression>
    </formulas>
    <formulas>
        <description>current date/time</description>
        <name>now</name>
        <dataType>DateTime</dataType>
        <expression>now()</expression>
    </formulas>
    <interviewLabel>Fellow Application - Application Submitted Email Alert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Fellow Application - Application Submitted Email and Wave Assignment</label>
    <loops>
        <name>Loop_Waves</name>
        <label>Loop Waves</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Wave_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Wave_Assignment_By_Program</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Fellowship_Applying_For</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Wave_Records</name>
        <label>Get Wave Records</label>
        <locationX>1106</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Waves</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Fellowship_Applying_for__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Fellow_App_Wave__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Updates value in Application Submitted field</description>
        <name>Update_Application_Submitted_Time</name>
        <label>Update Application Submitted Time</label>
        <locationX>1106</locationX>
        <locationY>1523</locationY>
        <inputAssignments>
            <field>Application_Submitted_Date__c</field>
            <value>
                <elementReference>now</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wave__c</field>
            <value>
                <elementReference>varWave</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>980</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Wave_Records</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterFormula>{!$Permission.Flow_Automations_Off} &lt;&gt; TRUE
&amp;&amp;
ispickval({!$Record.Status__c}, &quot;Application Submitted&quot;)</filterFormula>
        <object>Fellow_Application__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Filter_Records</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Fellow_App_Wave__mdt</objectType>
    </variables>
    <variables>
        <name>TestDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <dateTimeValue>2023-08-21T04:00:00.000Z</dateTimeValue>
        </value>
    </variables>
    <variables>
        <name>varIndiaCloseLastDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varIndiaCloseStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varWave</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varWave1_China</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varWave1_India</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varWave1_US</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varWave2_China</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varWave2_India</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varWave2_US</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
