unpackaged/main/default/flows/Fellow_Application_Manage_Campaign_for_Deadline_Reminder_All_Programs.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Sends email to admins</description>
        <name>FaultAlert</name>
        <label>FaultAlert</label>
        <locationX>352</locationX>
        <locationY>1308</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>adminEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>faultMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>All_Campaigns</name>
        <label>All Campaigns</label>
        <locationX>1232</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>AllCampaigns</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Campaigns.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AllCampaigns</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Program</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Campaigns</name>
        <label>India Campaign</label>
        <locationX>836</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>varIndiaCampaign</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Campaigns.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Campaigns</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Campaigns</name>
        <label>US Campaign</label>
        <locationX>1100</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>varUSCampaign</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Campaigns.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Campaigns</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Campaigns</name>
        <label>China Campaign</label>
        <locationX>1364</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>varChina</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Campaigns.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Campaigns</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Contact_is_Campaign_Member</name>
        <label>Does campaign member exist already</label>
        <locationX>748</locationX>
        <locationY>1092</locationY>
        <defaultConnector>
            <targetReference>Program1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does Not Exist</defaultConnectorLabel>
        <rules>
            <name>Yes_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Prospective Applicant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_from_Campaign</targetReference>
            </connector>
            <label>Yes, Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Program</name>
        <label>Program</label>
        <locationX>1232</locationX>
        <locationY>600</locationY>
        <defaultConnector>
            <targetReference>Loop_Campaigns</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>India</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Campaigns.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>India</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Campaigns</targetReference>
            </connector>
            <label>India</label>
        </rules>
        <rules>
            <name>U_S</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Campaigns.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>U.S.</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Campaigns</targetReference>
            </connector>
            <label>U.S.</label>
        </rules>
        <rules>
            <name>China</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Campaigns.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>China</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Assign_Campaigns</targetReference>
            </connector>
            <label>China</label>
        </rules>
    </decisions>
    <decisions>
        <name>Program1</name>
        <label>Program</label>
        <locationX>1408</locationX>
        <locationY>1200</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>India1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Fellowship_Applying_for__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>India Fellowship</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_Campaign</targetReference>
            </connector>
            <label>India</label>
        </rules>
        <rules>
            <name>U_S1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Fellowship_Applying_for__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>U.S. Fellowship</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_US_Campaign</targetReference>
            </connector>
            <label>U.S.</label>
        </rules>
        <rules>
            <name>China1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Fellowship_Applying_for__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>China Fellowship</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_China_Campaign</targetReference>
            </connector>
            <label>China</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Fellow Application - Manage Campaign for Deadline Reminder (All Programs) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Fellow Application - Manage Campaign for Deadline Reminder (All Programs)</label>
    <loops>
        <name>Loop_Campaigns</name>
        <label>Loop Campaigns</label>
        <locationX>748</locationX>
        <locationY>384</locationY>
        <collectionReference>Get_Campaign</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>All_Campaigns</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Campaign_Member</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Add_to_Campaign</name>
        <label>Add to Campaign</label>
        <locationX>616</locationX>
        <locationY>1308</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>FaultAlert</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>varIndiaCampaign</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Applicant__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Opt In</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Add_to_China_Campaign</name>
        <label>Add to China Campaign</label>
        <locationX>1672</locationX>
        <locationY>1308</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>FaultAlert</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>varChina</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Applicant__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Opt In</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Add_to_US_Campaign</name>
        <label>Add to US Campaign</label>
        <locationX>1144</locationX>
        <locationY>1308</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>FaultAlert</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>varUSCampaign</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Applicant__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Opt In</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Remove_from_Campaign</name>
        <label>Remove from Campaign</label>
        <locationX>88</locationX>
        <locationY>1200</locationY>
        <faultConnector>
            <targetReference>FaultAlert</targetReference>
        </faultConnector>
        <inputReference>Get_Campaign_Member</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Campaign</name>
        <label>Get Campaign</label>
        <locationX>748</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Campaigns</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>India Reminder</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>U.S. Reminder</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>China Reminder</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Campaign_Member</name>
        <label>Get Campaign Member</label>
        <locationX>748</locationX>
        <locationY>984</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_is_Campaign_Member</targetReference>
        </connector>
        <filterLogic>(1 or 3 or 4) and  2</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varChina</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Applicant__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varIndiaCampaign</elementReference>
            </value>
        </filters>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varUSCampaign</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterFormula>{!$Permission.Flow_Automations_Off} &lt;&gt; True
&amp;&amp;

ispickval({!$Record.Status__c}, &quot;Prospective Applicant&quot;) || ispickval({!$Record.Status__c}, &quot;Application Submitted&quot;)</filterFormula>
        <object>Fellow_Application__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Wait_5_minutes</name>
            <connector>
                <targetReference>Get_Campaign</targetReference>
            </connector>
            <label>Wait 5 minutes</label>
            <offsetNumber>5</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>Application_Created_Time__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>adminEmails</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>abuda@edf.org; hshigenobu@edf.org; aagramonte@edf.org</text>
    </textTemplates>
    <textTemplates>
        <name>faultMessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Error: {!$Flow.FaultMessage}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;RESOURCE VALUES&lt;/p&gt;&lt;p&gt;Campaign ID: {!varIndiaCampaign} | {!varUSCampaign} | {!varChina}&lt;/p&gt;&lt;p&gt;Contact ID: {!$Record.Applicant__r.Id}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;APPLICANT INFO&lt;/p&gt;&lt;p&gt;Program Applying For: {!$Record.Fellowship_Applying_for__c}&lt;/p&gt;&lt;p&gt;Stage: {!$Record.Status__c}&lt;/p&gt;&lt;p&gt;Created Time: {!$Record.Application_Created_Time__c}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>subject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Flow.InterviewGuid} Error</text>
    </textTemplates>
    <variables>
        <description>All IDs of campaigns from get campaign</description>
        <name>AllCampaigns</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Campaigns</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>varCampaignMemberId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>varChina</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varExistingMember</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varIndiaCampaign</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUSCampaign</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
