unpackaged/main/default/flows/Fellow_Application_Send_to_Matching_Pool_India.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_Send_to_Matching_Pool_India</name>
        <label>Copy 1 of Send to Matching Pool India</label>
        <locationX>50</locationX>
        <locationY>276</locationY>
        <actionName>Fellow_Application__c.Send_to_Matching_Pool_India</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_to_Matching_Pool_India</name>
        <label>Send to Matching Pool India</label>
        <locationX>314</locationX>
        <locationY>276</locationY>
        <actionName>Fellow_Application__c.Send_to_Matching_Pool_India</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <description>v2 added immediate send for testing purposes</description>
    <environments>Default</environments>
    <interviewLabel>Fellow Application - Send to Matching Pool - India {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Fellow Application - Send to Matching Pool - India</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Copy_1_of_Send_to_Matching_Pool_India</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterFormula>{!$Permission.Flow_Automations_Off} &lt;&gt; TRUE
&amp;&amp;
 ispickval({!$Record.Status__c}, &quot;Send to Matching Pool&quot;)
&amp;&amp;
ispickval({!$Record.Fellowship_Applying_for__c}, &quot;India Fellowship&quot;)</filterFormula>
        <object>Fellow_Application__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>One_Day_Wait</name>
            <connector>
                <targetReference>Send_to_Matching_Pool_India</targetReference>
            </connector>
            <label>One Day Wait</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
