unpackaged/main/default/flows/Fellow_Application_US_Fellows_Immediate_Send.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>HoldW1</name>
        <label>HoldW1</label>
        <locationX>1076</locationX>
        <locationY>781</locationY>
        <actionName>Fellow_Application__c.Hold_on_Matching_Wave_1</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>NotQual</name>
        <label>NotQual</label>
        <locationX>229</locationX>
        <locationY>608</locationY>
        <actionName>Fellow_Application__c.Not_Qualified_and_Notified</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Waitlist1</name>
        <label>Waitlist1</label>
        <locationX>745</locationX>
        <locationY>887</locationY>
        <actionName>Fellow_Application__c.Waitlist_Interview_1</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Stage</name>
        <label>Stage</label>
        <locationX>809</locationX>
        <locationY>520</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Qualified_and_Notified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Qualified and Notified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NotQual</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Not Qualified and Notified</label>
        </rules>
        <rules>
            <name>Send_Invite_for_Interview_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Send Invite for Interview 1</stringValue>
                </rightValue>
            </conditions>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Send Invite for Interview 1</label>
        </rules>
        <rules>
            <name>Waitlist_Interview_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waitlist- Interview 1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Waitlist1</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Waitlist - Interview 1</label>
        </rules>
        <rules>
            <name>Invite_to_Interview_from_Waitlist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Invite to Interview from Waitlist</stringValue>
                </rightValue>
            </conditions>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Invite to Interview from Waitlist</label>
        </rules>
        <rules>
            <name>Not_Moving_Forward_from_Waitlist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Moving Forward from Waitlist</stringValue>
                </rightValue>
            </conditions>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Not Moving Forward from Waitlist</label>
        </rules>
        <rules>
            <name>Hold_on_Matching_Wave_2_Submitted_ConsiderMes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hold on Matching</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Send to Matching Pool</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HoldW1</targetReference>
            </connector>
            <label>Hold on Matching - Wave 2 - Submitted ConsiderMes</label>
        </rules>
        <rules>
            <name>Move_to_Wave_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Fellowship_Applying_for__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Move to Wave 2 (PLACEHOLDER)</label>
        </rules>
        <rules>
            <name>Offer_Sent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Offer Sent</stringValue>
                </rightValue>
            </conditions>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Offer Sent</label>
        </rules>
        <rules>
            <name>Host_Dropped_Out_After_Confirmation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Host Dropped after Confirmation</stringValue>
                </rightValue>
            </conditions>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Host Dropped Out After Confirmation</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Fellow Application - US Fellows - Immediate Send_ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Fellow Application - US Fellows - Immediate Send</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Stage</targetReference>
        </connector>
        <filterFormula>{!$Permission.Flow_Automations_Off} &lt;&gt; True
&amp;&amp; 
ispickval({!$Record.Fellowship_Applying_for__c}, &quot;U.S. Fellowship&quot;)</filterFormula>
        <object>Fellow_Application__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>Wave1Deadline</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <dateTimeValue>2023-11-29T04:59:00.000Z</dateTimeValue>
        </value>
    </variables>
</Flow>
