unpackaged/main/default/flows/Fellow_Application_Two_Day_Wait_India.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Interview_1_India</name>
        <label>Interview 1 India</label>
        <locationX>374</locationX>
        <locationY>384</locationY>
        <actionName>Fellow_Application__c.Interview_1_Complete_Not_Moving_On_India</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>interview_1_email_templ</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Not_Moving_Forward</name>
        <label>Not Moving Forward</label>
        <locationX>638</locationX>
        <locationY>384</locationY>
        <actionName>Fellow_Application__c.Not_Moving_Forward_From_Waitlist_India</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Not_moving_forward_from_wait</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Not_Qual_Email</name>
        <label>Not Qual Email</label>
        <locationX>110</locationX>
        <locationY>384</locationY>
        <actionName>Fellow_Application__c.Not_Qualified_and_Notified_India</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Not_Qual_email_temp</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Template_ID</name>
        <label>Assign Template ID</label>
        <locationX>110</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>assigntemplateid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Not_Qual_email_temp.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Launch_subflow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Template_ID</name>
        <label>Copy 1 of Assign Template ID</label>
        <locationX>374</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>assigntemplateid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>interview_1_email_templ.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Launch_subflow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Template_ID</name>
        <label>Copy 2 of Assign Template ID</label>
        <locationX>638</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>assigntemplateid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Not_moving_forward_from_wait.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Launch_subflow</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Stage</name>
        <label>Stage</label>
        <locationX>506</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Qualified_and_Notified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Qualified and Notified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Not_Qual_Email</targetReference>
            </connector>
            <label>Not Qualified and Notified</label>
        </rules>
        <rules>
            <name>Interview_1_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Interview 1 Complete- Not Moving On</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Interview_1_India</targetReference>
            </connector>
            <label>Interview 1 Complete</label>
        </rules>
        <rules>
            <name>Not_Moving_Forward_from_Waitlist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Moving Forward from Waitlist</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Not_Moving_Forward</targetReference>
            </connector>
            <label>Not Moving Forward from Waitlist</label>
        </rules>
    </decisions>
    <description>For stages: Not Qualified and Notified, Interview 1 Complete - Not Moving On, and Not Moving Forward from Waitlist
v2 added immediate send for interview 1 complete for testing purposes
v3 removed immediate send and added subflow</description>
    <environments>Default</environments>
    <interviewLabel>Fellow Application - Two Day Wait - India {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Fellow Application - Two Day Wait - India</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>interview_1_email_templ</name>
        <label>interview 1 email templ</label>
        <locationX>374</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Assign_Template_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>India_Interview_1_Complete_Not_Moving_On_1695646365470</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Not_moving_forward_from_wait</name>
        <label>Not moving forward from wait</label>
        <locationX>638</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_2_of_Assign_Template_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>India_Not_Moving_Forward_From_Waitlist_1695647371697</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Not_Qual_email_temp</name>
        <label>Not Qual email temp</label>
        <locationX>110</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Template_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>India_Not_Qualified_and_Notified_1691069421955</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterFormula>{!$Permission.Flow_Automations_Off} &lt;&gt; TRUE
&amp;&amp;
OR(
ispickval({!$Record.Status__c},&quot;Not Qualified and Notified&quot;), 
 ispickval({!$Record.Status__c}, &quot;Interview 1 Complete- Not Moving On&quot;),
 ispickval({!$Record.Status__c}, &quot;Not Moving Forward from Waitlist&quot;)
)
&amp;&amp;
ispickval({!$Record.Fellowship_Applying_for__c}, &quot;India Fellowship&quot;)</filterFormula>
        <object>Fellow_Application__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>X2_day_wait</name>
            <connector>
                <targetReference>Stage</targetReference>
            </connector>
            <label>2 day wait</label>
            <offsetNumber>2</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Launch_subflow</name>
        <label>Launch subflow</label>
        <locationX>506</locationX>
        <locationY>792</locationY>
        <flowName>Subflow_Create_Email_Message_for_Email_Alerts</flowName>
        <inputAssignments>
            <name>varConId</name>
            <value>
                <elementReference>$Record.Applicant__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varEmailTemplateId</name>
            <value>
                <elementReference>assigntemplateid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRelatedToId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varToAddress</name>
            <value>
                <elementReference>$Record.Fellow_Applicant_Email__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>assigntemplateid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
