unpackaged/main/default/flows/Fellow_Application_Manage_Campaign_for_Deadline_Reminder_All_Programs-1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>All_Campaigns</name>
        <label>All Campaigns</label>
        <locationX>864</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>AllCampaigns</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Campaigns.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AllCampaigns</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Program</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Campaigns</name>
        <label>India Campaign</label>
        <locationX>468</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>varIndiaCampaign</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Campaigns.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Campaigns</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Campaigns</name>
        <label>US Campaign</label>
        <locationX>732</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>varUSCampaign</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Campaigns.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Campaigns</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Campaigns</name>
        <label>China Campaign</label>
        <locationX>996</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>varChina</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Campaigns.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Campaigns</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Contact_is_Campaign_Member</name>
        <label>Does campaign member exist already</label>
        <locationX>380</locationX>
        <locationY>1139</locationY>
        <defaultConnector>
            <targetReference>Program1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does Not Exist</defaultConnectorLabel>
        <rules>
            <name>Yes_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Prospective Applicant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_from_Campaign</targetReference>
            </connector>
            <label>Yes, Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Program</name>
        <label>Program</label>
        <locationX>864</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Loop_Campaigns</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>India</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Campaigns.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>India</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Campaigns</targetReference>
            </connector>
            <label>India</label>
        </rules>
        <rules>
            <name>U_S</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Campaigns.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>U.S.</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Campaigns</targetReference>
            </connector>
            <label>U.S.</label>
        </rules>
        <rules>
            <name>China</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Campaigns.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>China</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Assign_Campaigns</targetReference>
            </connector>
            <label>China</label>
        </rules>
    </decisions>
    <decisions>
        <name>Program1</name>
        <label>Program</label>
        <locationX>710</locationX>
        <locationY>1247</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>India1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Fellowship_Applying_for__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>India Fellowship</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_Campaign</targetReference>
            </connector>
            <label>India</label>
        </rules>
        <rules>
            <name>U_S1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Fellowship_Applying_for__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>U.S. Fellowship</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_US_Campaign</targetReference>
            </connector>
            <label>U.S.</label>
        </rules>
        <rules>
            <name>China1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Fellowship_Applying_for__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>China Fellowship</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_China_Campaign</targetReference>
            </connector>
            <label>China</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Fellow Application - Manage Campaign for Deadline Reminder (All Programs) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Fellow Application - Manage Campaign for Deadline Reminder (All Programs)</label>
    <loops>
        <name>Loop_Campaigns</name>
        <label>Loop Campaigns</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Campaign</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>All_Campaigns</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Campaign_Member</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Add_to_Campaign</name>
        <label>Add to Campaign</label>
        <locationX>314</locationX>
        <locationY>1355</locationY>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>varIndiaCampaign</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Applicant__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Opt In</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Add_to_China_Campaign</name>
        <label>Add to China Campaign</label>
        <locationX>842</locationX>
        <locationY>1355</locationY>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>varChina</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Applicant__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Opt In</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Add_to_US_Campaign</name>
        <label>Add to US Campaign</label>
        <locationX>578</locationX>
        <locationY>1355</locationY>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>varUSCampaign</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Applicant__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Opt In</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Remove_from_Campaign</name>
        <label>Remove from Campaign</label>
        <locationX>50</locationX>
        <locationY>1247</locationY>
        <inputReference>Get_Campaign_Member</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Campaign</name>
        <label>Get Campaign</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Campaigns</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>India Reminder</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>U.S. Reminder</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>China Reminder</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Campaign_Member</name>
        <label>Get Campaign Member</label>
        <locationX>380</locationX>
        <locationY>1031</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_is_Campaign_Member</targetReference>
        </connector>
        <filterLogic>(1 or 3 or 4) and  2</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varChina</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Applicant__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varIndiaCampaign</elementReference>
            </value>
        </filters>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varUSCampaign</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Campaign</targetReference>
        </connector>
        <filterFormula>{!$Permission.Flow_Automations_Off} &lt;&gt; True
&amp;&amp;

ISNEW() &amp;&amp; ispickval({!$Record.Status__c}, &quot;Prospective Applicant&quot;) || ispickval({!$Record.Status__c}, &quot;Application Submitted&quot;)</filterFormula>
        <object>Fellow_Application__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <description>All IDs of campaigns from get campaign</description>
        <name>AllCampaigns</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Campaigns</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>varCampaignMemberId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>varChina</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varExistingMember</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varIndiaCampaign</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUSCampaign</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
