unpackaged/main/default/flows/Fellow_Application_Send_Reference_Check_1_day_Delay_India.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Reference_1_India</name>
        <label>Reference 1 India</label>
        <locationX>308</locationX>
        <locationY>276</locationY>
        <actionName>Fellow_Application__c.Reference_1_India</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Reference_2_India</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Fellow_Application__c.Reference_1_India</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Reference_2_India</name>
        <label>Reference 2 India</label>
        <locationX>308</locationX>
        <locationY>384</locationY>
        <actionName>Fellow_Application__c.Reference_2_India</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Reference_3_India</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Fellow_Application__c.Reference_2_India</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Reference_3_India</name>
        <label>Reference 3 India</label>
        <locationX>308</locationX>
        <locationY>492</locationY>
        <actionName>Fellow_Application__c.Reference_3_India</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Fellow_Application__c.Reference_3_India</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <description>1 day delay. Sends reference check email for India applicants.</description>
    <environments>Default</environments>
    <interviewLabel>Fellow Application - Send Reference Check - 1 day Delay India {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Fellow Application - Send Reference Check - 1 day Delay India</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterFormula>{!$Permission.Flow_Automations_Off} &lt;&gt; TRUE
&amp;&amp;
OR(
ispickval({!$Record.Status__c}, &quot;Send Invite for Interview 1&quot;),
ispickval({!$Record.Status__c}, &quot;Invite to Interview from Waitlist&quot;)
)
&amp;&amp;
ispickval({!$Record.Fellowship_Applying_for__c}, &quot;India Fellowship&quot;)</filterFormula>
        <object>Fellow_Application__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>Wait_1_Days</name>
            <connector>
                <targetReference>Reference_1_India</targetReference>
            </connector>
            <label>Wait 1 Day</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>orgwideemail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>edfclimatecorps.apply@edf.org</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>RefEmail1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Reference_Email_1__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>RefEmail2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Reference_Email_2__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>RefEmail3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Reference_Email_3__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>ReferenceCheckTemplate1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>00X7d000001L9wfEAC</stringValue>
        </value>
    </variables>
    <variables>
        <name>ReferenceCheckTemplate2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>00X7d000001L9wkEAC</stringValue>
        </value>
    </variables>
    <variables>
        <name>ReferenceCheckTemplate3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>00X7d000001L9wlEAC</stringValue>
        </value>
    </variables>
</Flow>
