unpackaged/main/default/flows/Grant_Donor_Agreement_Approval_Case_Closed_Send_Chatter_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Chatter_Notification_to_Submitter</name>
        <label>Send Chatter Notification to Submitter</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>DonorAgreementChatterMessageBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Chatter_Notification_to_Submitter_Fund</name>
        <label>Send Chatter Notification to Submitter and Fund Admin</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>FundChatterMessageBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Chatter_Notification_to_Submitter_Fundv2</name>
        <label>Send Chatter Notification to Submitter</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>FundChatterMessageBodyV2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Chatter_Notification_to_Submitter_Grant</name>
        <label>Send Chatter Notification to Submitter and Grant Manager</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>GrantChatterMessageBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Chatter_Notification_to_Submitter_Grantv2</name>
        <label>Send Chatter Notification to Submitter</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>GrantChatterMessageBodyV2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Case_Reason_Decision</name>
        <label>Case Reason Decision</label>
        <locationX>710</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Fault</defaultConnectorLabel>
        <rules>
            <name>Include_Grant_Manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Grant Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Grant_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Grant_Manager__r.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.CreatedById</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Chatter_Notification_to_Submitter_Grant</targetReference>
            </connector>
            <label>Include Grant Manager</label>
        </rules>
        <rules>
            <name>Grant_Approvals</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Grant Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Chatter_Notification_to_Submitter_Grantv2</targetReference>
            </connector>
            <label>Grant Approvals</label>
        </rules>
        <rules>
            <name>Include_Fund_Administrator</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fund Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Fund_Administrator__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Fund_Administrator__r.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.CreatedById</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Chatter_Notification_to_Submitter_Fund</targetReference>
            </connector>
            <label>Include Fund Administrator</label>
        </rules>
        <rules>
            <name>Fund_Requests</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fund Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Chatter_Notification_to_Submitter_Fundv2</targetReference>
            </connector>
            <label>Fund Requests</label>
        </rules>
        <rules>
            <name>Donor_Agreement_Approvals</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Donor Agreement Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Chatter_Notification_to_Submitter</targetReference>
            </connector>
            <label>Donor Agreement Approvals</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Grant/Donor Agreement Approval Case Closed --&gt; Send Chatter Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GP Cases Closed --&gt; Send Chatter Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Case_Reason_Decision</targetReference>
        </connector>
        <filterFormula>{!$Permission.Flow_Automations_Off} &lt;&gt; TRUE
&amp;&amp;
(ispickval({!$Record.Reason}, &quot;Grant Approval&quot;) || ispickval({!$Record.Reason}, &quot;Donor Agreement Approval&quot;) || ispickval({!$Record.Reason}, &quot;Fund Request&quot;))
&amp;&amp;
contains(text({!$Record.Status}), &quot;Closed&quot;)</filterFormula>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>DonorAgreementChatterMessageBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>@[{!$Record.CreatedById}] Your {!$Record.Reason} Case was updated to {!$Record.Status} for {!$Record.Opportunity__r.Name}

Additional Information:
Opportunity Amount: ${!$Record.Opportunity_Amount__c}
Close Date: {!$Record.Opportunitity_Close_Date__c}
Review Criteria: {!$Record.Review_Criteria__c}</text>
    </textTemplates>
    <textTemplates>
        <name>FundChatterMessageBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>@[{!$Record.CreatedById}] @[{!$Record.Fund_Administrator__r.Id}] Your {!$Record.Reason} Case was updated to {!$Record.Status} for {!$Record.Opportunity__r.Name}

Additional Information:
Opportunity Amount: ${!$Record.Opportunity_Amount__c}
Close Date: {!$Record.Opportunitity_Close_Date__c}
Fund Name: {!$Record.New_Fund_Name__c}</text>
    </textTemplates>
    <textTemplates>
        <name>FundChatterMessageBodyV2</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>@[{!$Record.CreatedById}] Your {!$Record.Reason} Case was updated to {!$Record.Status} for {!$Record.Opportunity__r.Name}

Additional Information:
Opportunity Amount: ${!$Record.Opportunity_Amount__c}
Close Date: {!$Record.Opportunitity_Close_Date__c}
Fund Name: {!$Record.New_Fund_Name__c}</text>
    </textTemplates>
    <textTemplates>
        <name>GrantChatterMessageBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>@[{!$Record.CreatedById}] @[{!$Record.Grant_Manager__r.Id}] Your {!$Record.Reason} Case was updated to {!$Record.Status} for {!$Record.Opportunity__r.Name}

Additional Information:
Opportunity Amount: ${!$Record.Opportunity_Amount__c}
Close Date: {!$Record.Opportunitity_Close_Date__c}
Grant Name: {!$Record.Grant_Name__c}</text>
    </textTemplates>
    <textTemplates>
        <name>GrantChatterMessageBodyV2</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>@[{!$Record.CreatedById}] Your {!$Record.Reason} Case was updated to {!$Record.Status} for {!$Record.Opportunity__r.Name}

Additional Information:
Opportunity Amount: ${!$Record.Opportunity_Amount__c}
Close Date: {!$Record.Opportunitity_Close_Date__c}
Grant Name: {!$Record.Grant_Name__c}</text>
    </textTemplates>
    <triggerOrder>10</triggerOrder>
</Flow>
