unpackaged/main/default/flows/Grant_Approval_Case_Updated_Update_Related_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_Alert_to_ERPSupport_edf_org</name>
        <label>Send Email Alert to ERPSupport@edf.org</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <actionName>Case.External_Grant_Approval_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Opportunity_Record_Type_Decision</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Opportunity_Record_Type_Decision</name>
        <label>Opportunity Record Type Decision?</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Update_Opportunity_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Grant</defaultConnectorLabel>
        <rules>
            <name>Major_Gift</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MajorGift</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Record_Type_ID</targetReference>
            </connector>
            <label>Major Gift</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>OpportunityNameFormula</name>
        <dataType>String</dataType>
        <expression>if ( {!$Record.Opportunity__r.Account.RecordType.DeveloperName} &lt;&gt; &quot;HH_Account&quot;, 
left({!$Record.Opportunity__r.Account.Name} &amp; &quot; $&quot; &amp; text({!$Record.Opportunity__r.Amount}) &amp; &quot; &quot; &amp; {!$Record.Opportunity__r.RecordType.Name} &amp; &quot; &quot; &amp; TEXT(MONTH({!$Record.Opportunity__r.CloseDate})) &amp; &quot;/&quot; &amp; TEXT(DAY({!$Record.Opportunity__r.CloseDate})) &amp; &quot;/&quot;  &amp; TEXT(YEAR({!$Record.Opportunity__r.CloseDate})), 120), left({!$Record.Opportunity__r.npsp__Primary_Contact__r.FirstName} &amp; &quot; &quot; &amp; {!$Record.Opportunity__r.npsp__Primary_Contact__r.LastName} &amp; &quot; $&quot; &amp; text({!$Record.Opportunity__r.Amount}) &amp; &quot; &quot; &amp; {!$Record.Opportunity__r.RecordType.Name} &amp; &quot; &quot; &amp; TEXT(MONTH({!$Record.Opportunity__r.CloseDate})) &amp; &quot;/&quot; &amp; TEXT(DAY({!$Record.Opportunity__r.CloseDate})) &amp; &quot;/&quot;  &amp; TEXT(YEAR({!$Record.Opportunity__r.CloseDate})), 120)
)</expression>
    </formulas>
    <interviewLabel>Grant Approval Case Updated --&gt; {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Grant Approval Case Updated --&gt; Update Related Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Record_Type_ID</name>
        <label>Get Record Type ID</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Opportunity_Fields_MajorGift</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Grant</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity_Fields</name>
        <label>Update Opportunity Fields</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EDF_Role__c</field>
            <value>
                <elementReference>$Record.EDF_Role__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Grant_Lead__c</field>
            <value>
                <elementReference>$Record.Grant_Lead__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Grant_Manager__c</field>
            <value>
                <elementReference>$Record.Grant_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Grant_Name__c</field>
            <value>
                <elementReference>$Record.Grant_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Grant_Term_End_Date__c</field>
            <value>
                <elementReference>$Record.Grant_Term_End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Grant_Term_Start_Date__c</field>
            <value>
                <elementReference>$Record.Grant_Term_Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Grant_number__c</field>
            <value>
                <elementReference>$Record.Grant_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Originating_Currency_Amount__c</field>
            <value>
                <elementReference>$Record.Originating_Currency_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Originating_Currency__c</field>
            <value>
                <elementReference>$Record.Originating_Currency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Overhead_Cap__c</field>
            <value>
                <elementReference>$Record.Indirect_Rate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Program_Officer__c</field>
            <value>
                <elementReference>$Record.Program_Officer__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Fields_MajorGift</name>
        <label>Update Opportunity Fields</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Update_Opportunity_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EDF_Role__c</field>
            <value>
                <elementReference>$Record.EDF_Role__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Grant_Lead__c</field>
            <value>
                <elementReference>$Record.Grant_Lead__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Grant_Manager__c</field>
            <value>
                <elementReference>$Record.Grant_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Grant_Name__c</field>
            <value>
                <elementReference>$Record.Grant_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Grant_Term_End_Date__c</field>
            <value>
                <elementReference>$Record.Grant_Term_End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Grant_Term_Start_Date__c</field>
            <value>
                <elementReference>$Record.Grant_Term_Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Grant_number__c</field>
            <value>
                <elementReference>$Record.Grant_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Originating_Currency_Amount__c</field>
            <value>
                <elementReference>$Record.Originating_Currency_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Originating_Currency__c</field>
            <value>
                <elementReference>$Record.Originating_Currency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Overhead_Cap__c</field>
            <value>
                <elementReference>$Record.Indirect_Rate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Program_Officer__c</field>
            <value>
                <elementReference>$Record.Program_Officer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Record_Type_ID.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Name</name>
        <label>Update Opportunity Name</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Major Gift</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>OpportunityNameFormula</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Send_Email_Alert_to_ERPSupport_edf_org</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterFormula>{!$Permission.Flow_Automations_Off} &lt;&gt; TRUE
&amp;&amp;
ispickval({!$Record.Reason}, &quot;Grant Approval&quot;)
&amp;&amp;
ispickval({!$Record.Status}, &quot;Closed - Resolved&quot;)</filterFormula>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>5</triggerOrder>
</Flow>
