unpackaged/main/default/flows/Host_Application_Update_Create_Engagement_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_New_Contacts_to_Collection_for_Subflow</name>
        <label>Add New Contacts to Collection for Subflow</label>
        <locationX>1370</locationX>
        <locationY>3959</locationY>
        <assignmentItems>
            <assignToReference>sobjContact</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewDSId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjContact</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewHLSId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjContact</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewHRId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Were_contacts_created</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds all contacts to collection variable</description>
        <name>Assign_Contacts_to_Collection</name>
        <label>Add Contacts to Collection</label>
        <locationX>842</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>AllContacts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewDSId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AllContacts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewHLSId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AllContacts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewHRId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contacts_found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_DS_ID</name>
        <label>Assign DS ID</label>
        <locationX>1194</locationX>
        <locationY>1445</locationY>
        <assignmentItems>
            <assignToReference>varEngagement.Supervisor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Contacts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDSId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Contacts.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_DSidto_Variable</name>
        <label>Assign DSid to Variable</label>
        <locationX>446</locationX>
        <locationY>2753</locationY>
        <assignmentItems>
            <assignToReference>varDSId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewDSId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AllContacts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewDSId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Is_HR_Null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_HLS_ID</name>
        <label>Assign HLS ID</label>
        <locationX>930</locationX>
        <locationY>1445</locationY>
        <assignmentItems>
            <assignToReference>varEngagement.High_Level_Sponsor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Contacts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHLSCon</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Contacts.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_HLS_ID_to_Variable</name>
        <label>Assign HLS ID to Variable</label>
        <locationX>50</locationX>
        <locationY>2561</locationY>
        <assignmentItems>
            <assignToReference>varHLSCon</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewHLSId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AllContacts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewHLSId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_DS_Null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_HR_ID</name>
        <label>Assign HR ID</label>
        <locationX>1458</locationX>
        <locationY>1445</locationY>
        <assignmentItems>
            <assignToReference>varEngagement.HR_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Contacts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHRId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Contacts.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_HRID_to_Variable</name>
        <label>Assign HRID to Variable</label>
        <locationX>1106</locationX>
        <locationY>2861</locationY>
        <assignmentItems>
            <assignToReference>varHRId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewHRId.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ID</name>
        <label>Assign ID</label>
        <locationX>314</locationX>
        <locationY>2453</locationY>
        <assignmentItems>
            <assignToReference>NewDSId.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewHLSId.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_DSidto_Variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_get_rec</name>
        <label>Assign to get rec</label>
        <locationX>1370</locationX>
        <locationY>3551</locationY>
        <assignmentItems>
            <assignToReference>varEngagement.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Engagement.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Engagement</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varEngagement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Engagement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Updates value on engagement record based on host application responses.</description>
        <name>Assign_Values</name>
        <label>Assign Engagement Values</label>
        <locationX>1370</locationX>
        <locationY>3335</locationY>
        <assignmentItems>
            <assignToReference>varEngagement.Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Application Submitted</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEngagement.Industry_ClassificationHA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Industry_Classification__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEngagement.Engagement_Duration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Engagement_Duration__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEngagement.Proposed_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Proposed_Fellowship_Dates__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEngagement.Proposed_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Proposed_Fellowship_End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEngagement.Project_CategoryHA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Project_Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEngagement.Other_Project_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Other_Project_Category_details__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEngagement.Fellowship_Location_PreferenceHA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Fellowship_Location_Preference__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEngagement.Location_Additional_Information__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Location_Additional_Information__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEngagement.Workplan_from_App__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Workplan_Content_from_Application__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEngagement.X2_Preferred_skillsets_and_qualities__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Preferred_skillsets_and_qualities__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEngagement.X3_HR_Restrictions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.HR_Restrictions__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEngagement.X5_International_or_Recent_Grad_Concerns__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Intl_and_Recent_Grad_concerns__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEngagement.X5_Other_Matching_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Other_Matching_Details__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEngagement.Respondent_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Respondent_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEngagement.Respondent_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Respondent_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEngagement.Supervisor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varDSId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEngagement.High_Level_Sponsor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varHLSCon</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEngagement.HR_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varHRId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEngagement.Fellowship_Program__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Fellowship_Program__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEngagement.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEngagement.Fellowship_CityHA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Fellowship_City__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEngagement.Fellowship_StateHA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Fellowship_State__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEngagement.Other_Fellowship_City_State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Fellowship_Address__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEngagement.Form_Assembly_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Form_Assembly_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEngagement.Host_Application_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Application_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEngagement.Private_Vehicle_Required__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Private_Vehicle_Required__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEngagement.Department_Team_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Department_Team_Comments__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEngagement.Date_Application_Submitted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEngagement.Number_of_Fellows_Requested__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Number_of_Fellows_Requested__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_engagement_rec_exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignHLS_ID_to_HR</name>
        <label>AssignHLS ID to HR</label>
        <locationX>842</locationX>
        <locationY>2561</locationY>
        <assignmentItems>
            <assignToReference>NewHRId.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewHLSId.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_HRID_to_Variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_AssignHLS_ID_to_HR</name>
        <label>Assign DS ID to HR</label>
        <locationX>1106</locationX>
        <locationY>2561</locationY>
        <assignmentItems>
            <assignToReference>NewHRId.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewDSId.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_HRID_to_Variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_DS_Contact</name>
        <label>New DS Contact</label>
        <locationX>578</locationX>
        <locationY>2453</locationY>
        <assignmentItems>
            <assignToReference>NewDSId.npe01__WorkEmail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Direct_Supervisor_Email_txt__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewDSId.Constituency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EDFBIZ</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewDSId.Sub_Constituency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EDFBIZ - Climate Corps</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewDSId.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.DS_First_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewDSId.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.DS_Last_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewDSId.npsp__Primary_Affiliation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewDSId.Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Direct_Supervisor_Title_txt__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewDSId.npe01__Preferred_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Work</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_DS_Con</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_Engagement_Addt_Values</name>
        <label>New Engagement Addt Values</label>
        <locationX>1634</locationX>
        <locationY>3551</locationY>
        <assignmentItems>
            <assignToReference>varEngagement.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewEngagementName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEngagement.CC_Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Year_Text</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEngagement.How_did_we_meet_origin_of_lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unsolicited</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEngagement.EDF_Project_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RM_Assignment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEngagement.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Engagement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_HKS_Contact</name>
        <label>New HLS Contact</label>
        <locationX>50</locationX>
        <locationY>2345</locationY>
        <assignmentItems>
            <assignToReference>NewHLSId.npe01__WorkEmail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.High_Level_Sponsor_Email_txt__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewHLSId.Constituency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EDFBIZ</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewHLSId.Sub_Constituency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EDFBIZ - Climate Corps</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewHLSId.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.HLS_First_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewHLSId.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.HLS_Last_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewHLSId.npsp__Primary_Affiliation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewHLSId.Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.High_Level_Sponsor_Title_txt__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewHLSId.npe01__Preferred_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Work</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_HLS_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_HR_Contact</name>
        <label>New HR Contact</label>
        <locationX>1370</locationX>
        <locationY>2561</locationY>
        <assignmentItems>
            <assignToReference>NewHRId.npe01__WorkEmail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.HR_Contact_Email_txt__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewHRId.Constituency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EDFBIZ</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewHRId.Sub_Constituency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EDFBIZ - Climate Corps</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewHRId.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.HRC_First_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewHRId.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.HRC_Last_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewHRId.npsp__Primary_Affiliation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewHRId.Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.HR_Contact_Title__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewHRId.npe01__Preferred_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Work</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_HR_Con</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Contact_IDs</name>
        <label>Check Contact IDs</label>
        <locationX>1326</locationX>
        <locationY>1337</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Contacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>High_Level_Sponsor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewHLSId.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_through_Contacts.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varHLSCon</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_HLS_ID</targetReference>
            </connector>
            <label>High Level Sponsor</label>
        </rules>
        <rules>
            <name>Direct_Supervisor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewDSId.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_through_Contacts.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varDSId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_DS_ID</targetReference>
            </connector>
            <label>Direct Supervisor</label>
        </rules>
        <rules>
            <name>HR_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewHRId.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_through_Contacts.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varHRId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_HR_ID</targetReference>
            </connector>
            <label>HR Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_existing_contacts</name>
        <label>Check for existing contacts</label>
        <locationX>842</locationX>
        <locationY>2237</locationY>
        <defaultConnector>
            <targetReference>Is_DS_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HLS_Does_Not_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varHLSCon</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_HKS_Contact</targetReference>
            </connector>
            <label>HLS Does Not Exist</label>
        </rules>
        <rules>
            <name>DS_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varDSId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_DS_also_HLS</targetReference>
            </connector>
            <label>DS Does Not Exist</label>
        </rules>
        <rules>
            <name>HR_Does_Not_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varHRId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Get_New_Contacts</targetReference>
            </connector>
            <label>HR Does Not Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_engagement_rec_exists</name>
        <label>Check if engagement rec exists</label>
        <locationX>1370</locationX>
        <locationY>3443</locationY>
        <defaultConnector>
            <targetReference>New_Engagement_Addt_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New Engagement</defaultConnectorLabel>
        <rules>
            <name>Engagement_Exists_app_already_submitted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Engagement.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Engagement.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Application Submitted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>New_Engagement_Addt_Values</targetReference>
            </connector>
            <label>Engagement Exists - app already submitted</label>
        </rules>
        <rules>
            <name>Engagement_exists</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Engagement</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Engagement.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lead</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Engagement.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contact</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Engagement.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Interested</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Engagement.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Readied</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Engagement.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Committed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_get_rec</targetReference>
            </connector>
            <label>Exists - Update engagement</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contacts_found</name>
        <label>Contacts found</label>
        <locationX>842</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Double_Check_Acct</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No contacts found</defaultConnectorLabel>
        <rules>
            <name>DS_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewDSId.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Contacts</targetReference>
            </connector>
            <label>DS Found</label>
        </rules>
        <rules>
            <name>HLS_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewHLSId.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Contacts</targetReference>
            </connector>
            <label>HLS Found</label>
        </rules>
        <rules>
            <name>HR_Con_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewHRId.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Contacts</targetReference>
            </connector>
            <label>HR Con Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_Account</name>
        <label>Existing Account?</label>
        <locationX>842</locationX>
        <locationY>1829</locationY>
        <defaultConnector>
            <targetReference>New_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New Account</defaultConnectorLabel>
        <rules>
            <name>Yes_Existing_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Engagement2</targetReference>
            </connector>
            <label>Yes, Existing Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_DS_also_HLS</name>
        <label>Is DS also HLS</label>
        <locationX>446</locationX>
        <locationY>2345</locationY>
        <defaultConnector>
            <targetReference>New_DS_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewHLSId.npe01__WorkEmail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Direct_Supervisor_Email_txt__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_ID</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_DS_Null</name>
        <label>Is DS Null?</label>
        <locationX>842</locationX>
        <locationY>3119</locationY>
        <defaultConnector>
            <targetReference>Is_HR_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varDSId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Get_New_Contacts</targetReference>
            </connector>
            <label>Yes, Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_HR_DS_or_HLS</name>
        <label>Is HR DS or HLS</label>
        <locationX>1106</locationX>
        <locationY>2453</locationY>
        <defaultConnector>
            <targetReference>New_HR_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_is_HLS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewHLSId.npe01__WorkEmail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.HR_Contact_Email_txt__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignHLS_ID_to_HR</targetReference>
            </connector>
            <label>Yes is HLS</label>
        </rules>
        <rules>
            <name>Yes_is_DS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewDSId.npe01__WorkEmail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.HR_Contact_Email_txt__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_AssignHLS_ID_to_HR</targetReference>
            </connector>
            <label>Yes is DS</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_HR_Null</name>
        <label>Is HR Null</label>
        <locationX>1106</locationX>
        <locationY>3227</locationY>
        <defaultConnector>
            <targetReference>Assign_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_HR_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varHRId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Get_New_Contacts</targetReference>
            </connector>
            <label>Yes HR is null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Were_contacts_created</name>
        <label>Were contacts created?</label>
        <locationX>1370</locationX>
        <locationY>4067</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesContactsCreated</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>sobjContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_Affiliations</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CurrentTime</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>HLSFirstName</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.High_Level_Sponsor_txt__c}, FIND(&quot; &quot;, {!$Record.High_Level_Sponsor_txt__c}))</expression>
    </formulas>
    <formulas>
        <name>HLSLastName1</name>
        <dataType>String</dataType>
        <expression>TRIM(MID({!$Record.High_Level_Sponsor_txt__c}, FIND(&quot; &quot;, {!$Record.High_Level_Sponsor_txt__c}), LEN({!$Record.High_Level_Sponsor_txt__c})))</expression>
    </formulas>
    <formulas>
        <name>HLSLastName2</name>
        <dataType>String</dataType>
        <expression>TRIM({!HLSLastName1})</expression>
    </formulas>
    <formulas>
        <name>NewEngagementName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Organization_Name__c} + &quot;, &quot; + {!Year_Text}</expression>
    </formulas>
    <formulas>
        <name>RecordType</name>
        <dataType>String</dataType>
        <expression>IF(
    ISPICKVAL($Record.Fellowship_Program__c, &quot;U.S. Fellowship&quot;),
    &quot;0127d000001QHPZAA4&quot;,
    IF(
        ISPICKVAL($Record.Fellowship_Program__c, &quot;India Fellowship&quot;),
        &quot;0127d000001QHPYAA4&quot;,
        IF(
            ISPICKVAL($Record.Fellowship_Program__c, &quot;China Fellowship&quot;),
            &quot;0127d000001QHPXAA4&quot;,
            &quot;&quot;
        )
    )
)</expression>
    </formulas>
    <formulas>
        <name>RM_Assignment</name>
        <dataType>String</dataType>
        <expression>IF(
ISPICKVAL({!$Record.Fellowship_Program__c}, &quot;U.S. Fellowship&quot;), &quot;0058W000009eyLaQAI&quot;, &quot;0058W000009eyZmQAI&quot;)</expression>
    </formulas>
    <formulas>
        <name>Year</name>
        <dataType>Number</dataType>
        <expression>IF(
    OR(
 MONTH($Record.Date_Application_Submitted__c) = 8,
        MONTH($Record.Date_Application_Submitted__c) = 9,
        MONTH($Record.Date_Application_Submitted__c) = 10,
        MONTH($Record.Date_Application_Submitted__c) = 11,
        MONTH($Record.Date_Application_Submitted__c) = 12
    ),
    YEAR($Record.Date_Application_Submitted__c) + 1,
    YEAR($Record.Date_Application_Submitted__c)
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Year_Text</name>
        <dataType>String</dataType>
        <expression>TEXT(IF(
    OR(
 MONTH($Record.Date_Application_Submitted__c) = 8,
        MONTH($Record.Date_Application_Submitted__c) = 9,
        MONTH($Record.Date_Application_Submitted__c) = 10,
        MONTH($Record.Date_Application_Submitted__c) = 11,
        MONTH($Record.Date_Application_Submitted__c) = 12
    ),
    YEAR($Record.Date_Application_Submitted__c) + 1,
    YEAR($Record.Date_Application_Submitted__c)
))</expression>
    </formulas>
    <interviewLabel>Host Application - Update/Create Engagement Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Host Application - Update/Create Engagement Record</label>
    <loops>
        <name>Loop_through_Contacts</name>
        <label>Loop through Contacts</label>
        <locationX>842</locationX>
        <locationY>1229</locationY>
        <collectionReference>AllContacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Contact_IDs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Double_Check_Acct</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_DS_Con</name>
        <label>Create DS Con</label>
        <locationX>578</locationX>
        <locationY>2561</locationY>
        <connector>
            <targetReference>Assign_DSidto_Variable</targetReference>
        </connector>
        <inputReference>NewDSId</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Engagement</name>
        <label>Create Engagement</label>
        <locationX>1634</locationX>
        <locationY>3659</locationY>
        <connector>
            <targetReference>Populate_Engagement_on_Host_App</targetReference>
        </connector>
        <inputReference>varEngagement</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_HLS_Contact</name>
        <label>Create HLS Contact</label>
        <locationX>50</locationX>
        <locationY>2453</locationY>
        <connector>
            <targetReference>Assign_HLS_ID_to_Variable</targetReference>
        </connector>
        <inputReference>NewHLSId</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_HR_Con</name>
        <label>Create HR Con</label>
        <locationX>1370</locationX>
        <locationY>2669</locationY>
        <connector>
            <targetReference>Assign_HRID_to_Variable</targetReference>
        </connector>
        <inputReference>NewHRId</inputReference>
    </recordCreates>
    <recordCreates>
        <name>New_Account</name>
        <label>New Account</label>
        <locationX>974</locationX>
        <locationY>1937</locationY>
        <assignRecordIdToReference>Get_Account.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Get_New_Contacts</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Organization_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Organization_Constituency__c</field>
            <value>
                <stringValue>EDFBIZ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Organization_sub_constituency__c</field>
            <value>
                <stringValue>EDFBIZ - Climate Corps</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0125e000001srh0AAA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Organization</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordLookups>
        <name>Copy_1_of_Get_New_Contacts</name>
        <label>Copy 1 of Get New Contacts</label>
        <locationX>1106</locationX>
        <locationY>2345</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_HR_DS_or_HLS</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varHLSCon</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varDSId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varHRId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Double_Check_Acct</name>
        <label>Double Check Acct</label>
        <locationX>842</locationX>
        <locationY>1721</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Organization_Name__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>Get_Account</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_High_Level_Sponsor</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Checks if email address for DS exists in Salesforce</description>
        <name>Get_Direct_Supervisor</name>
        <label>Get Direct Supervisor</label>
        <locationX>842</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_HR_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Direct_Supervisor_Email_txt__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>NewDSId</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Engagement</name>
        <label>Get Engagement</label>
        <locationX>842</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Engagement_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Climate_Corps_Engagement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Engagement2</name>
        <label>Get Engagement2</label>
        <locationX>710</locationX>
        <locationY>1937</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_New_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CC_Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Year_Text</elementReference>
            </value>
        </filters>
        <object>Climate_Corps_Engagement__c</object>
        <outputReference>Get_Engagement</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Stage__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Checks if email address for HLS exists in Salesforce</description>
        <name>Get_High_Level_Sponsor</name>
        <label>Get High Level Sponsor</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Direct_Supervisor</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.High_Level_Sponsor_Email_txt__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>NewHLSId</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Checks if email address for HRC exists in Salesforce</description>
        <name>Get_HR_Contact</name>
        <label>Get HR Contact</label>
        <locationX>842</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Contacts_to_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.HR_Contact_Email_txt__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>NewHRId</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_New_Contacts</name>
        <label>Get New Contacts</label>
        <locationX>842</locationX>
        <locationY>2129</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_existing_contacts</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varHLSCon</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varDSId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varHRId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Populate_Engagement_on_Host_App</name>
        <label>Populate Engagement on Host App</label>
        <locationX>1370</locationX>
        <locationY>3851</locationY>
        <connector>
            <targetReference>Add_New_Contacts_to_Collection_for_Subflow</targetReference>
        </connector>
        <inputAssignments>
            <field>Climate_Corps_Engagement__c</field>
            <value>
                <elementReference>varEngagement.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Engagement_ID__c</field>
            <value>
                <elementReference>varEngagement.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Engagement</name>
        <label>Update Engagement</label>
        <locationX>1370</locationX>
        <locationY>3659</locationY>
        <connector>
            <targetReference>Populate_Engagement_on_Host_App</targetReference>
        </connector>
        <inputReference>Get_Engagement</inputReference>
    </recordUpdates>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Engagement</targetReference>
        </connector>
        <filterFormula>{!$Permission.Flow_Automations_Off} &lt;&gt; True</filterFormula>
        <object>Host_Application__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Update_Contact_Affiliations</name>
        <label>Update Contact Affiliations</label>
        <locationX>1238</locationX>
        <locationY>4175</locationY>
        <flowName>Subflow_Update_Affiliations_on_Host_App_Contacts</flowName>
        <inputAssignments>
            <name>varDSId</name>
            <value>
                <elementReference>NewDSId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varHLSId</name>
            <value>
                <elementReference>NewHLSId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varHRId</name>
            <value>
                <elementReference>NewHRId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>AllContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>AllExistingContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>FinalContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>NewDSId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>NewHLSId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>NewHRId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>sobjContact</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>All New contacts</description>
        <name>sObjContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varDSId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varEngagement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Climate_Corps_Engagement__c</objectType>
    </variables>
    <variables>
        <name>varHLSCon</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varHRId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
