unpackaged/main/default/flows/Host_App_Move_files_to_engagement.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Failed_to_find_Engagement_Record</name>
        <label>Failed to find Engagement Record</label>
        <locationX>842</locationX>
        <locationY>803</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>abuda@edf.org</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Flow Did Not Fire as Expected</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailBody</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Update_Content_Doc_Var</name>
        <label>Update Content Doc Var</label>
        <locationX>1062</locationX>
        <locationY>1103</locationY>
        <assignmentItems>
            <assignToReference>varContentLink.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Engagement.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContentLink.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_though_content_docs.ContentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjContentDocLink</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varContentLink</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_though_content_docs</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Files_found</name>
        <label>Files found?</label>
        <locationX>609</locationX>
        <locationY>555</locationY>
        <defaultConnectorLabel>No Files</defaultConnectorLabel>
        <rules>
            <name>No_files_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Files</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Engagement</targetReference>
            </connector>
            <label>Files found</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_Engagement_Found</name>
        <label>No Engagement Found</label>
        <locationX>974</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>loop_though_content_docs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Engagement_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Engagement.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Failed_to_find_Engagement_Record</targetReference>
            </connector>
            <label>Engagement is Null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Hyperlink</name>
        <dataType>String</dataType>
        <expression>HYPERLINK({!URL}, &quot;Record Link&quot;)</expression>
    </formulas>
    <formulas>
        <name>URL</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_510},FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_510})) &amp; {!$Record.Id}</expression>
    </formulas>
    <interviewLabel>Host App - Move files to engagement {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Host App - Move files to engagement</label>
    <loops>
        <name>loop_though_content_docs</name>
        <label>loop though content docs</label>
        <locationX>974</locationX>
        <locationY>995</locationY>
        <collectionReference>Get_Files</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Content_Doc_Var</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Content_Doc_links</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Content_Doc_links</name>
        <label>Create Content Doc links</label>
        <locationX>974</locationX>
        <locationY>1295</locationY>
        <inputReference>sObjContentDocLink</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Engagement</name>
        <label>Get Engagement</label>
        <locationX>974</locationX>
        <locationY>587</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>No_Engagement_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Engagement_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Climate_Corps_Engagement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Files</name>
        <label>Get Files</label>
        <locationX>617</locationX>
        <locationY>406</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Files_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <filterFormula>{!$Permission.Flow_Automations_Off} &lt;&gt; True</filterFormula>
        <object>Host_Application__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>Wait_2_Minutes</name>
            <connector>
                <targetReference>Get_Files</targetReference>
            </connector>
            <label>Wait 2 Minutes</label>
            <offsetNumber>2</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>emailBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The following flow failed to run as expected. Files were found on the host application but an engagement record could not be located. 
Flow Name: Host App - Move files to engagement
Record: {!$Record.Name}
Record Link: {!URL}
{!Hyperlink}</text>
    </textTemplates>
    <triggerOrder>1500</triggerOrder>
    <variables>
        <name>sObjContentDocLink</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>varContentLink</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
</Flow>
