unpackaged/main/default/flows/MCRM_Contacts_Create_Weekly_Tasks.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_to_Task_Collection</name>
        <label>Add to Task Collection</label>
        <locationX>138</locationX>
        <locationY>756</locationY>
        <assignmentItems>
            <assignToReference>sObjectTask</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTaskRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Data</name>
        <label>Assign Data</label>
        <locationX>138</locationX>
        <locationY>636</locationY>
        <assignmentItems>
            <assignToReference>varTaskRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Contacts.MCRM_User__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskRecord.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>To Do</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskRecord.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Outstanding</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskRecord.Additional_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Update status to Completed to confirm you&apos;ve sent external meetings to salesforcerequest@edf.org.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskRecord.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Contacts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskRecord.Activity_Constituency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EDF Staff</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskRecord.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TodayPlus7</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TaskSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.General_Task_Record_Type_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Task_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Found_Records</name>
        <label>Found Records?</label>
        <locationX>182</locationX>
        <locationY>396</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contacts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Contacts</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>TaskSubject</name>
        <dataType>String</dataType>
        <expression>&quot;Submit activities: &quot; &amp; text(month({!TodayPlus3})) &amp; &quot;/&quot; &amp; text(day({!TodayPlus3})) &amp; &quot;-&quot; &amp; text(month({!TodayPlus7})) &amp; &quot;/&quot; &amp; text(day({!TodayPlus7}))</expression>
    </formulas>
    <formulas>
        <name>TodayPlus3</name>
        <dataType>Date</dataType>
        <expression>today()+3</expression>
    </formulas>
    <formulas>
        <name>TodayPlus7</name>
        <dataType>Date</dataType>
        <expression>today() + 7</expression>
    </formulas>
    <interviewLabel>MCRM Contacts --&gt; Create Weekly Tasks {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MCRM Contacts --&gt; Create Weekly Tasks</label>
    <loops>
        <name>Loop_Through_Contacts</name>
        <label>Loop Through Contacts</label>
        <locationX>50</locationX>
        <locationY>516</locationY>
        <collectionReference>Get_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Data</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Tasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Tasks</name>
        <label>Create Tasks</label>
        <locationX>50</locationX>
        <locationY>972</locationY>
        <inputReference>sObjectTask</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Contacts</name>
        <label>Get Contacts</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MCRM_User__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contacts</targetReference>
        </connector>
        <schedule>
            <frequency>Weekly</frequency>
            <startDate>2022-12-02</startDate>
            <startTime>06:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>sObjectTask</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>varTaskRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
