unpackaged/main/default/flows/Opportunity_Contact_Role_Update_Partial_Soft_Credit.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>PSC_Change</name>
        <label>PSC Change</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Delete_Related_PSC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Delete PSC</defaultConnectorLabel>
        <rules>
            <name>No_PSC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PSC</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No PSC</label>
        </rules>
        <rules>
            <name>Update_PSC</name>
            <conditionLogic>(1 or 2 or 3 or 4 or 5) and 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Role</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Workplace Giving</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Role</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Funder - Soft Credit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Role</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agency</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Role</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sponsor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Role</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DAF</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Do_Not_Create_PSC__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Related_PSC</targetReference>
            </connector>
            <label>Update PSC</label>
        </rules>
    </decisions>
    <description>Separate flow from FB-3651. Gets PSC from an OCR and updates to match new role. Only updates if the new role is PSC-eligible. If new role is not PSC-eligible or Do Not Create PSC is checked, any matching PSCs will be deleted.</description>
    <environments>Default</environments>
    <formulas>
        <name>AmountFormula</name>
        <dataType>Currency</dataType>
        <expression>IF(( ISBLANK({!$Record.Opportunity.Close_Amount__c}) || {!$Record.Opportunity.Close_Amount__c} = 0),
{!$Record.Opportunity.Amount},{!$Record.Opportunity.Close_Amount__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>f_CaseSafeId</name>
        <dataType>String</dataType>
        <expression>Casesafeid({!$Record.Id})</expression>
    </formulas>
    <interviewLabel>Opportunity Contact Role --&gt; Update Partial Soft Credit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Contact Role --&gt; Update Partial Soft Credit</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Related_PSC</name>
        <label>Delete Related PSC</label>
        <locationX>396</locationX>
        <locationY>539</locationY>
        <inputReference>PSC</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>PSC</name>
        <label>PSC</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PSC_Change</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npsp__Contact_Role_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>f_CaseSafeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>npsp__Partial_Soft_Credit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Related_PSC</name>
        <label>Update Related PSC</label>
        <locationX>132</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>npsp__Role_Name__c</field>
            <value>
                <elementReference>$Record.Role</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Related_Partial_Soft_Credit__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>PSC</targetReference>
        </connector>
        <filterFormula>{!$Permission.Flow_Automations_Off} &lt;&gt; TRUE
&amp;&amp;
ISCHANGED({!$Record.Role})</filterFormula>
        <object>OpportunityContactRole</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>PartialSoftCreditRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>npsp__Partial_Soft_Credit__c</objectType>
    </variables>
</Flow>
