unpackaged/main/default/flows/Opportunity_Contact_Role_Update_Partial_Soft_Credit.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_loop_to_collection</name>
        <label>Add loop to collection</label>
        <locationX>490</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>UpdateablePSC</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Through_PSCs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Through_PSCs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignValues</name>
        <label>AssignValues</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>PartialSoftCreditRecord.npsp__Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PartialSoftCreditRecord.npsp__Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PartialSoftCreditRecord.npsp__Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AmountFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PartialSoftCreditRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Created from OCR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PartialSoftCreditRecord.npsp__Role_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Role</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Related_PSC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Role</name>
        <label>Set Role</label>
        <locationX>490</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Through_PSCs.npsp__Role_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Role</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_loop_to_collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Create_vs_Update</name>
        <label>Create vs Update</label>
        <locationX>226</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Through_PSCs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update</defaultConnectorLabel>
        <rules>
            <name>Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PSC</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignValues</targetReference>
            </connector>
            <label>Create</label>
        </rules>
    </decisions>
    <decisions>
        <name>PSC_Change</name>
        <label>PSC Change</label>
        <locationX>534</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Delete_Related_PSC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Delete PSC (Not Eligible)</defaultConnectorLabel>
        <rules>
            <name>Create_or_Update_PSC</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Role</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Workplace Giving</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Role</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Funder - Soft Credit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Role</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agency</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Role</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sponsor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Role</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DAF</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_vs_Update</targetReference>
            </connector>
            <label>Create or Update PSC (Eligible)</label>
        </rules>
        <rules>
            <name>No_PSC_Exist_Not_Eligible</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PSC</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No PSC Exist, Not Eligible</label>
        </rules>
    </decisions>
    <description>Separate flow from FB-3651. Gets PSC from an OCR and updates to match new role. *Only fires on role change. Ignores &quot;do not create PSC&quot; checkbox.*

Only updates if the new role is PSC-eligible. If new role is not PSC-eligible, any matching PSCs will be deleted.</description>
    <environments>Default</environments>
    <formulas>
        <name>AmountFormula</name>
        <dataType>Currency</dataType>
        <expression>IF(( ISBLANK({!$Record.Opportunity.Close_Amount__c}) || {!$Record.Opportunity.Close_Amount__c} = 0),
{!$Record.Opportunity.Amount},{!$Record.Opportunity.Close_Amount__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>f_CaseSafeId</name>
        <dataType>String</dataType>
        <expression>Casesafeid({!$Record.Id})</expression>
    </formulas>
    <interviewLabel>Opportunity Contact Role --&gt; Update Partial Soft Credit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Contact Role --&gt; Update Partial Soft Credit</label>
    <loops>
        <name>Through_PSCs</name>
        <label>Through PSCs</label>
        <locationX>402</locationX>
        <locationY>647</locationY>
        <collectionReference>PSC</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Role</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Related_PSC</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Related_PSC</name>
        <label>Create Related PSC</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <inputReference>PartialSoftCreditRecord</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Related_PSC</name>
        <label>Delete Related PSC</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <inputReference>PSC</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>PSC</name>
        <label>PSC</label>
        <locationX>534</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PSC_Change</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npsp__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>npsp__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>npsp__Partial_Soft_Credit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Related_PSC</name>
        <label>Update Related PSC</label>
        <locationX>402</locationX>
        <locationY>1055</locationY>
        <inputReference>UpdateablePSC</inputReference>
    </recordUpdates>
    <start>
        <locationX>408</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>PSC</targetReference>
        </connector>
        <filterFormula>{!$Permission.Flow_Automations_Off} &lt;&gt; TRUE
&amp;&amp;
ISCHANGED({!$Record.Role})</filterFormula>
        <object>OpportunityContactRole</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>PartialSoftCreditRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>npsp__Partial_Soft_Credit__c</objectType>
    </variables>
    <variables>
        <name>UpdateablePSC</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>npsp__Partial_Soft_Credit__c</objectType>
    </variables>
</Flow>
