unpackaged/main/default/flows/Opportunity_After_Save_Auto_Update_Government_or_Government_Contract_Ack_Fields.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <description>Auto Update Government or Government Contract Opportunity and related Payment Acknowledgment Fields.</description>
    <environments>Default</environments>
    <interviewLabel>Opportunity After Save ----&gt; Auto Update Government or Government Contract Ack Fields {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity After Save ----&gt; Update Acknowledgment Fields</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Update acknowledgment fields on the Opportunity.</description>
        <name>Update_Opportunity_Acknowledgment_Fields</name>
        <label>Update Opportunity Acknowledgment Fields</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Update_Payment_Acknowledgment_Fields</targetReference>
        </connector>
        <inputAssignments>
            <field>Do_Not_Acknowledge_Reason__c</field>
            <value>
                <elementReference>AcknowledgmentReason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npsp__Acknowledgment_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npsp__Acknowledgment_Status__c</field>
            <value>
                <stringValue>Do Not Acknowledge</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update acknowledgment fields on the related Payment records.</description>
        <name>Update_Payment_Acknowledgment_Fields</name>
        <label>Update Payment Acknowledgment Fields</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npe01__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Payment_Do_Not_Acknowledge_Reason__c</field>
            <value>
                <elementReference>AcknowledgmentReason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npsp__Payment_Acknowledged_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npsp__Payment_Acknowledgment_Status__c</field>
            <value>
                <stringValue>Do Not Acknowledge</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.npe01__OppPayment__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Opportunity_Acknowledgment_Fields</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Transaction_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Government</stringValue>
            </value>
        </filters>
        <filters>
            <field>Transaction_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Government Contract</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Acknowledgment Reason</description>
        <name>AcknowledgmentReason</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>DNA-Government Gift</text>
    </textTemplates>
</Flow>
