unpackaged/main/default/flows/Opportunity_Stage_Updated_Update_Qualifying_Opportunities.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_Records_to_Record_Collection</name>
        <label>Add Records to Record Collection</label>
        <locationX>886</locationX>
        <locationY>816</locationY>
        <assignmentItems>
            <assignToReference>DeliverablesToUpdateCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varDeliverable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Deliverables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Amount_Matched_by_Donor_Numeric</name>
        <label>Assign Amount Matched by Donor Numeric</label>
        <locationX>886</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>varDeliverable.Amount_Matched_by_Donor_Numeric__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAmountMatchedByDonor</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDeliverable.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Deliverables.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Records_to_Record_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Amount_Matched_By_Donor_Variable</name>
        <label>Assign Amount Matched By Donor Variable</label>
        <locationX>886</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>varAmountMatchedByDonor</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Deliverables.Amount_Matched_by_Donor__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Amount_Matched_by_Donor_Numeric</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Flow_Automations_Off</name>
        <label>Flow Automations Off?</label>
        <locationX>50</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Update_Qualifying_Opportunities_Stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Flow_Automations_Off</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Flow_Automations_Off_Async</name>
        <label>Flow Automations Off?</label>
        <locationX>622</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Get_Annual_Match_Deliverables</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Async</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Flow_Automations_Off</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Updated --&gt; Update Deliverables and Qualifying Opportunities</label>
    <loops>
        <name>Loop_through_Deliverables</name>
        <label>Loop through Deliverables</label>
        <locationX>798</locationX>
        <locationY>492</locationY>
        <collectionReference>Get_Annual_Match_Deliverables</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Amount_Matched_By_Donor_Variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Deliverables</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Annual_Match_Deliverables</name>
        <label>Get Annual Match Deliverables</label>
        <locationX>798</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Deliverables</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npsp__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>npsp__Grant_Deadline__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Deliverables</name>
        <label>Update Deliverables</label>
        <locationX>798</locationX>
        <locationY>1008</locationY>
        <inputReference>DeliverablesToUpdateCollection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Qualifying_Opportunities_Stage</name>
        <label>Update Qualifying Opportunities Stage</label>
        <locationX>182</locationX>
        <locationY>384</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Donation_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <elementReference>$Record.StageName</elementReference>
            </value>
        </inputAssignments>
        <object>Qualifying_Donation__c</object>
    </recordUpdates>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Flow_Automations_Off</targetReference>
        </connector>
        <filterLogic>(1 or 2 or 3) and (4 or 5)</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Challenge_Match_Type__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Challenge_Match_Percent__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Challenge_Match_Originating_Donation__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Challenge_Match_Qualifying_Donation__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Flow_Automations_Off_Async</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>DeliverablesToUpdateCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>npsp__Grant_Deadline__c</objectType>
    </variables>
    <variables>
        <name>varAmountMatchedByDonor</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varDeliverable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>npsp__Grant_Deadline__c</objectType>
    </variables>
</Flow>
