unpackaged/main/default/flows/Opportunity_Get_PSCs_when_Account_Contact_is_updated.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_to_Collection_Variable</name>
        <label>Assign to Collection Variable</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>sObjOCR</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varOCR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_for_assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_OCR</name>
        <label>Assign Values to OCR</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>varOCR.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_for_assignment.npsp__Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOCR.Role</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_for_assignment.npsp__Role_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOCR.Related_Partial_Soft_Credit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_for_assignment.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOCR.Do_Not_Create_PSC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOCR.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Collection_Variable</targetReference>
        </connector>
    </assignments>
    <description>FB-3635 in progress</description>
    <environments>Default</environments>
    <interviewLabel>Opportunity - Get PSCs when Account/Contact is updated {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Get PSCs and Create OCR when ACC/CON is updated</label>
    <loops>
        <name>Loop_for_assignment</name>
        <label>Loop for assignment</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_partial_soft_credits</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Values_to_OCR</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_OCR</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_OCR</name>
        <label>Create OCR</label>
        <locationX>176</locationX>
        <locationY>839</locationY>
        <inputReference>sObjOCR</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_partial_soft_credits</name>
        <label>Get partial soft credits</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_for_assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npsp__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>npsp__Contact__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.npsp__Primary_Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>npsp__Partial_Soft_Credit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_partial_soft_credits</targetReference>
        </connector>
        <filterFormula>{!$Permission.Flow_Automations_Off} &lt;&gt; True
&amp;&amp;
ISCHANGED({!$Record.Account.Id}) || ISCHANGED({!$Record.npsp__Primary_Contact__r.Id})</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>sObjOCR</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>varOCR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
</Flow>
