unpackaged/main/default/flows/Phone_Record_Triggered_Updates_R3.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Another_Deliverable_of_Same_Type_Exists</name>
        <label>Another Deliverable of Same Type Exists?</label>
        <locationX>2162</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Phone_Type_NBTC3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Exists_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Deliverable_of_Same_Type.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Phone_Type_NBTC2</targetReference>
            </connector>
            <label>Yes, Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Another_Deliverable_of_Same_Type_Exists_0</name>
        <label>Another Deliverable of Same Type Exists?</label>
        <locationX>6650</locationX>
        <locationY>3767</locationY>
        <defaultConnector>
            <targetReference>Phone_Type_NotCP2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Exists_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Deliverable_of_Same_Type.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Phone_Type_DExists</targetReference>
            </connector>
            <label>Yes, Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Another_OP_Exists</name>
        <label>Another OP Exists?</label>
        <locationX>6441</locationX>
        <locationY>2519</locationY>
        <defaultConnector>
            <targetReference>Get_Most_Recent_Preferred</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Exists_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Look_for_other_OP.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_OP_NewOP</targetReference>
            </connector>
            <label>Yes, Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Another_Preferred_Exists</name>
        <label>Another Preferred Exists?</label>
        <locationX>6925</locationX>
        <locationY>2759</locationY>
        <defaultConnector>
            <targetReference>Clear_Phone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Pref_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Most_Recent_Preferred.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_to_Overall_Pref</targetReference>
            </connector>
            <label>Yes, Pref Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Another_Preferred_of_Same_Type_Exists</name>
        <label>Another Preferred of Same Type Exists?</label>
        <locationX>5528</locationX>
        <locationY>3527</locationY>
        <defaultConnector>
            <targetReference>Look_for_other_Deliverable_of_Same_Type_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Exists_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Preferred_of_Same_Type.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Phone_Type_NotCP</targetReference>
            </connector>
            <label>Yes, Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Changed_from_Undeliverable</name>
        <label>Changed from Undeliverable?</label>
        <locationX>6881</locationX>
        <locationY>5423</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Deliverable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Undeliverable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Undeliverable</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_End_Date</targetReference>
            </connector>
            <label>Yes, Deliverable</label>
        </rules>
    </decisions>
    <decisions>
        <name>Changed_Preferred_to_Not_Preferred</name>
        <label>Changed Preferred to Not-Preferred?</label>
        <locationX>6881</locationX>
        <locationY>3287</locationY>
        <defaultConnector>
            <targetReference>Changed_to_Preferred</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_CP_Not</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Preferred</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Preferred</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Look_for_other_Preferred_of_Same_Type_2</targetReference>
            </connector>
            <label>Yes, CP&gt;Not</label>
        </rules>
    </decisions>
    <decisions>
        <name>Changed_to_Preferred</name>
        <label>Changed to Preferred?</label>
        <locationX>6881</locationX>
        <locationY>4631</locationY>
        <defaultConnector>
            <targetReference>Changed_to_Undeliverable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Now_Preferred</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Preferred</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Preferred</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_Now_P</targetReference>
            </connector>
            <label>Yes, Now Preferred</label>
        </rules>
    </decisions>
    <decisions>
        <name>Changed_to_Undeliverable</name>
        <label>Changed to Undeliverable?</label>
        <locationX>6881</locationX>
        <locationY>5087</locationY>
        <defaultConnector>
            <targetReference>Changed_from_Undeliverable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Undeliverable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Undeliverable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Undeliverable</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_End_Date</targetReference>
            </connector>
            <label>Yes, Undeliverable</label>
        </rules>
    </decisions>
    <decisions>
        <name>Clear_P</name>
        <label>Clear P</label>
        <locationX>2162</locationX>
        <locationY>1847</locationY>
        <defaultConnector>
            <targetReference>Is_Overall_Pref_Pref</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CP_is_just_P</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Primary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Preferred</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Preferred_of_Same_Type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_P</targetReference>
            </connector>
            <label>CP is just P</label>
        </rules>
    </decisions>
    <decisions>
        <name>CP_was_Preferred</name>
        <label>CP was Preferred?</label>
        <locationX>1370</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>Look_for_other_Deliverable_of_Same_Type_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes, was Pref</defaultConnectorLabel>
        <rules>
            <name>No_wasn_t_Pref</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Preferred</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Overall_Pref_Pref</targetReference>
            </connector>
            <label>No, wasn&apos;t Pref</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_New</name>
        <label>Is New?</label>
        <locationX>3597</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Phone_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Start</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No_But_Type_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CP_was_Preferred</targetReference>
            </connector>
            <label>No But Type Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Overall_Pref_Pref</name>
        <label>Is Overall Pref/Pref?</label>
        <locationX>3597</locationX>
        <locationY>5975</locationY>
        <defaultConnector>
            <targetReference>Other_Changes_Made</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No OP/P</defaultConnectorLabel>
        <rules>
            <name>Yes_OP_P</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Primary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Preferred</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_OP</targetReference>
            </connector>
            <label>Yes OP/P</label>
        </rules>
        <rules>
            <name>No_OP_Yes_P</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Primary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Preferred</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_New_P</targetReference>
            </connector>
            <label>No OP/Yes P</label>
        </rules>
    </decisions>
    <decisions>
        <name>Other_Changes_Made</name>
        <label>Other Changes Made?</label>
        <locationX>3597</locationX>
        <locationY>6551</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Other</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Primary__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Phone__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Phone_Changed</targetReference>
            </connector>
            <label>Yes, Other</label>
        </rules>
    </decisions>
    <decisions>
        <name>Overall_Pref_Changed_to_FALSE</name>
        <label>Overall Pref Changed to FALSE?</label>
        <locationX>6881</locationX>
        <locationY>2279</locationY>
        <defaultConnector>
            <targetReference>Changed_Preferred_to_Not_Preferred</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Changed_to_False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Primary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Primary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Look_for_other_OP</targetReference>
            </connector>
            <label>Yes, Changed to False</label>
        </rules>
    </decisions>
    <decisions>
        <name>Overall_Pref_Changed_to_TRUE</name>
        <label>Overall Pref Changed to TRUE?</label>
        <locationX>6881</locationX>
        <locationY>1367</locationY>
        <defaultConnector>
            <targetReference>Overall_Pref_Changed_to_FALSE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Changed_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Primary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Primary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Previous_OP</targetReference>
            </connector>
            <label>Yes, Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Phone_Changed</name>
        <label>Phone Changed?</label>
        <locationX>6881</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>Overall_Pref_Changed_to_TRUE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Changed</defaultConnectorLabel>
        <rules>
            <name>Yes_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Phone__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Phone_is_OP_P</targetReference>
            </connector>
            <label>Yes, Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Phone_is_OP_P</name>
        <label>Phone is OP/P?</label>
        <locationX>6661</locationX>
        <locationY>935</locationY>
        <defaultConnector>
            <targetReference>Overall_Pref_Changed_to_TRUE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>OP_P</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Preferred</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Primary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_Phone_Chg_OP_P</targetReference>
            </connector>
            <label>OP/P</label>
        </rules>
        <rules>
            <name>Not_OP_P</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Preferred</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Primary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_Phone_Chg_P</targetReference>
            </connector>
            <label>Not-OP/P</label>
        </rules>
    </decisions>
    <decisions>
        <name>Phone_Type_DExists</name>
        <label>Phone Type?</label>
        <locationX>5902</locationX>
        <locationY>3887</locationY>
        <defaultConnector>
            <targetReference>Update_Existing_Deliverable_to_Preferred</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Home_DExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Home</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_HDExists</targetReference>
            </connector>
            <label>Home</label>
        </rules>
        <rules>
            <name>Work_DExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Work</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_WDExists</targetReference>
            </connector>
            <label>Work</label>
        </rules>
        <rules>
            <name>Mobile_DExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mobile</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_MDExists</targetReference>
            </connector>
            <label>Mobile</label>
        </rules>
        <rules>
            <name>Assistant_DExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assistant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_AstDExists</targetReference>
            </connector>
            <label>Assistant</label>
        </rules>
        <rules>
            <name>Other_DExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_ODExists</targetReference>
            </connector>
            <label>Other</label>
        </rules>
    </decisions>
    <decisions>
        <name>Phone_Type_NBTC2</name>
        <label>Phone Type?</label>
        <locationX>1414</locationX>
        <locationY>1175</locationY>
        <defaultConnector>
            <targetReference>Update_Existing_Deliverable_to_Primary</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Home_NBTC2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Home</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_NBTCH2</targetReference>
            </connector>
            <label>Home</label>
        </rules>
        <rules>
            <name>Work_NBTC2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Work</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_NBTCW2</targetReference>
            </connector>
            <label>Work</label>
        </rules>
        <rules>
            <name>Mobile_NBTC2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mobile</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_NBTCM2</targetReference>
            </connector>
            <label>Mobile</label>
        </rules>
        <rules>
            <name>Assistant_NBTC2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assistant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_NBTCAst2</targetReference>
            </connector>
            <label>Assistant</label>
        </rules>
        <rules>
            <name>Other_NBTC2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_NBTCO2</targetReference>
            </connector>
            <label>Other</label>
        </rules>
    </decisions>
    <decisions>
        <name>Phone_Type_NBTC3</name>
        <label>Phone Type?</label>
        <locationX>2910</locationX>
        <locationY>1175</locationY>
        <defaultConnector>
            <targetReference>Look_for_Other_P_of_New_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Home_NBTC3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Home</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Home_Phone</targetReference>
            </connector>
            <label>Home</label>
        </rules>
        <rules>
            <name>Work_NBTC3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Work</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Work_Phone</targetReference>
            </connector>
            <label>Work</label>
        </rules>
        <rules>
            <name>Mobile_NBTC3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mobile</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Mobile_Phone</targetReference>
            </connector>
            <label>Mobile</label>
        </rules>
        <rules>
            <name>Assistant_NBTC3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assistant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Assistant_Phone</targetReference>
            </connector>
            <label>Assistant</label>
        </rules>
        <rules>
            <name>Other_NBTC3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Other_Phone</targetReference>
            </connector>
            <label>Other</label>
        </rules>
    </decisions>
    <decisions>
        <name>Phone_Type_NewOP</name>
        <label>Phone Type?</label>
        <locationX>5957</locationX>
        <locationY>2759</locationY>
        <defaultConnector>
            <targetReference>Changed_Preferred_to_Not_Preferred</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Home_NewOP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Home</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_HNewOP</targetReference>
            </connector>
            <label>Home</label>
        </rules>
        <rules>
            <name>Work_NewOP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Work</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_WNewOP</targetReference>
            </connector>
            <label>Work</label>
        </rules>
        <rules>
            <name>Mobile_NewOP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mobile</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_MNewOP</targetReference>
            </connector>
            <label>Mobile</label>
        </rules>
        <rules>
            <name>Assistant_NewOP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assistant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_AstNewOP</targetReference>
            </connector>
            <label>Assistant</label>
        </rules>
        <rules>
            <name>Other_NewOP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_ONewOP</targetReference>
            </connector>
            <label>Other</label>
        </rules>
    </decisions>
    <decisions>
        <name>Phone_Type_NotCP</name>
        <label>Phone Type</label>
        <locationX>4406</locationX>
        <locationY>3647</locationY>
        <defaultConnector>
            <targetReference>Changed_to_Preferred</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Home_NotCP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Home</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_HNotCP</targetReference>
            </connector>
            <label>Home</label>
        </rules>
        <rules>
            <name>Work_NotCP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Work</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_WorkNotCP</targetReference>
            </connector>
            <label>Work</label>
        </rules>
        <rules>
            <name>Mobile_NotCP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mobile</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_MNotCP</targetReference>
            </connector>
            <label>Mobile</label>
        </rules>
        <rules>
            <name>Assistant_NotCP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assistant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_AstNotCP</targetReference>
            </connector>
            <label>Assistant</label>
        </rules>
        <rules>
            <name>Other_NotCP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_ONotCP</targetReference>
            </connector>
            <label>Other</label>
        </rules>
    </decisions>
    <decisions>
        <name>Phone_Type_NotCP2</name>
        <label>Phone Type?</label>
        <locationX>7398</locationX>
        <locationY>3887</locationY>
        <defaultConnector>
            <targetReference>Changed_to_Preferred</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Home_NotCP2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Home</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Home_Phone_1</targetReference>
            </connector>
            <label>Home</label>
        </rules>
        <rules>
            <name>Work_NotCP2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Work</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Work_Phone_1</targetReference>
            </connector>
            <label>Work</label>
        </rules>
        <rules>
            <name>Mobile_NotCP2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mobile</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Mobile_Phone_1</targetReference>
            </connector>
            <label>Mobile</label>
        </rules>
        <rules>
            <name>Assistant_NotCP2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assistant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Assistant_Phone_1</targetReference>
            </connector>
            <label>Assistant</label>
        </rules>
        <rules>
            <name>Other_NotCP2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Other_Phone_1</targetReference>
            </connector>
            <label>Other</label>
        </rules>
    </decisions>
    <decisions>
        <description>Skips flow based on Permissions.</description>
        <name>Skip_Flow</name>
        <label>Skip Flow</label>
        <locationX>1823</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Get_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Run</defaultConnectorLabel>
        <rules>
            <name>Skip</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Flow_Automations_Off</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sys_Mod__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Sys_Mod</targetReference>
            </connector>
            <label>Skip</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_Match</name>
        <label>Type Match?</label>
        <locationX>6683</locationX>
        <locationY>1607</locationY>
        <defaultConnector>
            <targetReference>Remove_OP_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Previous_OP.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Type__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_OP_P</targetReference>
            </connector>
            <label>Yes, Match</label>
        </rules>
    </decisions>
    <description>Added Assistant support.</description>
    <environments>Default</environments>
    <formulas>
        <name>AssistantPhone</name>
        <dataType>String</dataType>
        <expression>IF (TEXT({!$Record.Type__c})=&apos;Assistant&apos;, {!$Record.Phone__c}, {!$Record.Donor__r.AssistantPhone})</expression>
    </formulas>
    <formulas>
        <name>HomePhone</name>
        <dataType>String</dataType>
        <expression>IF (TEXT({!$Record.Type__c})=&apos;Home&apos;, {!$Record.Phone__c}, {!$Record.Donor__r.HomePhone})</expression>
    </formulas>
    <formulas>
        <name>MobilePhone</name>
        <dataType>String</dataType>
        <expression>IF (TEXT({!$Record.Type__c})=&apos;Mobile&apos;, {!$Record.Phone__c}, {!$Record.Donor__r.MobilePhone})</expression>
    </formulas>
    <formulas>
        <name>NowFormula</name>
        <dataType>DateTime</dataType>
        <expression>Now ()</expression>
    </formulas>
    <formulas>
        <name>OtherPhone</name>
        <dataType>String</dataType>
        <expression>IF (TEXT({!$Record.Type__c})=&apos;Other&apos;, {!$Record.Phone__c}, {!$Record.Donor__r.OtherPhone})</expression>
    </formulas>
    <formulas>
        <description>Returns today&apos;s date.</description>
        <name>TodaysDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}</expression>
    </formulas>
    <formulas>
        <name>WorkPhone</name>
        <dataType>String</dataType>
        <expression>IF (TEXT({!$Record.Type__c})=&apos;Work&apos;, {!$Record.Phone__c}, {!$Record.Donor__r.npe01__WorkPhone__c})</expression>
    </formulas>
    <interviewLabel>Phone Record Triggered Updates (R3) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Phone Record Triggered Updates (R3)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Gets Contact related to Phone record.</description>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>3597</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_2_of_Set_Bypass_Date_Time</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Donor__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Most_Recent_Preferred</name>
        <label>Get Most Recent Preferred</label>
        <locationX>6925</locationX>
        <locationY>2639</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Another_Preferred_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Donor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Donor__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Preferred</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact_Phone__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Previous_OP</name>
        <label>Get Previous OP</label>
        <locationX>6683</locationX>
        <locationY>1487</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Type_Match</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Donor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Donor__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Primary__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact_Phone__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Look_for_other_Deliverable_of_Same_Type_0</name>
        <label>Look for other Deliverable of Same Type</label>
        <locationX>2162</locationX>
        <locationY>935</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Another_Deliverable_of_Same_Type_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Donor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Donor__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Deliverable</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Type__c</elementReference>
            </value>
        </filters>
        <object>Contact_Phone__c</object>
        <outputReference>Deliverable_of_Same_Type</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Phone__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Look_for_other_Deliverable_of_Same_Type_2</name>
        <label>Look for other Deliverable of Same Type</label>
        <locationX>6650</locationX>
        <locationY>3647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Another_Deliverable_of_Same_Type_Exists_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Donor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Donor__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Deliverable</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Type__c</elementReference>
            </value>
        </filters>
        <object>Contact_Phone__c</object>
        <outputReference>Deliverable_of_Same_Type</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Phone__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Look_for_other_OP</name>
        <label>Look for other OP</label>
        <locationX>6441</locationX>
        <locationY>2399</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Another_OP_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Donor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Donor__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Primary__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact_Phone__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Look_for_Other_P_of_New_Type</name>
        <label>Look for Other P of New Type</label>
        <locationX>2162</locationX>
        <locationY>1727</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Clear_P</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Donor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Donor__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Preferred</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Type__c</elementReference>
            </value>
        </filters>
        <object>Contact_Phone__c</object>
        <outputReference>Preferred_of_Same_Type</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Look_for_other_Preferred_of_Same_Type_2</name>
        <label>Look for other Preferred of Same Type</label>
        <locationX>5528</locationX>
        <locationY>3407</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Another_Preferred_of_Same_Type_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Donor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Donor__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Preferred</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Type__c</elementReference>
            </value>
        </filters>
        <object>Contact_Phone__c</object>
        <outputReference>Preferred_of_Same_Type</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Phone__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Clear_Assistant_Phone</name>
        <label>Clear Assistant Phone</label>
        <locationX>3042</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>Look_for_Other_P_of_New_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AssistantPhone</field>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Clear_Assistant_Phone_1</name>
        <label>Clear Assistant Phone</label>
        <locationX>7530</locationX>
        <locationY>4007</locationY>
        <connector>
            <targetReference>Changed_to_Preferred</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AssistantPhone</field>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Clear_End_Date</name>
        <label>Clear End Date</label>
        <locationX>6749</locationX>
        <locationY>5543</locationY>
        <inputAssignments>
            <field>End_Date__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Clear_Home_Phone</name>
        <label>Clear Home Phone</label>
        <locationX>2250</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>Look_for_Other_P_of_New_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HomePhone</field>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Clear_Home_Phone_1</name>
        <label>Clear Home Phone</label>
        <locationX>6738</locationX>
        <locationY>4007</locationY>
        <connector>
            <targetReference>Changed_to_Preferred</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HomePhone</field>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Clear_Mobile_Phone</name>
        <label>Clear Mobile Phone</label>
        <locationX>2778</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>Look_for_Other_P_of_New_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MobilePhone</field>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Clear_Mobile_Phone_1</name>
        <label>Clear Mobile Phone</label>
        <locationX>7266</locationX>
        <locationY>4007</locationY>
        <connector>
            <targetReference>Changed_to_Preferred</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MobilePhone</field>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Clear_Other_Phone</name>
        <label>Clear Other Phone</label>
        <locationX>3306</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>Look_for_Other_P_of_New_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OtherPhone</field>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Clear_Other_Phone_1</name>
        <label>Clear Other Phone</label>
        <locationX>7794</locationX>
        <locationY>4007</locationY>
        <connector>
            <targetReference>Changed_to_Preferred</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OtherPhone</field>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Clear_Phone</name>
        <label>Clear Phone</label>
        <locationX>7057</locationX>
        <locationY>2879</locationY>
        <connector>
            <targetReference>Changed_Preferred_to_Not_Preferred</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Donor__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Phone</field>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Clear_Sys_Mod</name>
        <label>Clear Sys-Mod</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sys_Mod__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Sys_Mod__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Clear_Work_Phone</name>
        <label>Clear Work Phone</label>
        <locationX>2514</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>Look_for_Other_P_of_New_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>npe01__WorkPhone__c</field>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Clear_Work_Phone_1</name>
        <label>Clear Work Phone</label>
        <locationX>7002</locationX>
        <locationY>4007</locationY>
        <connector>
            <targetReference>Changed_to_Preferred</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>npe01__WorkPhone__c</field>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Sets Automation Bypass Date/Time on Contact to bypass Validation Rule.</description>
        <name>Copy_2_of_Set_Bypass_Date_Time</name>
        <label>Set Bypass Date/Time - Contact</label>
        <locationX>3597</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Is_New</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Automation_Bypass_DateTime__c</field>
            <value>
                <elementReference>NowFormula</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_OP</name>
        <label>Remove OP</label>
        <locationX>3333</locationX>
        <locationY>6095</locationY>
        <connector>
            <targetReference>Update_Contact_New_OP_P</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Primary__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Donor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Donor__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Automation_Bypass_Date_Time__c</field>
            <value>
                <elementReference>NowFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sys_Mod__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact_Phone__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_OP_0</name>
        <label>Remove OP</label>
        <locationX>6815</locationX>
        <locationY>1727</locationY>
        <connector>
            <targetReference>Remove_Preferred_from_Type_Matched_Phones_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Previous_OP.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Automation_Bypass_Date_Time__c</field>
            <value>
                <elementReference>NowFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sys_Mod__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact_Phone__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_OP_NewOP</name>
        <label>Remove OP</label>
        <locationX>5957</locationX>
        <locationY>2639</locationY>
        <connector>
            <targetReference>Phone_Type_NewOP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Primary__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Donor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Donor__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Look_for_other_OP.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Automation_Bypass_Date_Time__c</field>
            <value>
                <elementReference>NowFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sys_Mod__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact_Phone__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_OP_P</name>
        <label>Remove OP/P</label>
        <locationX>6551</locationX>
        <locationY>1727</locationY>
        <connector>
            <targetReference>Update_Contact_OP_Chg</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Previous_OP.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Primary__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Deliverable</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sys_Mod__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact_Phone__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_P</name>
        <label>Remove P</label>
        <locationX>2030</locationX>
        <locationY>1967</locationY>
        <connector>
            <targetReference>Is_Overall_Pref_Pref</targetReference>
        </connector>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Deliverable</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_P_from_Previous_New_OP_P</name>
        <label>Remove P from Previous: New, OP/P</label>
        <locationX>3333</locationX>
        <locationY>6335</locationY>
        <connector>
            <targetReference>Other_Changes_Made</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Donor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Donor__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Preferred</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Deliverable</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sys_Mod__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact_Phone__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_P_from_Previous_New_P</name>
        <label>Remove P from Previous: New, P</label>
        <locationX>3597</locationX>
        <locationY>6215</locationY>
        <connector>
            <targetReference>Other_Changes_Made</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Donor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Donor__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Preferred</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Primary__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Deliverable</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sys_Mod__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact_Phone__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_P_from_Previous_Now_P</name>
        <label>Remove P from Previous: Now P</label>
        <locationX>6749</locationX>
        <locationY>4871</locationY>
        <connector>
            <targetReference>Changed_to_Undeliverable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Donor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Donor__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Preferred</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Primary__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Deliverable</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sys_Mod__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact_Phone__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_Preferred_from_Type_Matched_Phones_0</name>
        <label>Remove Preferred from Type-Matched Phones</label>
        <locationX>6815</locationX>
        <locationY>1847</locationY>
        <connector>
            <targetReference>Update_Contact_OP_Chg</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Donor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Donor__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Preferred</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Type__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Deliverable</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sys_Mod__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact_Phone__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_End_Date</name>
        <label>Set End Date</label>
        <locationX>6749</locationX>
        <locationY>5207</locationY>
        <connector>
            <targetReference>Changed_from_Undeliverable</targetReference>
        </connector>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>TodaysDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Start</name>
        <label>Set Start</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Is_Overall_Pref_Pref</targetReference>
        </connector>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_AstDExists</name>
        <label>Update Contact</label>
        <locationX>6034</locationX>
        <locationY>4007</locationY>
        <connector>
            <targetReference>Update_Existing_Deliverable_to_Preferred</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AssistantPhone</field>
            <value>
                <elementReference>Deliverable_of_Same_Type.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates phone fields on Contact record.</description>
        <name>Update_Contact_AstNewOP</name>
        <label>Update Contact</label>
        <locationX>6089</locationX>
        <locationY>2879</locationY>
        <connector>
            <targetReference>Changed_Preferred_to_Not_Preferred</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AssistantPhone</field>
            <value>
                <elementReference>Look_for_other_OP.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Look_for_other_OP.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__PreferredPhone__c</field>
            <value>
                <stringValue>Assistant</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_AstNotCP</name>
        <label>Update Contact</label>
        <locationX>4538</locationX>
        <locationY>3767</locationY>
        <connector>
            <targetReference>Changed_to_Preferred</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AssistantPhone</field>
            <value>
                <elementReference>Preferred_of_Same_Type.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_HDExists</name>
        <label>Update Contact</label>
        <locationX>5242</locationX>
        <locationY>4007</locationY>
        <connector>
            <targetReference>Update_Existing_Deliverable_to_Preferred</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HomePhone</field>
            <value>
                <elementReference>Deliverable_of_Same_Type.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates phone fields on Contact record.</description>
        <name>Update_Contact_HNewOP</name>
        <label>Update Contact</label>
        <locationX>5297</locationX>
        <locationY>2879</locationY>
        <connector>
            <targetReference>Changed_Preferred_to_Not_Preferred</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HomePhone</field>
            <value>
                <elementReference>Look_for_other_OP.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Look_for_other_OP.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__PreferredPhone__c</field>
            <value>
                <stringValue>Home</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_HNotCP</name>
        <label>Update Contact</label>
        <locationX>3746</locationX>
        <locationY>3767</locationY>
        <connector>
            <targetReference>Changed_to_Preferred</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HomePhone</field>
            <value>
                <elementReference>Preferred_of_Same_Type.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_MDExists</name>
        <label>Update Contact</label>
        <locationX>5770</locationX>
        <locationY>4007</locationY>
        <connector>
            <targetReference>Update_Existing_Deliverable_to_Preferred</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>Deliverable_of_Same_Type.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates phone fields on Contact record.</description>
        <name>Update_Contact_MNewOP</name>
        <label>Update Contact</label>
        <locationX>5825</locationX>
        <locationY>2879</locationY>
        <connector>
            <targetReference>Changed_Preferred_to_Not_Preferred</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>Look_for_other_OP.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Look_for_other_OP.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__PreferredPhone__c</field>
            <value>
                <stringValue>Mobile</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_MNotCP</name>
        <label>Update Contact</label>
        <locationX>4274</locationX>
        <locationY>3767</locationY>
        <connector>
            <targetReference>Changed_to_Preferred</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>Preferred_of_Same_Type.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_NBTCAst2</name>
        <label>Update Contact</label>
        <locationX>1546</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>Update_Existing_Deliverable_to_Primary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AssistantPhone</field>
            <value>
                <elementReference>Deliverable_of_Same_Type.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_NBTCH2</name>
        <label>Update Contact</label>
        <locationX>754</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>Update_Existing_Deliverable_to_Primary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HomePhone</field>
            <value>
                <elementReference>Deliverable_of_Same_Type.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_NBTCM2</name>
        <label>Update Contact</label>
        <locationX>1282</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>Update_Existing_Deliverable_to_Primary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>Deliverable_of_Same_Type.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_NBTCO2</name>
        <label>Update Contact</label>
        <locationX>1810</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>Update_Existing_Deliverable_to_Primary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OtherPhone</field>
            <value>
                <elementReference>Deliverable_of_Same_Type.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_NBTCW2</name>
        <label>Update Contact</label>
        <locationX>1018</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>Update_Existing_Deliverable_to_Primary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>npe01__WorkPhone__c</field>
            <value>
                <elementReference>Deliverable_of_Same_Type.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_New_OP_P</name>
        <label>Update Contact: New, OP/P</label>
        <locationX>3333</locationX>
        <locationY>6215</locationY>
        <connector>
            <targetReference>Remove_P_from_Previous_New_OP_P</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AssistantPhone</field>
            <value>
                <elementReference>AssistantPhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HomePhone</field>
            <value>
                <elementReference>HomePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>MobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherPhone</field>
            <value>
                <elementReference>OtherPhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__PreferredPhone__c</field>
            <value>
                <elementReference>$Record.Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__WorkPhone__c</field>
            <value>
                <elementReference>WorkPhone</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_New_P</name>
        <label>Update Contact: New, P</label>
        <locationX>3597</locationX>
        <locationY>6095</locationY>
        <connector>
            <targetReference>Remove_P_from_Previous_New_P</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AssistantPhone</field>
            <value>
                <elementReference>AssistantPhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HomePhone</field>
            <value>
                <elementReference>HomePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>MobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherPhone</field>
            <value>
                <elementReference>OtherPhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__WorkPhone__c</field>
            <value>
                <elementReference>WorkPhone</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_Now_P</name>
        <label>Update Contact: Now P</label>
        <locationX>6749</locationX>
        <locationY>4751</locationY>
        <connector>
            <targetReference>Remove_P_from_Previous_Now_P</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AssistantPhone</field>
            <value>
                <elementReference>AssistantPhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HomePhone</field>
            <value>
                <elementReference>HomePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>MobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherPhone</field>
            <value>
                <elementReference>OtherPhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__WorkPhone__c</field>
            <value>
                <elementReference>WorkPhone</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_ODExists</name>
        <label>Update Contact</label>
        <locationX>6298</locationX>
        <locationY>4007</locationY>
        <connector>
            <targetReference>Update_Existing_Deliverable_to_Preferred</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OtherPhone</field>
            <value>
                <elementReference>Deliverable_of_Same_Type.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates phone fields on Contact record.</description>
        <name>Update_Contact_ONewOP</name>
        <label>Update Contact</label>
        <locationX>6353</locationX>
        <locationY>2879</locationY>
        <connector>
            <targetReference>Changed_Preferred_to_Not_Preferred</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OtherPhone</field>
            <value>
                <elementReference>Look_for_other_OP.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Look_for_other_OP.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__PreferredPhone__c</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_ONotCP</name>
        <label>Update Contact</label>
        <locationX>4802</locationX>
        <locationY>3767</locationY>
        <connector>
            <targetReference>Changed_to_Preferred</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OtherPhone</field>
            <value>
                <elementReference>Preferred_of_Same_Type.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates phone fields on Contact record.</description>
        <name>Update_Contact_OP_Chg</name>
        <label>Update Contact: OP Chg</label>
        <locationX>6683</locationX>
        <locationY>2063</locationY>
        <connector>
            <targetReference>Overall_Pref_Changed_to_FALSE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AssistantPhone</field>
            <value>
                <elementReference>AssistantPhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HomePhone</field>
            <value>
                <elementReference>HomePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>MobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherPhone</field>
            <value>
                <elementReference>OtherPhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__PreferredPhone__c</field>
            <value>
                <elementReference>$Record.Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__WorkPhone__c</field>
            <value>
                <elementReference>WorkPhone</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_Phone_Chg_OP_P</name>
        <label>Update Contact: Phone Chg, OP/P</label>
        <locationX>6397</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Overall_Pref_Changed_to_TRUE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AssistantPhone</field>
            <value>
                <elementReference>AssistantPhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HomePhone</field>
            <value>
                <elementReference>HomePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>MobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherPhone</field>
            <value>
                <elementReference>OtherPhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__WorkPhone__c</field>
            <value>
                <elementReference>WorkPhone</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates phone fields on Contact record.</description>
        <name>Update_Contact_Phone_Chg_P</name>
        <label>Update Contact: Phone Chg, P</label>
        <locationX>6661</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Overall_Pref_Changed_to_TRUE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Donor__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AssistantPhone</field>
            <value>
                <elementReference>AssistantPhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HomePhone</field>
            <value>
                <elementReference>HomePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>MobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherPhone</field>
            <value>
                <elementReference>OtherPhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__WorkPhone__c</field>
            <value>
                <elementReference>WorkPhone</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_WDExists</name>
        <label>Update Contact</label>
        <locationX>5506</locationX>
        <locationY>4007</locationY>
        <connector>
            <targetReference>Update_Existing_Deliverable_to_Preferred</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>npe01__WorkPhone__c</field>
            <value>
                <elementReference>Deliverable_of_Same_Type.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates phone fields on Contact record.</description>
        <name>Update_Contact_WNewOP</name>
        <label>Update Contact</label>
        <locationX>5561</locationX>
        <locationY>2879</locationY>
        <connector>
            <targetReference>Changed_Preferred_to_Not_Preferred</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Look_for_other_OP.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__PreferredPhone__c</field>
            <value>
                <stringValue>Work</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__WorkPhone__c</field>
            <value>
                <elementReference>Look_for_other_OP.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_WorkNotCP</name>
        <label>Update Contact</label>
        <locationX>4010</locationX>
        <locationY>3767</locationY>
        <connector>
            <targetReference>Changed_to_Preferred</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>npe01__WorkPhone__c</field>
            <value>
                <elementReference>Preferred_of_Same_Type.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Existing_Deliverable_to_Preferred</name>
        <label>Update Existing Deliverable to Preferred</label>
        <locationX>5902</locationX>
        <locationY>4223</locationY>
        <connector>
            <targetReference>Changed_to_Preferred</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Deliverable_of_Same_Type.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Preferred</stringValue>
            </value>
        </inputAssignments>
        <object>Contact_Phone__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Existing_Deliverable_to_Primary</name>
        <label>Update Existing Deliverable to Preferred</label>
        <locationX>1414</locationX>
        <locationY>1511</locationY>
        <connector>
            <targetReference>Look_for_Other_P_of_New_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Deliverable_of_Same_Type.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Preferred</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sys_Mod__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact_Phone__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_to_Overall_Pref</name>
        <label>Update to Overall Pref</label>
        <locationX>6793</locationX>
        <locationY>2879</locationY>
        <connector>
            <targetReference>Changed_Preferred_to_Not_Preferred</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Most_Recent_Preferred.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Primary__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Preferred</stringValue>
            </value>
        </inputAssignments>
        <object>Contact_Phone__c</object>
    </recordUpdates>
    <start>
        <locationX>1697</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Skip_Flow</targetReference>
        </connector>
        <filterFormula>(ISNEW()) ||
ISCHANGED({!$Record.Status__c}) ||
ISCHANGED({!$Record.Primary__c}) || 
ISCHANGED({!$Record.Phone__c}) ||
ISCHANGED({!$Record.Type__c})</filterFormula>
        <object>Contact_Phone__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Deliverable_of_Same_Type</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact_Phone__c</objectType>
    </variables>
    <variables>
        <name>Preferred_of_Same_Type</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact_Phone__c</objectType>
    </variables>
    <variables>
        <name>UpdatedPhoneRecCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact_Phone__c</objectType>
    </variables>
</Flow>
