unpackaged/main/default/flows/Phone_Record_Triggered_Updates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Another_Deliverable_of_Same_Type_Exists</name>
        <label>Another Deliverable of Same Type Exists?</label>
        <locationX>2558</locationX>
        <locationY>1607</locationY>
        <defaultConnector>
            <targetReference>Phone_Type_NBTC3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Exists_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Deliverable_of_Same_Type.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Phone_Type_NBTC2</targetReference>
            </connector>
            <label>Yes, Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Another_Deliverable_of_Same_Type_Exists_0</name>
        <label>Another Deliverable of Same Type Exists?</label>
        <locationX>5726</locationX>
        <locationY>4847</locationY>
        <defaultConnector>
            <targetReference>Phone_Type_NotCP2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Exists_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Deliverable_of_Same_Type.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Phone_Type_DExists</targetReference>
            </connector>
            <label>Yes, Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Another_OP_Exists</name>
        <label>Another OP Exists?</label>
        <locationX>5528</locationX>
        <locationY>3167</locationY>
        <defaultConnector>
            <targetReference>Get_Most_Recent_Preferred</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Exists_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Look_for_other_OP.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_OP_NewOP</targetReference>
            </connector>
            <label>Yes, Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Another_Preferred_Exists</name>
        <label>Another Preferred Exists?</label>
        <locationX>5924</locationX>
        <locationY>3407</locationY>
        <defaultConnector>
            <targetReference>Clear_Phone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Pref_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Most_Recent_Preferred.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_to_Overall_Pref</targetReference>
            </connector>
            <label>Yes, Pref Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Another_Preferred_of_Same_Type_Exists</name>
        <label>Another Preferred of Same Type Exists?</label>
        <locationX>4934</locationX>
        <locationY>4391</locationY>
        <defaultConnector>
            <targetReference>Phone_is_Other_Type_GetD</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Exists_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Preferred_of_Same_Type.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Phone_Type_NotCP</targetReference>
            </connector>
            <label>Yes, Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Another_Primary_of_Same_Type_Exists</name>
        <label>Another Preferred of Same Type Exists?</label>
        <locationX>1766</locationX>
        <locationY>1151</locationY>
        <defaultConnector>
            <targetReference>Phone_is_Other_Type_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Preferred_of_Same_Type.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Phone_Type_NBTC</targetReference>
            </connector>
            <label>Yes, Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Changed_from_Undeliverable</name>
        <label>Changed from Undeliverable?</label>
        <locationX>5924</locationX>
        <locationY>6719</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Deliverable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Undeliverable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Undeliverable</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_End_Date</targetReference>
            </connector>
            <label>Yes, Deliverable</label>
        </rules>
    </decisions>
    <decisions>
        <name>Changed_Preferred_to_Not_Preferred</name>
        <label>Changed Preferred to Not-Preferred?</label>
        <locationX>5924</locationX>
        <locationY>3935</locationY>
        <defaultConnector>
            <targetReference>Changed_to_Preferred</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_CP_Not</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Preferred</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Preferred</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Phone_is_Other_Type_2</targetReference>
            </connector>
            <label>Yes, CP&gt;Not</label>
        </rules>
    </decisions>
    <decisions>
        <name>Changed_to_Preferred</name>
        <label>Changed to Preferred?</label>
        <locationX>5924</locationX>
        <locationY>5711</locationY>
        <defaultConnector>
            <targetReference>Changed_to_Undeliverable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Now_Preferred</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Preferred</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Preferred</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Phone_Type_NowCP</targetReference>
            </connector>
            <label>Yes, Now Preferred</label>
        </rules>
    </decisions>
    <decisions>
        <name>Changed_to_Undeliverable</name>
        <label>Changed to Undeliverable?</label>
        <locationX>5924</locationX>
        <locationY>6383</locationY>
        <defaultConnector>
            <targetReference>Changed_from_Undeliverable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Undeliverable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Undeliverable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Undeliverable</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_End_Date</targetReference>
            </connector>
            <label>Yes, Undeliverable</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_New</name>
        <label>Is New?</label>
        <locationX>3119</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Set_Bypass_Date_Time</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Start</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No_But_Type_Changed</name>
            <conditionLogic>1 AND ((2 AND 3) OR (4 AND 5) OR (6 AND 7) OR (8 AND 9) OR (10 AND 11) OR (12 AND 13))</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Home</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Home</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Work</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Work</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mobile</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Mobile</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Home</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Home</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Work</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Work</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mobile</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Mobile</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Set_Bypass_Date_Time</targetReference>
            </connector>
            <label>No But Type Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Overall_Pref_Pref</name>
        <label>Is Overall Pref/Pref?</label>
        <locationX>3119</locationX>
        <locationY>7391</locationY>
        <defaultConnector>
            <targetReference>Set_End_Date_for_Undeliverable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No OP/P</defaultConnectorLabel>
        <rules>
            <name>Yes_OP_P</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Primary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Preferred</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_OP</targetReference>
            </connector>
            <label>Yes OP/P</label>
        </rules>
        <rules>
            <name>No_OP_Yes_P</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Primary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Preferred</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Phone_Type_2</targetReference>
            </connector>
            <label>No OP/Yes P</label>
        </rules>
    </decisions>
    <decisions>
        <name>Overall_Pref_Changed_to_FALSE</name>
        <label>Overall Pref Changed to FALSE?</label>
        <locationX>5924</locationX>
        <locationY>2927</locationY>
        <defaultConnector>
            <targetReference>Changed_Preferred_to_Not_Preferred</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Changed_to_False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Primary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Primary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Look_for_other_OP</targetReference>
            </connector>
            <label>Yes, Changed to False</label>
        </rules>
    </decisions>
    <decisions>
        <name>Overall_Pref_Changed_to_TRUE</name>
        <label>Overall Pref Changed to TRUE?</label>
        <locationX>5924</locationX>
        <locationY>1583</locationY>
        <defaultConnector>
            <targetReference>Overall_Pref_Changed_to_FALSE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Changed_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Primary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Primary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Previous_OP</targetReference>
            </connector>
            <label>Yes, Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Phone_Changed</name>
        <label>Phone Changed?</label>
        <locationX>5924</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>Overall_Pref_Changed_to_TRUE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Changed</defaultConnectorLabel>
        <rules>
            <name>Yes_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Phone__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Phone_is_OP_P</targetReference>
            </connector>
            <label>Yes, Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Phone_is_OP_P</name>
        <label>Phone is OP/P?</label>
        <locationX>5407</locationX>
        <locationY>935</locationY>
        <defaultConnector>
            <targetReference>Overall_Pref_Changed_to_TRUE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>OP_P</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Preferred</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Primary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Phone_Type_PhoneChanged1</targetReference>
            </connector>
            <label>OP/P</label>
        </rules>
        <rules>
            <name>Not_OP_P</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Preferred</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Primary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Phone_Type_PhoneChanged2</targetReference>
            </connector>
            <label>Not-OP/P</label>
        </rules>
    </decisions>
    <decisions>
        <name>Phone_is_Other_Type</name>
        <label>Phone is Other Type?</label>
        <locationX>1766</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>Look_for_other_Primary_of_Prior_Type_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Other</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assistant</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fax</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Look_for_other_Primary_of_Prior_Type</targetReference>
            </connector>
            <label>Yes, Other</label>
        </rules>
    </decisions>
    <decisions>
        <name>Phone_is_Other_Type_0</name>
        <label>Phone is Other Type?</label>
        <locationX>2558</locationX>
        <locationY>1271</locationY>
        <defaultConnector>
            <targetReference>Look_for_other_Deliverable_of_Same_Type_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Other_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assistant</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fax</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Look_for_other_Deliverable_of_Same_Type</targetReference>
            </connector>
            <label>Yes, Other</label>
        </rules>
    </decisions>
    <decisions>
        <name>Phone_is_Other_Type_1</name>
        <label>Phone is Other Type?</label>
        <locationX>5792</locationX>
        <locationY>2063</locationY>
        <defaultConnector>
            <targetReference>Remove_Preferred_from_Type_Matched_Phones_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Other_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assistant</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fax</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Preferred_from_Type_Matched_Phones</targetReference>
            </connector>
            <label>Yes, Other</label>
        </rules>
    </decisions>
    <decisions>
        <name>Phone_is_Other_Type_2</name>
        <label>Phone is Other Type?</label>
        <locationX>4934</locationX>
        <locationY>4055</locationY>
        <defaultConnector>
            <targetReference>Look_for_other_Preferred_of_Same_Type_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Other_2</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assistant</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fax</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Look_for_other_Preferred_of_Same_Type</targetReference>
            </connector>
            <label>Yes, Other</label>
        </rules>
    </decisions>
    <decisions>
        <name>Phone_is_Other_Type_GetD</name>
        <label>Phone is Other Type?</label>
        <locationX>5726</locationX>
        <locationY>4511</locationY>
        <defaultConnector>
            <targetReference>Look_for_other_Deliverable_of_Same_Type_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Other_GetD</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assistant</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fax</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Look_for_other_Deliverable_of_Same_Type_1</targetReference>
            </connector>
            <label>Yes, Other</label>
        </rules>
    </decisions>
    <decisions>
        <name>Phone_Type</name>
        <label>Phone Type?</label>
        <locationX>2261</locationX>
        <locationY>7631</locationY>
        <defaultConnector>
            <targetReference>Update_Contact_O1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Home</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Home</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_H1</targetReference>
            </connector>
            <label>Home</label>
        </rules>
        <rules>
            <name>Work</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Work</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_W1</targetReference>
            </connector>
            <label>Work</label>
        </rules>
        <rules>
            <name>Mobile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mobile</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_M1</targetReference>
            </connector>
            <label>Mobile</label>
        </rules>
    </decisions>
    <decisions>
        <name>Phone_Type_0</name>
        <label>Phone Type?</label>
        <locationX>5594</locationX>
        <locationY>2495</locationY>
        <defaultConnector>
            <targetReference>Update_Contact_OtherPref</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Home_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Home</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_HomePref</targetReference>
            </connector>
            <label>Home</label>
        </rules>
        <rules>
            <name>Work_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Work</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_WorkPref</targetReference>
            </connector>
            <label>Work</label>
        </rules>
        <rules>
            <name>Mobile_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mobile</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_MobilePref</targetReference>
            </connector>
            <label>Mobile</label>
        </rules>
    </decisions>
    <decisions>
        <name>Phone_Type_2</name>
        <label>Phone Type?</label>
        <locationX>3317</locationX>
        <locationY>7511</locationY>
        <defaultConnector>
            <targetReference>Update_Contact_O2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Home_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Home</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_H2</targetReference>
            </connector>
            <label>Home</label>
        </rules>
        <rules>
            <name>Work_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Work</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_W2</targetReference>
            </connector>
            <label>Work</label>
        </rules>
        <rules>
            <name>Mobile_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mobile</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_M2</targetReference>
            </connector>
            <label>Mobile</label>
        </rules>
    </decisions>
    <decisions>
        <name>Phone_Type_DExists</name>
        <label>Phone Type?</label>
        <locationX>5198</locationX>
        <locationY>4967</locationY>
        <defaultConnector>
            <targetReference>Update_Contact_ODExists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Home_DExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Home</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_HDExists</targetReference>
            </connector>
            <label>Home</label>
        </rules>
        <rules>
            <name>Work_DExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Work</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_WDExists</targetReference>
            </connector>
            <label>Work</label>
        </rules>
        <rules>
            <name>Mobile_DExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mobile</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_MDExists</targetReference>
            </connector>
            <label>Mobile</label>
        </rules>
    </decisions>
    <decisions>
        <name>Phone_Type_NBTC</name>
        <label>Phone Type?</label>
        <locationX>974</locationX>
        <locationY>1271</locationY>
        <defaultConnector>
            <targetReference>Update_Contact_NBTCO1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Home_NBTC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Home</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_NBCTH1</targetReference>
            </connector>
            <label>Home</label>
        </rules>
        <rules>
            <name>Work_NBTC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Work</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_NBTCW1</targetReference>
            </connector>
            <label>Work</label>
        </rules>
        <rules>
            <name>Mobile_NBTC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mobile</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_NBTCM1</targetReference>
            </connector>
            <label>Mobile</label>
        </rules>
    </decisions>
    <decisions>
        <name>Phone_Type_NBTC2</name>
        <label>Phone Type?</label>
        <locationX>2030</locationX>
        <locationY>1727</locationY>
        <defaultConnector>
            <targetReference>Update_Contact_NBTCO2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Home_NBTC2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Home</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_NBTCH2</targetReference>
            </connector>
            <label>Home</label>
        </rules>
        <rules>
            <name>Work_NBTC2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Work</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_NBTCW2</targetReference>
            </connector>
            <label>Work</label>
        </rules>
        <rules>
            <name>Mobile_NBTC2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mobile</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_NBTCM2</targetReference>
            </connector>
            <label>Mobile</label>
        </rules>
    </decisions>
    <decisions>
        <name>Phone_Type_NBTC3</name>
        <label>Phone Type?</label>
        <locationX>3086</locationX>
        <locationY>1727</locationY>
        <defaultConnector>
            <targetReference>Clear_Other_Phone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Home_NBTC3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Home</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Home_Phone</targetReference>
            </connector>
            <label>Home</label>
        </rules>
        <rules>
            <name>Work_NBTC3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Work</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Work_Phone</targetReference>
            </connector>
            <label>Work</label>
        </rules>
        <rules>
            <name>Mobile_NBTC3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mobile</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Mobile_Phone</targetReference>
            </connector>
            <label>Mobile</label>
        </rules>
    </decisions>
    <decisions>
        <name>Phone_Type_NewOP</name>
        <label>Phone Type?</label>
        <locationX>5132</locationX>
        <locationY>3407</locationY>
        <defaultConnector>
            <targetReference>Update_Contact_ONewOP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Home_NewOP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Home</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_HNewOP</targetReference>
            </connector>
            <label>Home</label>
        </rules>
        <rules>
            <name>Work_NewOP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Work</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_WNewOP</targetReference>
            </connector>
            <label>Work</label>
        </rules>
        <rules>
            <name>Mobile_NewOP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mobile</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_MNewOP</targetReference>
            </connector>
            <label>Mobile</label>
        </rules>
    </decisions>
    <decisions>
        <name>Phone_Type_NotCP</name>
        <label>Phone Type</label>
        <locationX>4142</locationX>
        <locationY>4511</locationY>
        <defaultConnector>
            <targetReference>Update_Contact_ONotCP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Home_NotCP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Home</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_HNotCP</targetReference>
            </connector>
            <label>Home</label>
        </rules>
        <rules>
            <name>Work_NotCP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Work</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_WorkNotCP</targetReference>
            </connector>
            <label>Work</label>
        </rules>
        <rules>
            <name>Mobile_NotCP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mobile</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_MNotCP</targetReference>
            </connector>
            <label>Mobile</label>
        </rules>
    </decisions>
    <decisions>
        <name>Phone_Type_NotCP2</name>
        <label>Phone Type?</label>
        <locationX>6254</locationX>
        <locationY>4967</locationY>
        <defaultConnector>
            <targetReference>Clear_Other_Phone_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Home_NotCP2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Home</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Home_Phone_1</targetReference>
            </connector>
            <label>Home</label>
        </rules>
        <rules>
            <name>Work_NotCP2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Work</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Work_Phone_1</targetReference>
            </connector>
            <label>Work</label>
        </rules>
        <rules>
            <name>Mobile_NotCP2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mobile</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Mobile_Phone_1</targetReference>
            </connector>
            <label>Mobile</label>
        </rules>
    </decisions>
    <decisions>
        <name>Phone_Type_NowCP</name>
        <label>Phone Type?</label>
        <locationX>5594</locationX>
        <locationY>5831</locationY>
        <defaultConnector>
            <targetReference>Update_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Home_NowCP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Home</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_HP</targetReference>
            </connector>
            <label>Home</label>
        </rules>
        <rules>
            <name>Work_NowCP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Work</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_WP</targetReference>
            </connector>
            <label>Work</label>
        </rules>
        <rules>
            <name>Mobile_NowCP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mobile</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_MP</targetReference>
            </connector>
            <label>Mobile</label>
        </rules>
    </decisions>
    <decisions>
        <name>Phone_Type_PhoneChanged1</name>
        <label>Phone Type?</label>
        <locationX>4549</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Update_Contact_OtherPhoneChg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Home_PhoneChg</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Home</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_HomePhoneChg1</targetReference>
            </connector>
            <label>Home</label>
        </rules>
        <rules>
            <name>Work_PhoneChg</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Work</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_WorkPhoneChg</targetReference>
            </connector>
            <label>Work</label>
        </rules>
        <rules>
            <name>Mobile_PhoneChg</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mobile</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_MobilePhoneChg</targetReference>
            </connector>
            <label>Mobile</label>
        </rules>
    </decisions>
    <decisions>
        <name>Phone_Type_PhoneChanged2</name>
        <label>Phone Type?</label>
        <locationX>5605</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Update_Contact_OthPhoneChg2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Home2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Home</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_HomePhoneChg2</targetReference>
            </connector>
            <label>Home</label>
        </rules>
        <rules>
            <name>Work2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Work</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_WorkPhoneChg2</targetReference>
            </connector>
            <label>Work</label>
        </rules>
        <rules>
            <name>Mobile2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mobile</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_MobilePhoneChg2</targetReference>
            </connector>
            <label>Mobile</label>
        </rules>
    </decisions>
    <decisions>
        <description>Skips flow based on Permissions.</description>
        <name>Skip_Flow</name>
        <label>Skip Flow</label>
        <locationX>1584</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Get_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Run</defaultConnectorLabel>
        <rules>
            <name>Skip</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Flow_Automations_Off</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sys_Mod__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Sys_Mod</targetReference>
            </connector>
            <label>Skip</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_Match</name>
        <label>Type Match?</label>
        <locationX>5594</locationX>
        <locationY>1823</locationY>
        <defaultConnector>
            <targetReference>Remove_OP_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Match</name>
            <conditionLogic>1 OR (4 AND ( 2 OR 3))</conditionLogic>
            <conditions>
                <leftValueReference>Get_Previous_OP.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Type__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Previous_OP.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assistant</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Previous_OP.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fax</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_OP_P</targetReference>
            </connector>
            <label>Yes, Match</label>
        </rules>
    </decisions>
    <description>Updates Contact and Phone records when a Phone record is created/updated.</description>
    <environments>Default</environments>
    <formulas>
        <name>NowFormula</name>
        <dataType>DateTime</dataType>
        <expression>Now ()</expression>
    </formulas>
    <formulas>
        <description>Returns today&apos;s date.</description>
        <name>TodaysDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}</expression>
    </formulas>
    <interviewLabel>Phone Record Triggered Updates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Phone Record Triggered Updates (Dec Rev)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Gets Contact related to Phone record.</description>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>3119</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_New</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Donor__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Most_Recent_Preferred</name>
        <label>Get Most Recent Preferred</label>
        <locationX>5924</locationX>
        <locationY>3287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Another_Preferred_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Donor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Donor__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Preferred</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact_Phone__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Previous_OP</name>
        <label>Get Previous OP</label>
        <locationX>5594</locationX>
        <locationY>1703</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Type_Match</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Donor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Donor__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Primary__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact_Phone__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Look_for_other_Deliverable_of_Same_Type</name>
        <label>Look for other Deliverable of Same Type</label>
        <locationX>2426</locationX>
        <locationY>1391</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Another_Deliverable_of_Same_Type_Exists</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND (4 or 5 or 6)</filterLogic>
        <filters>
            <field>Donor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Donor__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Deliverable</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Assistant</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fax</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </filters>
        <object>Contact_Phone__c</object>
        <outputReference>Deliverable_of_Same_Type</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Phone__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Look_for_other_Deliverable_of_Same_Type_0</name>
        <label>Look for other Deliverable of Same Type</label>
        <locationX>2690</locationX>
        <locationY>1391</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Another_Deliverable_of_Same_Type_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Donor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Donor__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Deliverable</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Type__c</elementReference>
            </value>
        </filters>
        <object>Contact_Phone__c</object>
        <outputReference>Deliverable_of_Same_Type</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Phone__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Look_for_other_Deliverable_of_Same_Type_1</name>
        <label>Look for other Deliverable of Same Type</label>
        <locationX>5594</locationX>
        <locationY>4631</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Another_Deliverable_of_Same_Type_Exists_0</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND (4 or 5 or 6)</filterLogic>
        <filters>
            <field>Donor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Donor__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Deliverable</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Assistant</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fax</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </filters>
        <object>Contact_Phone__c</object>
        <outputReference>Deliverable_of_Same_Type</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Phone__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Look_for_other_Deliverable_of_Same_Type_2</name>
        <label>Look for other Deliverable of Same Type</label>
        <locationX>5858</locationX>
        <locationY>4631</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Another_Deliverable_of_Same_Type_Exists_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Donor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Donor__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Deliverable</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Type__c</elementReference>
            </value>
        </filters>
        <object>Contact_Phone__c</object>
        <outputReference>Deliverable_of_Same_Type</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Phone__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Look_for_other_OP</name>
        <label>Look for other OP</label>
        <locationX>5528</locationX>
        <locationY>3047</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Another_OP_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Donor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Donor__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Primary__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact_Phone__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Look_for_other_Preferred_of_Same_Type</name>
        <label>Look for other Preferred of Same Type</label>
        <locationX>4802</locationX>
        <locationY>4175</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Another_Preferred_of_Same_Type_Exists</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND (4 or 5 or 6)</filterLogic>
        <filters>
            <field>Donor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Donor__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Preferred</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Assistant</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fax</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </filters>
        <object>Contact_Phone__c</object>
        <outputReference>Preferred_of_Same_Type</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Phone__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Look_for_other_Preferred_of_Same_Type_2</name>
        <label>Look for other Preferred of Same Type</label>
        <locationX>5066</locationX>
        <locationY>4175</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Another_Preferred_of_Same_Type_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Donor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Donor__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Preferred</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Type__c</elementReference>
            </value>
        </filters>
        <object>Contact_Phone__c</object>
        <outputReference>Preferred_of_Same_Type</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Phone__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Look_for_other_Primary_of_Prior_Type</name>
        <label>Look for other Preferred of Prior Type</label>
        <locationX>1634</locationX>
        <locationY>935</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Another_Primary_of_Same_Type_Exists</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND (4 OR 5 OR 6)</filterLogic>
        <filters>
            <field>Donor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Donor__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Preferred</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Assistant</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fax</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </filters>
        <object>Contact_Phone__c</object>
        <outputReference>Preferred_of_Same_Type</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Phone__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Look_for_other_Primary_of_Prior_Type_0</name>
        <label>Look for other Preferred of Prior Type</label>
        <locationX>1898</locationX>
        <locationY>935</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Another_Primary_of_Same_Type_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Donor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Donor__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Preferred</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Type__c</elementReference>
            </value>
        </filters>
        <object>Contact_Phone__c</object>
        <outputReference>Preferred_of_Same_Type</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Phone__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Clear_End_Date</name>
        <label>Clear End Date</label>
        <locationX>5792</locationX>
        <locationY>6839</locationY>
        <inputAssignments>
            <field>End_Date__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Clear_Home_Phone</name>
        <label>Clear Home Phone</label>
        <locationX>2690</locationX>
        <locationY>1847</locationY>
        <connector>
            <targetReference>Set_Bypass_Date_Time</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HomePhone</field>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Clear_Home_Phone_1</name>
        <label>Clear Home Phone</label>
        <locationX>5858</locationX>
        <locationY>5087</locationY>
        <connector>
            <targetReference>Changed_to_Preferred</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HomePhone</field>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Clear_Mobile_Phone</name>
        <label>Clear Mobile Phone</label>
        <locationX>3218</locationX>
        <locationY>1847</locationY>
        <connector>
            <targetReference>Set_Bypass_Date_Time</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MobilePhone</field>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Clear_Mobile_Phone_1</name>
        <label>Clear Mobile Phone</label>
        <locationX>6386</locationX>
        <locationY>5087</locationY>
        <connector>
            <targetReference>Changed_to_Preferred</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MobilePhone</field>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Clear_Other_Phone</name>
        <label>Clear Other Phone</label>
        <locationX>3482</locationX>
        <locationY>1847</locationY>
        <connector>
            <targetReference>Set_Bypass_Date_Time</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OtherPhone</field>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Clear_Other_Phone_1</name>
        <label>Clear Other Phone</label>
        <locationX>6650</locationX>
        <locationY>5087</locationY>
        <connector>
            <targetReference>Changed_to_Preferred</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OtherPhone</field>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Clear_Phone</name>
        <label>Clear Phone</label>
        <locationX>6056</locationX>
        <locationY>3527</locationY>
        <connector>
            <targetReference>Changed_Preferred_to_Not_Preferred</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Donor__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Phone</field>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Clear_Sys_Mod</name>
        <label>Clear Sys-Mod</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sys_Mod__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Sys_Mod__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Clear_Work_Phone</name>
        <label>Clear Work Phone</label>
        <locationX>2954</locationX>
        <locationY>1847</locationY>
        <connector>
            <targetReference>Set_Bypass_Date_Time</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>npe01__WorkPhone__c</field>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Clear_Work_Phone_1</name>
        <label>Clear Work Phone</label>
        <locationX>6122</locationX>
        <locationY>5087</locationY>
        <connector>
            <targetReference>Changed_to_Preferred</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>npe01__WorkPhone__c</field>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Sets Automation Bypass Date/Time on Contact to bypass Validation Rule.</description>
        <name>Copy_1_of_Set_Bypass_Date_Time</name>
        <label>Set Bypass Date/Time</label>
        <locationX>5924</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Phone_Changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Automation_Bypass_DateTime__c</field>
            <value>
                <elementReference>NowFormula</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Sets Automation Bypass Date/Time on Contact to bypass Validation Rule.</description>
        <name>Copy_2_of_Set_Bypass_Date_Time</name>
        <label>Set Bypass Date/Time - Contact</label>
        <locationX>1766</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Phone_is_Other_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Automation_Bypass_DateTime__c</field>
            <value>
                <elementReference>NowFormula</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_OP</name>
        <label>Remove OP</label>
        <locationX>2261</locationX>
        <locationY>7511</locationY>
        <connector>
            <targetReference>Phone_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Primary__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Donor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Donor__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Automation_Bypass_Date_Time__c</field>
            <value>
                <elementReference>NowFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sys_Mod__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact_Phone__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_OP_0</name>
        <label>Remove OP</label>
        <locationX>5792</locationX>
        <locationY>1943</locationY>
        <connector>
            <targetReference>Phone_is_Other_Type_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Previous_OP.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Automation_Bypass_Date_Time__c</field>
            <value>
                <elementReference>NowFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sys_Mod__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact_Phone__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_OP_NewOP</name>
        <label>Remove OP</label>
        <locationX>5132</locationX>
        <locationY>3287</locationY>
        <connector>
            <targetReference>Phone_Type_NewOP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Primary__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Donor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Donor__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Look_for_other_OP.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Automation_Bypass_Date_Time__c</field>
            <value>
                <elementReference>NowFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sys_Mod__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact_Phone__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_OP_P</name>
        <label>Remove OP/P</label>
        <locationX>5396</locationX>
        <locationY>1943</locationY>
        <connector>
            <targetReference>Phone_Type_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Previous_OP.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Primary__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Deliverable</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sys_Mod__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact_Phone__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_Preferred_from_Previous_H</name>
        <label>Remove Preferred from Previous</label>
        <locationX>1865</locationX>
        <locationY>7871</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Donor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Donor__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Home</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Preferred</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Deliverable</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sys_Mod__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact_Phone__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_Preferred_from_Previous_H2</name>
        <label>Remove Preferred from Previous</label>
        <locationX>2921</locationX>
        <locationY>7751</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Donor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Donor__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Home</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Preferred</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Primary__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Deliverable</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sys_Mod__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact_Phone__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_Preferred_from_Previous_H3</name>
        <label>Remove Preferred from Previous</label>
        <locationX>5198</locationX>
        <locationY>6071</locationY>
        <connector>
            <targetReference>Changed_to_Undeliverable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Donor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Donor__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Home</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Preferred</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Deliverable</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sys_Mod__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact_Phone__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_Preferred_from_Previous_M</name>
        <label>Remove Preferred from Previous</label>
        <locationX>2393</locationX>
        <locationY>7871</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Donor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Donor__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Mobile</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Preferred</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Deliverable</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sys_Mod__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact_Phone__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_Preferred_from_Previous_M2</name>
        <label>Remove Preferred from Previous</label>
        <locationX>3449</locationX>
        <locationY>7751</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Donor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Donor__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Mobile</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Preferred</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Primary__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Deliverable</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sys_Mod__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact_Phone__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_Preferred_from_Previous_M3</name>
        <label>Remove Preferred from Previous</label>
        <locationX>5726</locationX>
        <locationY>6071</locationY>
        <connector>
            <targetReference>Changed_to_Undeliverable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Donor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Donor__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Mobile</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Preferred</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Deliverable</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sys_Mod__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact_Phone__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_Preferred_from_Previous_O</name>
        <label>Remove Preferred from Previous</label>
        <locationX>2657</locationX>
        <locationY>7871</locationY>
        <filterLogic>1 AND 2 AND 3 AND (4 OR 5 OR 6)</filterLogic>
        <filters>
            <field>Donor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Donor__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Preferred</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Assistant</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fax</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Deliverable</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sys_Mod__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact_Phone__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_Preferred_from_Previous_O2</name>
        <label>Remove Preferred from Previous</label>
        <locationX>3713</locationX>
        <locationY>7751</locationY>
        <filterLogic>1 AND 2 AND 3 AND 4 AND (5 or 6 or 7)</filterLogic>
        <filters>
            <field>Donor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Donor__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Preferred</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Primary__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Assistant</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fax</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Deliverable</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sys_Mod__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact_Phone__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_Preferred_from_Previous_O3</name>
        <label>Remove Preferred from Previous</label>
        <locationX>5990</locationX>
        <locationY>6071</locationY>
        <connector>
            <targetReference>Changed_to_Undeliverable</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND (4 OR 5 OR 6)</filterLogic>
        <filters>
            <field>Donor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Donor__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Preferred</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Assistant</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fax</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Deliverable</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sys_Mod__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact_Phone__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_Preferred_from_Previous_W</name>
        <label>Remove Preferred from Previous</label>
        <locationX>2129</locationX>
        <locationY>7871</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Donor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Donor__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Work</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Preferred</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Deliverable</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sys_Mod__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact_Phone__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_Preferred_from_Previous_W2</name>
        <label>Remove Preferred from Previous</label>
        <locationX>3185</locationX>
        <locationY>7751</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Donor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Donor__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Work</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Preferred</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Primary__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Deliverable</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sys_Mod__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact_Phone__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_Preferred_from_Previous_W3</name>
        <label>Remove Preferred from Previous</label>
        <locationX>5462</locationX>
        <locationY>6071</locationY>
        <connector>
            <targetReference>Changed_to_Undeliverable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Donor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Donor__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Work</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Preferred</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Deliverable</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sys_Mod__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact_Phone__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_Preferred_from_Type_Matched_Phones</name>
        <label>Remove Preferred from Type-Matched Phones</label>
        <locationX>5660</locationX>
        <locationY>2183</locationY>
        <connector>
            <targetReference>Phone_Type_0</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND (4 OR 5 OR 6)</filterLogic>
        <filters>
            <field>Donor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Donor__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Preferred</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Assistant</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fax</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Deliverable</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sys_Mod__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact_Phone__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_Preferred_from_Type_Matched_Phones_0</name>
        <label>Remove Preferred from Type-Matched Phones</label>
        <locationX>5924</locationX>
        <locationY>2183</locationY>
        <connector>
            <targetReference>Phone_Type_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Donor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Donor__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Preferred</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Type__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Deliverable</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sys_Mod__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact_Phone__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Bypass_Date_Time</name>
        <label>Set Bypass Date/Time</label>
        <locationX>3119</locationX>
        <locationY>7271</locationY>
        <connector>
            <targetReference>Is_Overall_Pref_Pref</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Automation_Bypass_DateTime__c</field>
            <value>
                <elementReference>NowFormula</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_End_Date</name>
        <label>Set End Date</label>
        <locationX>5792</locationX>
        <locationY>6503</locationY>
        <connector>
            <targetReference>Changed_from_Undeliverable</targetReference>
        </connector>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>TodaysDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_End_Date_for_Undeliverable</name>
        <label>Set End Date for Undeliverable</label>
        <locationX>3977</locationX>
        <locationY>7511</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Undeliverable</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Start</name>
        <label>Set Start</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Set_Bypass_Date_Time</targetReference>
        </connector>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>5990</locationX>
        <locationY>5951</locationY>
        <connector>
            <targetReference>Remove_Preferred_from_Previous_O3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OtherPhone</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_H1</name>
        <label>Update Contact</label>
        <locationX>1865</locationX>
        <locationY>7751</locationY>
        <connector>
            <targetReference>Remove_Preferred_from_Previous_H</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HomePhone</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__PreferredPhone__c</field>
            <value>
                <stringValue>Home</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_H2</name>
        <label>Update Contact</label>
        <locationX>2921</locationX>
        <locationY>7631</locationY>
        <connector>
            <targetReference>Remove_Preferred_from_Previous_H2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HomePhone</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_HDExists</name>
        <label>Update Contact</label>
        <locationX>4802</locationX>
        <locationY>5087</locationY>
        <connector>
            <targetReference>Update_Existing_Deliverable_to_Preferred</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HomePhone</field>
            <value>
                <elementReference>Deliverable_of_Same_Type.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates phone fields on Contact record.</description>
        <name>Update_Contact_HNewOP</name>
        <label>Update Contact</label>
        <locationX>4736</locationX>
        <locationY>3527</locationY>
        <connector>
            <targetReference>Changed_Preferred_to_Not_Preferred</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HomePhone</field>
            <value>
                <elementReference>Look_for_other_OP.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Look_for_other_OP.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__PreferredPhone__c</field>
            <value>
                <stringValue>Home</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_HNotCP</name>
        <label>Update Contact</label>
        <locationX>3746</locationX>
        <locationY>4631</locationY>
        <connector>
            <targetReference>Changed_to_Preferred</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HomePhone</field>
            <value>
                <elementReference>Preferred_of_Same_Type.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates phone fields on Contact record.</description>
        <name>Update_Contact_HomePhoneChg1</name>
        <label>Update Contact</label>
        <locationX>4153</locationX>
        <locationY>1175</locationY>
        <connector>
            <targetReference>Overall_Pref_Changed_to_TRUE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Donor__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HomePhone</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates phone fields on Contact record.</description>
        <name>Update_Contact_HomePhoneChg2</name>
        <label>Update Contact</label>
        <locationX>5209</locationX>
        <locationY>1175</locationY>
        <connector>
            <targetReference>Overall_Pref_Changed_to_TRUE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Donor__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HomePhone</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates phone fields on Contact record.</description>
        <name>Update_Contact_HomePref</name>
        <label>Update Contact</label>
        <locationX>5198</locationX>
        <locationY>2615</locationY>
        <connector>
            <targetReference>Overall_Pref_Changed_to_FALSE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HomePhone</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__PreferredPhone__c</field>
            <value>
                <stringValue>Home</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_HP</name>
        <label>Update Contact</label>
        <locationX>5198</locationX>
        <locationY>5951</locationY>
        <connector>
            <targetReference>Remove_Preferred_from_Previous_H3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HomePhone</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_M1</name>
        <label>Update Contact</label>
        <locationX>2393</locationX>
        <locationY>7751</locationY>
        <connector>
            <targetReference>Remove_Preferred_from_Previous_M</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__PreferredPhone__c</field>
            <value>
                <stringValue>Mobile</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_M2</name>
        <label>Update Contact</label>
        <locationX>3449</locationX>
        <locationY>7631</locationY>
        <connector>
            <targetReference>Remove_Preferred_from_Previous_M2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_MDExists</name>
        <label>Update Contact</label>
        <locationX>5330</locationX>
        <locationY>5087</locationY>
        <connector>
            <targetReference>Update_Existing_Deliverable_to_Preferred</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>Deliverable_of_Same_Type.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates phone fields on Contact record.</description>
        <name>Update_Contact_MNewOP</name>
        <label>Update Contact</label>
        <locationX>5264</locationX>
        <locationY>3527</locationY>
        <connector>
            <targetReference>Changed_Preferred_to_Not_Preferred</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>Look_for_other_OP.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Look_for_other_OP.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__PreferredPhone__c</field>
            <value>
                <stringValue>Mobile</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_MNotCP</name>
        <label>Update Contact</label>
        <locationX>4274</locationX>
        <locationY>4631</locationY>
        <connector>
            <targetReference>Changed_to_Preferred</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>Preferred_of_Same_Type.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates phone fields on Contact record.</description>
        <name>Update_Contact_MobilePhoneChg</name>
        <label>Update Contact</label>
        <locationX>4681</locationX>
        <locationY>1175</locationY>
        <connector>
            <targetReference>Overall_Pref_Changed_to_TRUE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Donor__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates phone fields on Contact record.</description>
        <name>Update_Contact_MobilePhoneChg2</name>
        <label>Update Contact</label>
        <locationX>5737</locationX>
        <locationY>1175</locationY>
        <connector>
            <targetReference>Overall_Pref_Changed_to_TRUE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Donor__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates phone fields on Contact record.</description>
        <name>Update_Contact_MobilePref</name>
        <label>Update Contact</label>
        <locationX>5726</locationX>
        <locationY>2615</locationY>
        <connector>
            <targetReference>Overall_Pref_Changed_to_FALSE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__PreferredPhone__c</field>
            <value>
                <stringValue>Mobile</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_MP</name>
        <label>Update Contact</label>
        <locationX>5726</locationX>
        <locationY>5951</locationY>
        <connector>
            <targetReference>Remove_Preferred_from_Previous_M3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_NBCTH1</name>
        <label>Update Contact</label>
        <locationX>578</locationX>
        <locationY>1391</locationY>
        <connector>
            <targetReference>Set_Bypass_Date_Time</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HomePhone</field>
            <value>
                <elementReference>Preferred_of_Same_Type.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_NBTCH2</name>
        <label>Update Contact</label>
        <locationX>1634</locationX>
        <locationY>1847</locationY>
        <connector>
            <targetReference>Update_Existing_Deliverable_to_Primary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HomePhone</field>
            <value>
                <elementReference>Deliverable_of_Same_Type.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_NBTCM1</name>
        <label>Update Contact</label>
        <locationX>1106</locationX>
        <locationY>1391</locationY>
        <connector>
            <targetReference>Set_Bypass_Date_Time</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>Preferred_of_Same_Type.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_NBTCM2</name>
        <label>Update Contact</label>
        <locationX>2162</locationX>
        <locationY>1847</locationY>
        <connector>
            <targetReference>Update_Existing_Deliverable_to_Primary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>Deliverable_of_Same_Type.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_NBTCO1</name>
        <label>Update Contact</label>
        <locationX>1370</locationX>
        <locationY>1391</locationY>
        <connector>
            <targetReference>Set_Bypass_Date_Time</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OtherPhone</field>
            <value>
                <elementReference>Preferred_of_Same_Type.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_NBTCO2</name>
        <label>Update Contact</label>
        <locationX>2426</locationX>
        <locationY>1847</locationY>
        <connector>
            <targetReference>Update_Existing_Deliverable_to_Primary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OtherPhone</field>
            <value>
                <elementReference>Deliverable_of_Same_Type.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_NBTCW1</name>
        <label>Update Contact</label>
        <locationX>842</locationX>
        <locationY>1391</locationY>
        <connector>
            <targetReference>Set_Bypass_Date_Time</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>npe01__WorkPhone__c</field>
            <value>
                <elementReference>Preferred_of_Same_Type.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_NBTCW2</name>
        <label>Update Contact</label>
        <locationX>1898</locationX>
        <locationY>1847</locationY>
        <connector>
            <targetReference>Update_Existing_Deliverable_to_Primary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>npe01__WorkPhone__c</field>
            <value>
                <elementReference>Deliverable_of_Same_Type.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_O1</name>
        <label>Update Contact</label>
        <locationX>2657</locationX>
        <locationY>7751</locationY>
        <connector>
            <targetReference>Remove_Preferred_from_Previous_O</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OtherPhone</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__PreferredPhone__c</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_O2</name>
        <label>Update Contact</label>
        <locationX>3713</locationX>
        <locationY>7631</locationY>
        <connector>
            <targetReference>Remove_Preferred_from_Previous_O2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OtherPhone</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_ODExists</name>
        <label>Update Contact</label>
        <locationX>5594</locationX>
        <locationY>5087</locationY>
        <connector>
            <targetReference>Update_Existing_Deliverable_to_Preferred</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OtherPhone</field>
            <value>
                <elementReference>Deliverable_of_Same_Type.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates phone fields on Contact record.</description>
        <name>Update_Contact_ONewOP</name>
        <label>Update Contact</label>
        <locationX>5528</locationX>
        <locationY>3527</locationY>
        <connector>
            <targetReference>Changed_Preferred_to_Not_Preferred</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OtherPhone</field>
            <value>
                <elementReference>Look_for_other_OP.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Look_for_other_OP.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__PreferredPhone__c</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_ONotCP</name>
        <label>Update Contact</label>
        <locationX>4538</locationX>
        <locationY>4631</locationY>
        <connector>
            <targetReference>Changed_to_Preferred</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OtherPhone</field>
            <value>
                <elementReference>Preferred_of_Same_Type.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates phone fields on Contact record.</description>
        <name>Update_Contact_OtherPhoneChg</name>
        <label>Update Contact</label>
        <locationX>4945</locationX>
        <locationY>1175</locationY>
        <connector>
            <targetReference>Overall_Pref_Changed_to_TRUE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Donor__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OtherPhone</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates phone fields on Contact record.</description>
        <name>Update_Contact_OtherPref</name>
        <label>Update Contact</label>
        <locationX>5990</locationX>
        <locationY>2615</locationY>
        <connector>
            <targetReference>Overall_Pref_Changed_to_FALSE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OtherPhone</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__PreferredPhone__c</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates phone fields on Contact record.</description>
        <name>Update_Contact_OthPhoneChg2</name>
        <label>Update Contact</label>
        <locationX>6001</locationX>
        <locationY>1175</locationY>
        <connector>
            <targetReference>Overall_Pref_Changed_to_TRUE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Donor__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OtherPhone</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_W1</name>
        <label>Update Contact</label>
        <locationX>2129</locationX>
        <locationY>7751</locationY>
        <connector>
            <targetReference>Remove_Preferred_from_Previous_W</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__PreferredPhone__c</field>
            <value>
                <stringValue>Work</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__WorkPhone__c</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_W2</name>
        <label>Update Contact</label>
        <locationX>3185</locationX>
        <locationY>7631</locationY>
        <connector>
            <targetReference>Remove_Preferred_from_Previous_W2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>npe01__WorkPhone__c</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_WDExists</name>
        <label>Update Contact</label>
        <locationX>5066</locationX>
        <locationY>5087</locationY>
        <connector>
            <targetReference>Update_Existing_Deliverable_to_Preferred</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>npe01__WorkPhone__c</field>
            <value>
                <elementReference>Deliverable_of_Same_Type.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates phone fields on Contact record.</description>
        <name>Update_Contact_WNewOP</name>
        <label>Update Contact</label>
        <locationX>5000</locationX>
        <locationY>3527</locationY>
        <connector>
            <targetReference>Changed_Preferred_to_Not_Preferred</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Look_for_other_OP.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__PreferredPhone__c</field>
            <value>
                <stringValue>Work</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__WorkPhone__c</field>
            <value>
                <elementReference>Look_for_other_OP.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_WorkNotCP</name>
        <label>Update Contact</label>
        <locationX>4010</locationX>
        <locationY>4631</locationY>
        <connector>
            <targetReference>Changed_to_Preferred</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>npe01__WorkPhone__c</field>
            <value>
                <elementReference>Preferred_of_Same_Type.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates phone fields on Contact record.</description>
        <name>Update_Contact_WorkPhoneChg</name>
        <label>Update Contact</label>
        <locationX>4417</locationX>
        <locationY>1175</locationY>
        <connector>
            <targetReference>Overall_Pref_Changed_to_TRUE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Donor__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__WorkPhone__c</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates phone fields on Contact record.</description>
        <name>Update_Contact_WorkPhoneChg2</name>
        <label>Update Contact</label>
        <locationX>5473</locationX>
        <locationY>1175</locationY>
        <connector>
            <targetReference>Overall_Pref_Changed_to_TRUE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Donor__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>npe01__WorkPhone__c</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates phone fields on Contact record.</description>
        <name>Update_Contact_WorkPref</name>
        <label>Update Contact</label>
        <locationX>5462</locationX>
        <locationY>2615</locationY>
        <connector>
            <targetReference>Overall_Pref_Changed_to_FALSE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__PreferredPhone__c</field>
            <value>
                <stringValue>Work</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__WorkPhone__c</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_WP</name>
        <label>Update Contact</label>
        <locationX>5462</locationX>
        <locationY>5951</locationY>
        <connector>
            <targetReference>Remove_Preferred_from_Previous_W3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>npe01__WorkPhone__c</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Existing_Deliverable_to_Preferred</name>
        <label>Update Existing Deliverable to Preferred</label>
        <locationX>5198</locationX>
        <locationY>5303</locationY>
        <connector>
            <targetReference>Changed_to_Preferred</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Deliverable_of_Same_Type.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Preferred</stringValue>
            </value>
        </inputAssignments>
        <object>Contact_Phone__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Existing_Deliverable_to_Primary</name>
        <label>Update Existing Deliverable to Preferred</label>
        <locationX>2030</locationX>
        <locationY>2063</locationY>
        <connector>
            <targetReference>Set_Bypass_Date_Time</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Deliverable_of_Same_Type.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Preferred</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sys_Mod__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact_Phone__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_to_Overall_Pref</name>
        <label>Update to Overall Pref</label>
        <locationX>5792</locationX>
        <locationY>3527</locationY>
        <connector>
            <targetReference>Changed_Preferred_to_Not_Preferred</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Most_Recent_Preferred.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Primary__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Preferred</stringValue>
            </value>
        </inputAssignments>
        <object>Contact_Phone__c</object>
    </recordUpdates>
    <start>
        <locationX>1458</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Skip_Flow</targetReference>
        </connector>
        <filterFormula>(ISNEW()) ||
ISCHANGED({!$Record.Status__c}) ||
ISCHANGED({!$Record.Primary__c}) || 
ISCHANGED({!$Record.Phone__c}) ||
ISCHANGED({!$Record.Type__c})</filterFormula>
        <object>Contact_Phone__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Deliverable_of_Same_Type</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact_Phone__c</objectType>
    </variables>
    <variables>
        <name>Preferred_of_Same_Type</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact_Phone__c</objectType>
    </variables>
    <variables>
        <name>UpdatedPhoneRecCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact_Phone__c</objectType>
    </variables>
</Flow>
