unpackaged/main/default/flows/Subflow_Update_Affiliations_on_Host_App_Contacts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Copy_1_of_Update_HLS_Affil_Values</name>
        <label>Update DS Affil</label>
        <locationX>644</locationX>
        <locationY>614</locationY>
        <assignmentItems>
            <assignToReference>varDSAffiliation.Affiliation_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Employer/Employee</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDSAffiliation.npe5__Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varDSId.Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjAffiliation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varDSAffiliation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_DS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_HLS_Affil_Values</name>
        <label>Update HLS Affil Values</label>
        <locationX>380</locationX>
        <locationY>614</locationY>
        <assignmentItems>
            <assignToReference>varHLSAffiliation.Affiliation_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Employer/Employee</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHLSAffiliation.npe5__Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varHLSId.Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjAffiliation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varHLSAffiliation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_DS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_HR_Affil</name>
        <label>Update HR Affil</label>
        <locationX>908</locationX>
        <locationY>614</locationY>
        <assignmentItems>
            <assignToReference>varHRAffil.Affiliation_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Employer/Employee</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHRAffil.npe5__Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varHRId.Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjAffiliation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varHRAffil</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_DS</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Null_Values</name>
        <label>Check for Null Values</label>
        <locationX>776</locationX>
        <locationY>506</locationY>
        <defaultConnector>
            <targetReference>Update_DS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HLS_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varHLSAffiliation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_HLS_Affil_Values</targetReference>
            </connector>
            <label>HLS not null</label>
        </rules>
        <rules>
            <name>DS_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varDSAffiliation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_HLS_Affil_Values</targetReference>
            </connector>
            <label>DS not null</label>
        </rules>
        <rules>
            <name>HR_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varHRAffil</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_HR_Affil</targetReference>
            </connector>
            <label>HR not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_DS</name>
        <label>Update DS?</label>
        <locationX>776</locationX>
        <locationY>806</locationY>
        <defaultConnector>
            <targetReference>Update_HR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DS_ID_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varDSId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varDSAffiliation.Affiliation_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Null_Values</targetReference>
            </connector>
            <label>DS ID not null and affil not updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_HR</name>
        <label>Update HR?</label>
        <locationX>974</locationX>
        <locationY>914</locationY>
        <defaultConnector>
            <targetReference>Update_affiliations</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_DS_ID_not_null_and_affil_not_updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varHRId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varDSAffiliation.Affiliation_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Null_Values</targetReference>
            </connector>
            <label>HR ID not null and affil not updated</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Subflow - Update Affiliations on Host App Contacts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subflow - Update Affiliations on Host App Contacts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Affiliations</name>
        <label>Get HLS Affil</label>
        <locationX>776</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_DS_Affil</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npe5__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varHLSId.Id</elementReference>
            </value>
        </filters>
        <object>npe5__Affiliation__c</object>
        <outputReference>varHLSAffiliation</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_DS_Affil</name>
        <label>Get DS Affil</label>
        <locationX>776</locationX>
        <locationY>290</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_HR_Affil</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npe5__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varDSId.Id</elementReference>
            </value>
        </filters>
        <object>npe5__Affiliation__c</object>
        <outputReference>varDSAffiliation</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_HR_Affil</name>
        <label>Get HR Affil</label>
        <locationX>776</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Null_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npe5__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varHRId.Id</elementReference>
            </value>
        </filters>
        <object>npe5__Affiliation__c</object>
        <outputReference>varHRAffil</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_affiliations</name>
        <label>Update affiliations</label>
        <locationX>870</locationX>
        <locationY>1167</locationY>
        <inputReference>sObjAffiliation</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Affiliations</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>sObjAffiliation</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>npe5__Affiliation__c</objectType>
    </variables>
    <variables>
        <name>varDSAffiliation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>npe5__Affiliation__c</objectType>
    </variables>
    <variables>
        <name>varDSId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varHLSAffiliation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>npe5__Affiliation__c</objectType>
    </variables>
    <variables>
        <name>varHLSId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varHRAffil</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>npe5__Affiliation__c</objectType>
    </variables>
    <variables>
        <name>varHRId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
