unpackaged/main/default/flows/Subflow_Create_Email_Message_for_Email_Alerts-1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Subflow - Create Email Message for Email Alerts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subflow - Create Email Message for Email Alerts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_EmailMessage</name>
        <label>Create EmailMessage</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignRecordIdToReference>varEmailMessage</assignRecordIdToReference>
        <connector>
            <targetReference>EmailRelation</targetReference>
        </connector>
        <inputAssignments>
            <field>EmailTemplateId</field>
            <value>
                <elementReference>varEmailTemplateId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromId__NotFound</field>
            <value>
                <elementReference>varFromId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>varHTMLBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>varRelatedToId</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
    </recordCreates>
    <recordUpdates>
        <name>EmailRelation</name>
        <label>EmailRelation</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EmailMessageId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varEmailMessage</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RelationId</field>
            <value>
                <elementReference>varConId</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessageRelation</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_EmailMessage</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>varConId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varEmailMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varEmailTemplateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varFromId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varHTMLBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRelatedToId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
