unpackaged/main/default/flows/Subflow_Update_Affiliations_on_Host_App_Contacts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_contacts_to_collection</name>
        <label>Add contacts to collection</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>vColl_AllCons</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varDSId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vColl_AllCons</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varHLSId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vColl_AllCons</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varHRId.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Affiliations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>182</locationX>
        <locationY>1466</locationY>
        <assignmentItems>
            <assignToReference>sObjAffiliation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varDSAffiliation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjAffiliation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varHLSAffiliation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjAffiliation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varHRAffil</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjContact</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varDSId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjContact</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varHLSId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjContact</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varHRId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Affiliations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Final_List</name>
        <label>Add to Final List</label>
        <locationX>446</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>AffiliationListFinal_text</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Affiliations.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinalListAffil</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Affiliations</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Affiliations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Update_HLS_Affil_Values</name>
        <label>Update DS Affil</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>varDSAffiliation.Affiliation_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Employer/Employee</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDSAffiliation.npe5__Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varDSTitle</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDSAffiliation.npe5__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Current</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDSAffiliation.npe5__Primary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDSId.Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varDSTitle</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDSId.Employer_Lookup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varDSAffiliation.npe5__Organization__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDSAffiliation.Created_From_FellowApp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_HR_Affil</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_HLS_Affil_Values</name>
        <label>Update HLS Affil Values</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>varHLSAffiliation.Affiliation_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Employer/Employee</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHLSAffiliation.npe5__Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varHLSTitle</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHLSAffiliation.npe5__Status__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Current</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHLSAffiliation.npe5__Primary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHLSId.Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varHLSTitle</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHLSId.Employer_Lookup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varHLSAffiliation.npe5__Organization__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHLSAffiliation.Created_From_FellowApp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_DS_Affil</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_HR_Affil</name>
        <label>Update HR Affil</label>
        <locationX>50</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>varHRAffil.Affiliation_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Employer/Employee</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHRAffil.npe5__Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varHRTitle</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHRAffil.npe5__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Current</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHRAffil.npe5__Primary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHRId.Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varHRTitle</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHRId.Employer_Lookup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varHRAffil.npe5__Organization__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHRAffil.Created_From_FellowApp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Null_Values</name>
        <label>Check for Null Values</label>
        <locationX>182</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <targetReference>Add_to_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HR_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varHRAffil</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_HR_Affil</targetReference>
            </connector>
            <label>HR not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Null_Values_0</name>
        <label>Check for Null High level spon</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Get_DS_Affil</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HLS_is_null_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varHLSAffiliation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_HLS_Affil_Values</targetReference>
            </connector>
            <label>HLS not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Null_Values_0_0</name>
        <label>Check for Null DS</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Get_HR_Affil</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DS_is_null_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varDSAffiliation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_HLS_Affil_Values</targetReference>
            </connector>
            <label>DS not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Duplicate</name>
        <label>Is Duplicate?</label>
        <locationX>358</locationX>
        <locationY>1682</locationY>
        <defaultConnector>
            <targetReference>Add_to_Final_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Unique</defaultConnectorLabel>
        <rules>
            <name>In_List</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AffiliationListFinal_text</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_Affiliations.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Affiliations</targetReference>
            </connector>
            <label>In List</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Subflow - Update Affiliations on Host App Contacts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subflow - Update Affiliations on Host App Contacts</label>
    <loops>
        <name>Loop_Affiliations</name>
        <label>Loop Affiliations</label>
        <locationX>182</locationX>
        <locationY>1574</locationY>
        <collectionReference>sObjAffiliation</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Duplicate</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_affiliations</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Affiliations</name>
        <label>Get HLS Affil</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Null_Values_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npe5__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varHLSId.Id</elementReference>
            </value>
        </filters>
        <object>npe5__Affiliation__c</object>
        <outputReference>varHLSAffiliation</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>npe5__Role__c</queriedFields>
        <queriedFields>Affiliation_Type__c</queriedFields>
        <queriedFields>npe5__Organization__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_DS_Affil</name>
        <label>Get DS Affil</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Null_Values_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npe5__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varDSId.Id</elementReference>
            </value>
        </filters>
        <object>npe5__Affiliation__c</object>
        <outputReference>varDSAffiliation</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Affiliation_Type__c</queriedFields>
        <queriedFields>npe5__Role__c</queriedFields>
        <queriedFields>npe5__Organization__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_HR_Affil</name>
        <label>Get HR Affil</label>
        <locationX>182</locationX>
        <locationY>1058</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Null_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npe5__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varHRId.Id</elementReference>
            </value>
        </filters>
        <object>npe5__Affiliation__c</object>
        <outputReference>varHRAffil</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Affiliation_Type__c</queriedFields>
        <queriedFields>npe5__Role__c</queriedFields>
        <queriedFields>npe5__Organization__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_affiliations</name>
        <label>Update affiliations</label>
        <locationX>182</locationX>
        <locationY>2066</locationY>
        <inputReference>FinalListAffil</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Add_contacts_to_collection</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AffiliationListFinal_text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FinalListAffil</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>npe5__Affiliation__c</objectType>
    </variables>
    <variables>
        <name>sObjAffiliation</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>npe5__Affiliation__c</objectType>
    </variables>
    <variables>
        <name>sObjContact</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varDSAffiliation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>npe5__Affiliation__c</objectType>
    </variables>
    <variables>
        <name>varDSId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varDSTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varHLSAffiliation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>npe5__Affiliation__c</objectType>
    </variables>
    <variables>
        <name>varHLSId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varHLSTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varHRAffil</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>npe5__Affiliation__c</objectType>
    </variables>
    <variables>
        <name>varHRId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varHRTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vColl_Affil</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vColl_AllCons</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
