unpackaged/main/default/flows/Task_EDF_Other_SCREEN_Display_Related_Contacts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>EDF_Other_coll</name>
        <label>EDF Other coll</label>
        <locationX>713</locationX>
        <locationY>743</locationY>
        <assignmentItems>
            <assignToReference>Vcoll_EDFOther</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Each_Contact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Each_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>TaskRelationID_Collection</name>
        <label>TaskRelationID Collection</label>
        <locationX>715</locationX>
        <locationY>302</locationY>
        <assignmentItems>
            <assignToReference>Vcoll_WhoID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_task_Relation.RelationId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_task_Relation</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Constituency_Decision</name>
        <label>Constituency Decision</label>
        <locationX>706</locationX>
        <locationY>556</locationY>
        <defaultConnector>
            <targetReference>EDF_Other_coll</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Staff_or_Alumni</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Each_Contact.Constituency__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>EDF Staff</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Each_Contact.Constituency__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>EDF Alumni</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Each_Contact</targetReference>
            </connector>
            <label>Yes Staff or Alumni</label>
        </rules>
        <rules>
            <name>Donor_Proxy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Each_Contact.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Donor_Proxy</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Each_Contact</targetReference>
            </connector>
            <label>Donor Proxy?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Task EDF Other SCREEN Display Related Contacts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Task EDF Other SCREEN Display Related Contacts</label>
    <loops>
        <name>Each_Contact</name>
        <label>Each Contact</label>
        <locationX>544</locationX>
        <locationY>642</locationY>
        <collectionReference>Get_Contacts_Task</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Constituency_Decision</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>EDF_Other_Display_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_task_Relation</name>
        <label>loop task Relation</label>
        <locationX>544</locationX>
        <locationY>302</locationY>
        <collectionReference>Get_Tasks_Relation</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>TaskRelationID_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Contacts_Task</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Contacts_Task</name>
        <label>Get Contacts for Task</label>
        <locationX>543</locationX>
        <locationY>421</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Each_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>Vcoll_WhoID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Tasks_Relation</name>
        <label>Get Tasks Relation</label>
        <locationX>541</locationX>
        <locationY>167</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_task_Relation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TaskId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>V_Task_InputRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TaskRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>EDF_Other_Display_Screen</name>
        <label>EDF Other Display Screen</label>
        <locationX>548</locationX>
        <locationY>822</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>EDF_Other_Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Contact</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>External Contacts</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Vcoll_EDFOther</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-0b5c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Full Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Constituency__c&quot;,&quot;guid&quot;:&quot;column-2dcc&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Constituency&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Email&quot;,&quot;guid&quot;:&quot;column-42d6&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Email&quot;,&quot;type&quot;:&quot;email&quot;},{&quot;apiName&quot;:&quot;Employer_Lookup__c&quot;,&quot;guid&quot;:&quot;column-6ade&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Employer&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Title&quot;,&quot;guid&quot;:&quot;column-e947&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Title&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Primary_Handler__c&quot;,&quot;guid&quot;:&quot;column-4a3e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Relationship Manager&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>414</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Tasks_Relation</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>blank_TextCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_IdCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>V_RelationID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>V_Task_InputRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>VColl_EDF_Staff_Alumni</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Vcoll_EDFOther</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Vcoll_WhoID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WhoRelationIDText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
