unpackaged/main/default/flows/Update_the_Planned_Gift_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>DateLegacyClosed</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <formulas>
        <name>DateLegacyConfirmed</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <formulas>
        <description>Update the Date field when the Status field picklist value &apos;Info Requested&apos; is changed to &apos;today&apos;s date&apos;</description>
        <name>DateLegacyInfoRequested</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <formulas>
        <name>DateLegacyMatured</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <formulas>
        <name>DateLegacyProposalSent</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <interviewLabel>Update the Planned Gift Status ( {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update the Planned Gift (Status) Before Save Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>This will update the &apos;Date Closed&apos; Date field with today&apos;s date</description>
        <name>Datewhenlegacyclosed</name>
        <label>Datewhenclosed</label>
        <locationX>176</locationX>
        <locationY>791</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CLSD - Donor deceased, money received</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Legacy_Closed__c</field>
            <value>
                <elementReference>DateLegacyClosed</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>This will update the &apos;Date Legacy Date Confirmed&apos; Date field with today&apos;s date</description>
        <name>Datewhenlegacydateconfirmed</name>
        <label>Datewhendateconfirmed</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Datewhenlegacyproposalsent</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PLDG - Pledged not legally binding</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IREV - Irrevocable, legally binding</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IRA - IRA Rollover</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Legacy_Confirmed__c</field>
            <value>
                <elementReference>DateLegacyConfirmed</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>This will update the &apos;Date Legacy Info Requested&apos; Date field with today&apos;s date</description>
        <name>Datewhenlegacyinforequested</name>
        <label>Datewheninforequested</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <connector>
            <targetReference>Datewhenlegacydateconfirmed</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>INFO - requested more information</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Legacy_Info_Requested__c</field>
            <value>
                <elementReference>DateLegacyInfoRequested</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>This will update the &apos;Date Legacy Matured&apos; Date field with today&apos;s date</description>
        <name>Datewhenlegacymatured</name>
        <label>Datewhenlegacymatured</label>
        <locationX>176</locationX>
        <locationY>671</locationY>
        <connector>
            <targetReference>Datewhenlegacyclosed</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MATR - Donor deceased, waiting for distribution</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Legacy_Matured__c</field>
            <value>
                <elementReference>DateLegacyMatured</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>This will update the &apos;Date Proposal Sent&apos; Date field with today&apos;s date</description>
        <name>Datewhenlegacyproposalsent</name>
        <label>Datewhenproposalsent</label>
        <locationX>176</locationX>
        <locationY>551</locationY>
        <connector>
            <targetReference>Datewhenlegacymatured</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PROP - proposed, gift not received</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Legacy_Proposal_Sent__c</field>
            <value>
                <elementReference>DateLegacyProposalSent</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Datewhenlegacyinforequested</targetReference>
        </connector>
        <object>Planned_Gift__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
