unpackaged/main/default/flows/Update_the_Planned_Gift_Name_After_Save_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Is_This_a_New_Record_or_An_Update</name>
        <label>Is This a New Record or An Update</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Update_Existing_Planned_Gift_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNewPlannedGift</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Name_of_New_Planned_Gift</targetReference>
            </connector>
            <label>New Record</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>Check if this a new Planned Gift record</description>
        <name>IsNewPlannedGift</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <description>Formula to capture the desired Planned Gift Name</description>
        <name>PlannedGiftName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Donor__r.FirstName}&amp;&quot; &quot;&amp;{!$Record.Donor__r.LastName}&amp;&quot; &quot;&amp;{!$Record.RecordType.Name}</expression>
    </formulas>
    <interviewLabel>Update the Planned Gift (Name) After Save Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update the Planned Gift (Name) After Save Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_Name_of_New_Planned_Gift</name>
        <label>Set Name of New Planned Gift</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>PlannedGiftName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Existing_Planned_Gift_Name</name>
        <label>Update Existing Planned Gift Name</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>PlannedGiftName</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>PlannedGiftName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_This_a_New_Record_or_An_Update</targetReference>
        </connector>
        <object>Planned_Gift__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
