unpackaged/main/default/flows/Update_Event_with_Staff_Ids_and_Names.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>AddtoRecord</name>
        <label>AddtoRecord</label>
        <locationX>402</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>IdsText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_staff.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IdsText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>; </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StaffNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_staff.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StaffNames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>; </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_staff</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Update</name>
        <label>Assignment Update</label>
        <locationX>50</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>EventRecordId.Staff_Ids__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IdsText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EventRecordId.EDF_Participants__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StaffNameFinal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Event</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Task_Assignment_Update</name>
        <label>Task Assignment Update</label>
        <locationX>314</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>TaskRecordId.Staff_Ids__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IdsText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskRecordId.EDF_Participants__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StaffNameFinal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Task</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Event_or_Task</name>
        <label>Event or Task</label>
        <locationX>314</locationX>
        <locationY>542</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Event</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EventRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Update</targetReference>
            </connector>
            <label>Event</label>
        </rules>
        <rules>
            <name>Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TaskRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_Assignment_Update</targetReference>
            </connector>
            <label>Task</label>
        </rules>
    </decisions>
    <description>Added 1 minute wait</description>
    <environments>Default</environments>
    <formulas>
        <name>StaffNameFinal</name>
        <dataType>String</dataType>
        <expression>LEFT({!StaffNames}, LEN({!StaffNames}) - 2)</expression>
    </formulas>
    <interviewLabel>Update Event with Staff Ids and Names {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subflow - Update Activity with Staff Ids and Names</label>
    <loops>
        <name>Loop_through_staff</name>
        <label>Loop through staff</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <collectionReference>StaffIDCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddtoRecord</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Event_or_Task</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Event</name>
        <label>Update Event</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <inputReference>EventRecordId</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Task</name>
        <label>Update Task</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <inputReference>TaskRecordId</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Wait_for_Amount_of_Time_1</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>EventRecordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>IdsText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StaffIDCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>StaffNames</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TaskRecordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <waits>
        <name>Wait_for_Amount_of_Time_1</name>
        <elementSubtype>WaitDuration</elementSubtype>
        <label>Wait for Amount of Time 1</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Loop_through_staff</targetReference>
            </connector>
            <label>el_0</label>
            <offset>1</offset>
            <offsetUnit>Minutes</offsetUnit>
        </waitEvents>
    </waits>
</Flow>
