unpackaged/main/default/flows/Update_the_Planned_Gift_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <description>Stamp a Date field based on changes on the Record</description>
        <name>Stamp_Date</name>
        <label>Stamp Date</label>
        <locationX>710</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Legacy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>INFO - requested more information</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Datewhenlegacyinforequested</targetReference>
            </connector>
            <label>Info Requested</label>
        </rules>
        <rules>
            <name>Confirmed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PLDG - Pledged not legally binding</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IREV - Irrevocable, legally binding</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IRA - IRA Rollover</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Datewhenlegacydateconfirmed</targetReference>
            </connector>
            <label>Confirmed</label>
        </rules>
        <rules>
            <name>Proposal_Sent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PROP - proposed, gift not received</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Datewhenlegacyproposalsent</targetReference>
            </connector>
            <label>Proposal Sent</label>
        </rules>
        <rules>
            <name>Legacy_Matured</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MATR - Donor deceased, waiting for distribution</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Datewhenlegacymatured</targetReference>
            </connector>
            <label>Legacy Matured</label>
        </rules>
        <rules>
            <name>Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CLSD - Donor deceased, money received</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Datewhenlegacyclosed</targetReference>
            </connector>
            <label>Closed</label>
        </rules>
    </decisions>
    <description>Changed to a Decision Element</description>
    <environments>Default</environments>
    <formulas>
        <name>DateLegacyClosed</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <formulas>
        <name>DateLegacyConfirmed</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <formulas>
        <description>Update the Date field when the Status field picklist value &apos;Info Requested&apos; is changed to &apos;today&apos;s date&apos;</description>
        <name>DateLegacyInfoRequested</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <formulas>
        <name>DateLegacyMatured</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <formulas>
        <name>DateLegacyProposalSent</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <interviewLabel>Update the Planned Gift Status ( {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update the Planned Gift (Status) Before Save Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>This will update the &apos;Date Closed&apos; Date field with today&apos;s date</description>
        <name>Datewhenlegacyclosed</name>
        <label>Datewhenclosed</label>
        <locationX>1106</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>Date_Legacy_Closed__c</field>
            <value>
                <elementReference>DateLegacyClosed</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>This will update the &apos;Date Legacy Date Confirmed&apos; Date field with today&apos;s date</description>
        <name>Datewhenlegacydateconfirmed</name>
        <label>Datewhendateconfirmed</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>Date_Legacy_Confirmed__c</field>
            <value>
                <elementReference>DateLegacyConfirmed</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>This will update the &apos;Date Legacy Info Requested&apos; Date field with today&apos;s date</description>
        <name>Datewhenlegacyinforequested</name>
        <label>Datewheninforequested</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>Date_Legacy_Info_Requested__c</field>
            <value>
                <elementReference>DateLegacyInfoRequested</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>This will update the &apos;Date Legacy Matured&apos; Date field with today&apos;s date</description>
        <name>Datewhenlegacymatured</name>
        <label>Datewhenlegacymatured</label>
        <locationX>842</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>Date_Legacy_Matured__c</field>
            <value>
                <elementReference>DateLegacyMatured</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>This will update the &apos;Date Proposal Sent&apos; Date field with today&apos;s date</description>
        <name>Datewhenlegacyproposalsent</name>
        <label>Datewhenproposalsent</label>
        <locationX>578</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>Date_Legacy_Proposal_Sent__c</field>
            <value>
                <elementReference>DateLegacyProposalSent</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Stamp_Date</targetReference>
        </connector>
        <filterFormula>{!$Permission.Flow_Automations_Off} &lt;&gt; TRUE</filterFormula>
        <object>Planned_Gift__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
