unpackaged/main/default/flows/Update_Email_based_on_Contact_after_Merge.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Is_Alt_Type</name>
        <label>Is Alt Type?</label>
        <locationX>446</locationX>
        <locationY>888</locationY>
        <defaultConnector>
            <targetReference>Remove_P_from_Type_Matched_Emails</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Alt</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spouse</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Alternate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_P_from_Type_Matched_Emails2</targetReference>
            </connector>
            <label>Yes, Alt</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_On_Contact</name>
        <label>Is On Contact?</label>
        <locationX>1370</locationX>
        <locationY>528</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Personal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Donor__r.npe01__HomeEmail__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Email_1</targetReference>
            </connector>
            <label>Personal</label>
        </rules>
        <rules>
            <name>Work</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Donor__r.npe01__WorkEmail__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Email_W</targetReference>
            </connector>
            <label>Work</label>
        </rules>
        <rules>
            <name>Alt</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Donor__r.npe01__AlternateEmail__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Email_A</targetReference>
            </connector>
            <label>Alt</label>
        </rules>
        <rules>
            <name>Assistant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Donor__r.Assistant_Email__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Email_Ast</targetReference>
            </connector>
            <label>Assistant</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_On_Contact1</name>
        <label>Is On Contact?</label>
        <locationX>1485</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_On_Contact</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Donor__r.npe01__HomeEmail__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Donor__r.npe01__WorkEmail__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Donor__r.npe01__AlternateEmail__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Donor__r.Assistant_Email__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_OP</targetReference>
            </connector>
            <label>Yes, On Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_OP</name>
        <label>Is OP?</label>
        <locationX>809</locationX>
        <locationY>408</locationY>
        <defaultConnector>
            <targetReference>Is_On_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_OP</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4) OR (5 AND 6) OR (7 AND 8)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Personal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Donor__r.npe01__Preferred_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Personal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Work</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Donor__r.npe01__Preferred_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Work</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Donor__r.npe01__Preferred_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Alternate</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Alternate</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Donor__r.npe01__Preferred_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assistant</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assistant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Previous_OP</targetReference>
            </connector>
            <label>Yes, OP</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_Match</name>
        <label>Type Match?</label>
        <locationX>248</locationX>
        <locationY>648</locationY>
        <defaultConnector>
            <targetReference>Remove_OP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_match</name>
            <conditionLogic>1 OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Previous_OP.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Type__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Alternate</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Previous_OP.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spouse</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_OP_P</targetReference>
            </connector>
            <label>Yes, match</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Email based on Contact after Merge {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Email based on Contact after Merge</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Previous_OP</name>
        <label>Get Previous OP</label>
        <locationX>248</locationX>
        <locationY>528</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Type_Match</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Donor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Donor__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Primary__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact_Email__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Remove_OP</name>
        <label>Remove OP</label>
        <locationX>446</locationX>
        <locationY>768</locationY>
        <connector>
            <targetReference>Is_Alt_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Previous_OP.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Primary__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sys_Mod__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact_Email__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_OP_P</name>
        <label>Remove OP/P</label>
        <locationX>50</locationX>
        <locationY>768</locationY>
        <connector>
            <targetReference>Update_Email_OP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Previous_OP.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Primary__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Deliverable</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sys_Mod__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact_Email__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_P</name>
        <label>Remove P</label>
        <locationX>1106</locationX>
        <locationY>768</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Donor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Donor__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Work</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Preferred</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Deliverable</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sys_Mod__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact_Email__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_P_A</name>
        <label>Remove P</label>
        <locationX>1370</locationX>
        <locationY>768</locationY>
        <filterLogic>1 AND 2 AND 3 AND (4 OR 5 OR 6)</filterLogic>
        <filters>
            <field>Donor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Donor__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Preferred</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Assistant</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Spouse</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Alternate</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Deliverable</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sys_Mod__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact_Email__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_P_Ast</name>
        <label>Remove P</label>
        <locationX>1634</locationX>
        <locationY>768</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Donor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Donor__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Assistant</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Preferred</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Deliverable</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sys_Mod__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact_Email__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_P_from_Type_Matched_Emails</name>
        <label>Remove P from Type-Matched Emails</label>
        <locationX>578</locationX>
        <locationY>1008</locationY>
        <connector>
            <targetReference>Update_Email_OP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Donor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Donor__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Preferred</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Deliverable</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sys_Mod__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact_Email__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_P_from_Type_Matched_Emails2</name>
        <label>Remove P from Type-Matched Emails</label>
        <locationX>314</locationX>
        <locationY>1008</locationY>
        <connector>
            <targetReference>Update_Email_OP</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND( 4 OR 5)</filterLogic>
        <filters>
            <field>Donor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Donor__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Preferred</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Spouse</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Alternate</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Deliverable</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sys_Mod__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact_Email__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_P_P</name>
        <label>Remove P</label>
        <locationX>842</locationX>
        <locationY>768</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Donor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Donor__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Personal</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Preferred</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Deliverable</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sys_Mod__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact_Email__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>248</locationX>
        <locationY>1440</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Donor__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Email_1</name>
        <label>Update Email</label>
        <locationX>842</locationX>
        <locationY>648</locationY>
        <connector>
            <targetReference>Remove_P_P</targetReference>
        </connector>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Preferred</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sys_ID_from_Merged_Contact__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Sys_Mod__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Email_A</name>
        <label>Update Email</label>
        <locationX>1370</locationX>
        <locationY>648</locationY>
        <connector>
            <targetReference>Remove_P_A</targetReference>
        </connector>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Preferred</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sys_ID_from_Merged_Contact__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Sys_Mod__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Email_Ast</name>
        <label>Update Email</label>
        <locationX>1634</locationX>
        <locationY>648</locationY>
        <connector>
            <targetReference>Remove_P_Ast</targetReference>
        </connector>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Preferred</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sys_ID_from_Merged_Contact__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Sys_Mod__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Email_OP</name>
        <label>Update Email</label>
        <locationX>248</locationX>
        <locationY>1320</locationY>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>Primary__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Preferred</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sys_ID_from_Merged_Contact__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Sys_Mod__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Email_W</name>
        <label>Update Email</label>
        <locationX>1106</locationX>
        <locationY>648</locationY>
        <connector>
            <targetReference>Remove_P</targetReference>
        </connector>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Preferred</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sys_ID_from_Merged_Contact__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Sys_Mod__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>509</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sys_ID_from_Merged_Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contact_Email__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>Delayed</name>
            <connector>
                <targetReference>Is_On_Contact1</targetReference>
            </connector>
            <label>Delayed</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>Sys_Merge_Base_Formula__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Pref_Emails_of_Same_Type</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact_Email__c</objectType>
    </variables>
    <variables>
        <name>NewEmailStatus</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact_Email__c</objectType>
    </variables>
    <variables>
        <name>UpdateCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact_Email__c</objectType>
    </variables>
</Flow>
