unpackaged/main/default/flows/Update_Event_with_Staff_Ids_and_Names.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>AddtoRecord</name>
        <label>AddtoRecord</label>
        <locationX>264</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>IdsText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_staff.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IdsText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>; </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StaffNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_staff.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StaffNames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>; </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_staff</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Update</name>
        <label>Assignment Update</label>
        <locationX>176</locationX>
        <locationY>434</locationY>
        <assignmentItems>
            <assignToReference>EventRecordId.Staff_Ids__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IdsText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EventRecordId.EDF_Participants__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StaffNameFinal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Event</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>StaffNameFinal</name>
        <dataType>String</dataType>
        <expression>LEFT({!StaffNames}, LEN({!StaffNames}) - 2)</expression>
    </formulas>
    <interviewLabel>Update Event with Staff Ids and Names {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Event with Staff Ids and Names</label>
    <loops>
        <name>Loop_through_staff</name>
        <label>Loop through staff</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <collectionReference>StaffIDCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddtoRecord</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assignment_Update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Event</name>
        <label>Update Event</label>
        <locationX>176</locationX>
        <locationY>542</locationY>
        <inputReference>EventRecordId</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_through_staff</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>EventRecordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>IdsText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StaffIDCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>StaffNames</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
